<div class="shadow tile ls-tile-{{ currentTheme }}">
    <div class="ls-card-body">
      <div class="float-right">
        <ng-container *ngIf="showLoader">
          <app-loader></app-loader>
        </ng-container>
      </div>
      <app-table
        *ngIf="this.dataset"
        [dataset]="this.dataset"
        [headings]="this.tableHeadings"
        [recordsPerPage]="this.recordsPerPage"
        [rowStart]="this.rowStart"
        [rowEnd]="this.rowEnd"
        [rowCount]="this.rowCount"
        [orderBy]="this.orderBy"
        [orderByDirection]="this.orderDirection"
        [tableHeader]="this.tableHeader"
        (orderChange)="orderChange($event)"
        (pageChange)="pageChange($event)"
        (showingRecordsEvent)="recordsPerPageChange($event)"
        (searchEvent)="searchEvent($event)"
        (selectedRecord)="selectedRecord($event)">
      </app-table>
    </div>
  </div>

  <app-notification></app-notification>
  <app-modal-component></app-modal-component>
  <app-menu
  [contextShow]="this.contextMenu"
  [(x)]="this.contextMenuX"
  [(y)]="this.contextMenuY">
    <!-- Add menu -->
  </app-menu>
