<ng-keyboard-shortcuts [shortcuts]="shortcuts" *ngIf="this.shortcuts"></ng-keyboard-shortcuts>
<br><br>
<div class="capture-header">
  <div class="float-right" style="margin-top: -24px !important">
    <div class="indicator-wrapper" (click)="this.toggleLines = false;">
    <button class="indicator-btn" [ngClass]="{'indicator-active': !this.toggleLines}"></button>
    </div>
    <div class="indicator-wrapper" (click)="this.toggleLines = true;">
    <button class="indicator-btn bg-warning" [ngClass]="{'indicator-active': this.toggleLines}"></button>
  </div>
  </div>
  <h1 class="capture-form-title text-dark">
    <span *ngIf="this.toggleLines">SAD500 Lines</span>
    <span *ngIf="!this.toggleLines">SAD500</span>
  </h1>
</div>
<span [ngClass]="{'hide': this.toggleLines}">
<form (submit)="submit(); $event.preventDefault()" *ngIf="this.form !== undefined" style="padding: 24px; border-radius: 10px; background: #f2f2f2;overflow-y: auto;">
    <div class="form-group" *ngIf="this.form.serialNo != undefined">
      <input [focus]="this.focusMainForm" type="text"
        [(ngModel)]="this.form.serialNo.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-light form-control-invalid"
        [ngClass]="{'form-control-invalid': this.form.serialNo.error !== null}"
        placeholder="Serial No" />
        <p class="invalid-control-label" *ngIf="this.form.serialNo.error !== null">{{this.form.serialNo.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.LRN != undefined">
      <input type="text"
        [(ngModel)]="this.form.LRN.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': this.form.LRN.error !== null}"
        placeholder="LRN" />
        <p class="invalid-control-label" *ngIf="this.form.LRN.error !== null">{{this.form.LRN.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.CPC != undefined">
      <input type="text"
        [(ngModel)]="this.form.CPC.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': this.form.CPC.error !== null}"
        placeholder="CPC" />
        <p class="invalid-control-label" *ngIf="this.form.CPC.error !== null">{{this.form.CPC.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.PCC != undefined">
      <input type="text"
        [(ngModel)]="this.form.PCC.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-light"

        placeholder="PCC" />
        <p class="invalid-control-label" *ngIf="this.form.PCC.error !== null">{{this.form.PCC.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.totalCustomsValue != undefined">
      <input type="text"
        [(ngModel)]="this.form.totalCustomsValue.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': this.form.totalCustomsValue.error !== null}"
        placeholder="Total Customs Value" />
        <p class="invalid-control-label" *ngIf="this.form.totalCustomsValue.error !== null">{{this.form.totalCustomsValue.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.waybillNo != undefined">
      <input type="text"
        [(ngModel)]="this.form.waybillNo.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': this.form.waybillNo.error !== null}"

        placeholder="Waybill No" />
        <p class="invalid-control-label" *ngIf="this.form.waybillNo.error !== null">{{this.form.waybillNo.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.supplierRef != undefined">
      <input type="text"
        [(ngModel)]="this.form.supplierRef.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': this.form.supplierRef.error !== null}"

        placeholder="Supplier Ref" />
        <p class="invalid-control-label" *ngIf="this.form.supplierRef.error !== null">{{this.form.supplierRef.error}}</p>

    </div>
    <div class="form-group" *ngIf="this.form.MRN != undefined">
      <input type="text"
        [(ngModel)]="this.form.MRN.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': this.form.MRN.error !== null}"
        placeholder="MRN" />
        <p class="invalid-control-label" *ngIf="this.form.MRN.error !== null">{{this.form.MRN.error}}</p>
    </div>
  </form>
</span>
  <span style="display: none" [ngClass]="{'show': this.toggleLines}">
      <div style="padding: 4px 0 12px 0;" class="line-list">
          <p *ngIf="this.sad500CreatedLines.length === 0">No SAD500 Lines Added</p>
          <p *ngIf="this.sad500CreatedLines.length !== 0">
            <button (click)="prevLine()" class="btn btn-warning btn-sm" style="width: 24px; height:24px;padding:4px" [disabled]="this.sad500LineQueue.length === 1 && this.lines <= 0 || this.linePreview === 0"><span class="mdi mdi-chevron-left"></span></button>
            <span class="badge badge-warning" *ngIf="this.lines > -1">{{ this.lines + 1 }} of {{ this.sad500CreatedLines.length }}</span>
            <span class="badge badge-dark" *ngIf="this.lines === -1">New</span>
          &nbsp;
          <button (click)="nextLine()" class="btn btn-warning btn-sm" style="width: 24px; height:24px;padding:4px" *ngIf="this.sad500LineQueue.length !== 0 || this.sad500CreatedLines.length !== 0" [disabled]="this.sad500LineQueue.length === 1 && this.lines <= 0 || this.linePreview === 0"><span class="mdi mdi-chevron-right"></span></button>
          <button class="btn btn-danger btn-sm" *ngFor="let item of this.lineErrors" (click)="specificLine(this.sad500CreatedLines.indexOf(item))">{{this.sad500CreatedLines.indexOf(item) + 1}}</button>
          &nbsp;<span>{{this.lineState}}</span>
        </p>
      </div>
      <app-form-sad500-line [(showLines)]="this.toggleLines" (submitSADLine)="addToQueue($event)" (updateSADLine)="updateLine($event)" [focusSADLine]="focusLineForm" [(updateSAD500Line)]="focusLineData"></app-form-sad500-line>
  </span>
  <app-notification></app-notification>
