<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<br><br>
<div class="capture-header">
  <div class="float-right" style="margin-top: -24px !important">
    <div class="indicator-wrapper" (click)="toggleLines = false;">
    <button #sad500Tooltip="matTooltip" matTooltip="SAD500"
    matTooltipPosition="before" class="indicator-btn" [ngClass]="{'indicator-active': !toggleLines}"></button>
    </div>
    <div class="indicator-wrapper" (click)="toggleLines = true;">
    <button #sadLinesTooltip="matTooltip" matTooltip="SAD500 Lines"
    matTooltipPosition="before" class="indicator-btn bg-warning" [ngClass]="{'indicator-active': toggleLines}"></button>
  </div>
  </div>
  <h1 class="capture-form-title text-dark">
    <span *ngIf="toggleLines">{{attachmentType}} Lines</span>
    <span *ngIf="!toggleLines">{{attachmentType}} - <span style="color: #3f51b5;">{{transactionTypeDisplay}}</span></span>
  </h1>
</div>
<span [ngClass]="{'hide': toggleLines}">
  <br>
<form (submit)="submit(); $event.preventDefault()" [formGroup]="SADForm" *ngIf="form !== undefined" style="padding: 24px; border-radius: 10px; background: #f2f2f2;overflow-y: auto;">
  <!--  -->
  <div class="form-group" *ngIf="attachmentType == 'VOC'">
    <input type="text" [formControl]="voccontrol1"
      [(ngModel)]="reason"
      class="form-control form-control-sm shadow-sm form-control-light"
      placeholder="Reason for VOC" />
  </div>
  <div class="form-group" *ngIf="attachmentType == 'VOC'">
    <input type="text" [formControl]="voccontrol2"
      [(ngModel)]="referenceNo"
      class="form-control form-control-sm shadow-sm form-control-light"
      placeholder="Reference Number" />
  </div>
  <!--  -->
  <div class="form-group" *ngIf="form.MRN != undefined">
    <label class="control-label required">MRN</label>
    <input type="text" formControlName="sadcontrol1" [formControl]="voccontrol3"
      [(ngModel)]="form.MRN.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      [ngClass]="{'form-control-invalid': form.MRN.error !== null}"
      (mouseover)="updateHelpContext('form-sad500-MRN')"
      placeholder="MRN" />
      <div *ngIf="form.MRN.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="form.MRN.OBit == false || form.MRN.OBit == null" style="width: inherit" >
          {{form.MRN.error}}
          <button (click)="OverrideMRNClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
        </p>
        <input formControlName="sadcontrol1a"
        [(ngModel)]="form.MRN.OReason" *ngIf="form.MRN.OBit == true" [disabled]="disabledMRN" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="form.MRN.OBit == true"  class="input-group-append ">
          <button (click)="OverrideMRNExcept()" [disabled]="disabledMRN"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideMRN()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
  </div>
  <div class="form-group" *ngIf="form.importersCode != undefined">
    <label class="control-label required">TIN Number</label>
    <input type="text" formControlName="sadcontrol2"
      [(ngModel)]="form.importersCode.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      [ngClass]="{'form-control-invalid': form.importersCode.error !== null}"
      (mouseover)="updateHelpContext('form-sad500-importersCode')"
      placeholder="importersCode" />
      <div *ngIf="form.importersCode.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="form.importersCode.OBit == false || form.importersCode.OBit == null" style="width: inherit" >
          {{form.importersCode.error}}
          <button (click)="OverrideimportersCodeClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
        </p>
        <input formControlName="sadcontrol2a"
        [(ngModel)]="form.importersCode.OReason" *ngIf="form.importersCode.OBit == true" [disabled]="disabledimportersCode" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="form.importersCode.OBit == true"  class="input-group-append ">
          <button (click)="OverrideimportersCodeExcept()" [disabled]="disabledimportersCode"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideimportersCode()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
  </div>
    <div class="form-group" *ngIf="form.serialNo != undefined">
      <label class="control-label required">Serial No</label>
      <input [focus]="focusMainForm" type="text" formControlName="sadcontrol3"
        [(ngModel)]="form.serialNo.value"
        class="form-control form-control-sm shadow-sm form-control-light form-control-invalid"
        [ngClass]="{'form-control-invalid': form.serialNo.error !== null}"
        (mouseover)="updateHelpContext('form-sad500-serial-number')"
        placeholder="Serial No" />
        <div *ngIf="form.serialNo.error !== null" class="input-group mb-3 invalid-control-label">
          <p *ngIf="form.serialNo.OBit == false || form.serialNo.OBit == null" style="width: inherit" >
            {{form.serialNo.error}}
            <button (click)="OverrideserialNoClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
          </p>
          <input formControlName="sadcontrol3a"
          [(ngModel)]="form.serialNo.OReason" *ngIf="form.serialNo.OBit == true" [disabled]="disabledserialNo" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
          <div *ngIf="form.serialNo.OBit == true"  class="input-group-append ">
            <button (click)="OverrideserialNoExcept()" [disabled]="disabledserialNo"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
            <button (click)="UndoOverrideserialNo()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
          </div>
        </div>
    </div>
    <div class="form-group" *ngIf="form.LRN != undefined">
      <label class="control-label required">LRN</label>
      <input type="text" formControlName="sadcontrol4"
        [(ngModel)]="form.LRN.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': form.LRN.error !== null}"
        (mouseover)="updateHelpContext('form-sad500-lrn')"
        placeholder="LRN" />
        <div *ngIf="form.LRN.error !== null" class="input-group mb-3 invalid-control-label">
          <p *ngIf="form.LRN.OBit == false || form.LRN.OBit == null" style="width: inherit" >
            {{form.LRN.error}}
            <button (click)="OverrideLRNClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
          </p>
          <input formControlName="sadcontrol4a"
          [(ngModel)]="form.LRN.OReason" *ngIf="form.LRN.OBit == true" [disabled]="disabledLRN" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
          <div *ngIf="form.LRN.OBit == true"  class="input-group-append ">
            <button (click)="OverrideLRNExcept()" [disabled]="disabledLRN"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
            <button (click)="UndoOverrideLRN()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
          </div>
        </div>
    </div>
    <div class="form-group" *ngIf="form.CPC != undefined">
      <!-- <div class="row">
        <div class="col-md-3">
          <label class="control-label required">PCC</label>
          <input type="text" formControlName="sadcontrol5"
            [(ngModel)]="form.CPC.value"
            class="form-control form-control-sm shadow-sm form-control-light"
            [ngClass]="{'form-control-invalid': form.CPC.error !== null}"
            (mouseover)="updateHelpContext('form-sad500-cpc')"
            [matAutocomplete]="cpcAuto"
            (keyup)="filterCPC()"
            placeholder="CPC" />
            <mat-autocomplete #cpcAuto="matAutocomplete" >
            <mat-option *ngFor="let cpc of cpcList" [value]="cpc.CPC"
            (onSelectionChange)="selectedPCC(cpc.CPCID)">
              {{cpc.CPC}}
            </mat-option>
          </mat-autocomplete>
          <div *ngIf="form.CPC.error !== null" class="input-group mb-3 invalid-control-label">
            <p *ngIf="form.CPC.OBit == false || form.CPC.OBit == null" style="width: inherit" >
              {{form.CPC.error}}
              <button (click)="OverrideCPCClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
            </p>
            <input formControlName="sadcontrol5a"
                  [(ngModel)]="form.CPC.OReason" *ngIf="form.CPC.OBit == true" [disabled]="disabledCPC" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
            <div *ngIf="form.CPC.OBit == true"  class="input-group-append ">
              <button (click)="OverrideCPCExcept()" [disabled]="disabledCPC"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
              <button (click)="UndoOverrideCPC()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" *ngIf="form.PCC != undefined">
            <label class="control-label required">RPC</label>
            <input type="text" formControlName="sadcontrol6"
                  [(ngModel)]="form.PCC.value"
                  class="form-control form-control-sm shadow-sm form-control-light"
                  (mouseover)="updateHelpContext('form-sad500-pcc')"
                  (keyup)="filterCPC()"
                  placeholder="PCC" />
              <div *ngIf="form.PCC.error !== null" class="input-group mb-3 invalid-control-label">
              <p *ngIf="form.PCC.OBit == false || form.PCC.OBit == null" style="width: inherit" >
                {{form.PCC.error}}
                <button (click)="OverridePCCClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
              </p>
              <input formControlName="sadcontrol6a"
                    [(ngModel)]="form.PCC.OReason" *ngIf="form.PCC.OBit == true" [disabled]="disabledPCC" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
              <div *ngIf="form.PCC.OBit == true"  class="input-group-append ">
                <button (click)="OverridePCCExcept()" [disabled]="disabledPCC"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
                <button (click)="UndoOverridePCC()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group" *ngIf="form.PPC != undefined">
            <label class="control-label required">PPC</label>
            <input type="text" formControlName="sadcontrol6b"
                  [(ngModel)]="form.PPC.value"
                  class="form-control form-control-sm shadow-sm form-control-light"
                  (mouseover)="updateHelpContext('form-sad500-pcc')"
                  (keyup)="filterCPC()"
                  placeholder="PCC" />
              <div *ngIf="form.PPC.error !== null" class="input-group mb-3 invalid-control-label">
              <p *ngIf="form.PPC.OBit == false || form.PPC.OBit == null" style="width: inherit" >
                {{form.PPC.error}}
                <button (click)="OverridePPCClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
              </p>
              <input formControlName="sadcontrol16c"
                    [(ngModel)]="form.PPC.OReason" *ngIf="form.PPC.OBit == true" [disabled]="disabledPPC" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
              <div *ngIf="form.PPC.OBit == true"  class="input-group-append ">
                <button (click)="OverridePPCExcept()" [disabled]="disabledPPC"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
                <button (click)="UndoOverridePPC()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <label class="control-label required">PCC</label>
      <input type="text" formControlName="sadcontrol5"
        [(ngModel)]="form.CPC.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': form.CPC.error !== null}"
        (mouseover)="updateHelpContext('form-sad500-cpc')"
        [matAutocomplete]="cpcAuto"
        (keyup)="selectFilteredCPC()"
        placeholder="PCC" />
        <mat-autocomplete #cpcAuto="matAutocomplete" >
        <mat-option *ngFor="let cpc of cpcList" [value]="cpc.CPC"
        (onSelectionChange)="selectedPCC(cpc.CPCID)">
          {{cpc.CPC}}
        </mat-option>
      </mat-autocomplete>
      <div *ngIf="form.CPC.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="form.CPC.OBit == false || form.CPC.OBit == null" style="width: inherit" >
          {{form.CPC.error}}
          <button (click)="OverrideCPCClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
        </p>
        <input formControlName="sadcontrol5a"
              [(ngModel)]="form.CPC.OReason" *ngIf="form.CPC.OBit == true" [disabled]="disabledCPC" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="form.CPC.OBit == true"  class="input-group-append ">
          <button (click)="OverrideCPCExcept()" [disabled]="disabledCPC"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideCPC()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label required">Total Customs Value</label>
      <input type="number" formControlName="sadcontrol7"
        [(ngModel)]="form.totalCustomsValue.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': form.totalCustomsValue.error !== null}"
        (mouseover)="updateHelpContext('form-sad500-total-customs-value')"
        placeholder="Total Customs Value" />
        <div *ngIf="form.totalCustomsValue.error !== null" class="input-group mb-3 invalid-control-label">
          <p *ngIf="form.totalCustomsValue.OBit == false || form.totalCustomsValue.OBit == null" style="width: inherit" >
            {{form.totalCustomsValue.error}}
            <button (click)="OverridetotalCustomsValueClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
          </p>
          <input formControlName="sadcontrol7a"
          [(ngModel)]="form.totalCustomsValue.OReason" *ngIf="form.totalCustomsValue.OBit == true" [disabled]="disabledtotalCustomsValue" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
          <div *ngIf="form.totalCustomsValue.OBit == true"  class="input-group-append ">
            <button (click)="OverridetotalCustomsValueExcept()" [disabled]="disabledtotalCustomsValue"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
            <button (click)="UndoOverridetotalCustomsValue()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
          </div>
        </div>
    </div>
    <div class="form-group" *ngIf="form.totalCustomsDuty != undefined">
      <label class="control-label">Total Customs Duty</label>
      <input type="text" formControlName="sadcontrol8"
        [(ngModel)]="form.totalCustomsDuty.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': form.totalCustomsDuty.error !== null}"
        (mouseover)="updateHelpContext('form-sad500-total-customs-duty')"
        placeholder="Total Customs Duty" />
        <div *ngIf="form.totalCustomsDuty.error !== null" class="input-group mb-3 invalid-control-label">
          <p *ngIf="form.totalCustomsDuty.OBit == false || form.totalCustomsDuty.OBit == null" style="width: inherit" >
            {{form.totalCustomsDuty.error}}
            <button (click)="OverridetotalCustomsDutyClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
          </p>
          <input formControlName="sadcontrol8a"
          [(ngModel)]="form.totalCustomsDuty.OReason" *ngIf="form.totalCustomsDuty.OBit == true" [disabled]="disabledtotalCustomsDuty" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
          <div *ngIf="form.totalCustomsDuty.OBit == true"  class="input-group-append ">
            <button (click)="OverridetotalCustomsDutyExcept()" [disabled]="disabledtotalCustomsDuty"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
            <button (click)="UndoOverridetotalCustomsDuty()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
          </div>
        </div>
    </div>
    <div class="form-group" *ngIf="form.waybillNo != undefined">
      <label class="control-label required">Waybill No</label>
      <input type="text" formControlName="sadcontrol9"
        [(ngModel)]="form.waybillNo.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': form.waybillNo.error !== null}"
        (mouseover)="updateHelpContext('form-sad500-waybill-no')"
        placeholder="Waybill No" />
        <div *ngIf="form.waybillNo.error !== null" class="input-group mb-3 invalid-control-label">
          <p *ngIf="form.waybillNo.OBit == false || form.waybillNo.OBit == null" style="width: inherit" >
            {{form.waybillNo.error}}
            <button (click)="OverridewaybillNoClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
          </p>
          <input formControlName="sadcontrol9a"
          [(ngModel)]="form.waybillNo.OReason" *ngIf="form.waybillNo.OBit == true" [disabled]="disabledwaybillNo" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
          <div *ngIf="form.waybillNo.OBit == true"  class="input-group-append ">
            <button (click)="OverridewaybillNoExcept()" [disabled]="disabledwaybillNo"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
            <button (click)="UndoOverridewaybillNo()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
          </div>
        </div>
    </div>
    <div class="form-group" *ngIf="form.supplierRef != undefined">
      <label class="control-label">Supplier Reference</label>
      <input type="text" formControlName="sadcontrol10"
        [(ngModel)]="form.supplierRef.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': form.supplierRef.error !== null}"
        (mouseover)="updateHelpContext('form-sad500-file-or-supplier-ref')"
        placeholder="Supplier Ref" />
        <div *ngIf="form.supplierRef.error !== null" class="input-group mb-3 invalid-control-label">
          <p *ngIf="form.supplierRef.OBit == false || form.supplierRef.OBit == null" style="width: inherit" >
            {{form.supplierRef.error}}
            <button (click)="OverridesupplierRefClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
          </p>
          <input formControlName="sadcontrol10a"
          [(ngModel)]="form.supplierRef.OReason" *ngIf="form.supplierRef.OBit == true" [disabled]="disabledsupplierRef" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
          <div *ngIf="form.supplierRef.OBit == true"  class="input-group-append ">
            <button (click)="OverridesupplierRefExcept()" [disabled]="disabledsupplierRef"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
            <button (click)="UndoOverridesupplierRef()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
          </div>
        </div>

    </div>
    <div class="form-group" *ngIf="form.fileRef != undefined">
      <label class="control-label ">File Reference</label>
      <input type="text" formControlName="sadcontrol11"
        [(ngModel)]="form.fileRef.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': form.fileRef.error !== null}"
        (mouseover)="updateHelpContext('form-sad500-file-ref')"
        placeholder="File Number" />
        <div *ngIf="form.fileRef.error !== null" class="input-group mb-3 invalid-control-label">
          <p *ngIf="form.fileRef.OBit == false || form.fileRef.OBit == null" style="width: inherit" >
            {{form.fileRef.error}}
            <button (click)="OverridefileRefClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
          </p>
          <input formControlName="sadcontrol11a"
          [(ngModel)]="form.fileRef.OReason" *ngIf="form.fileRef.OBit == true" [disabled]="disabledfileRef" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
          <div *ngIf="form.fileRef.OBit == true"  class="input-group-append ">
            <button (click)="OverridefileRefExcept()" [disabled]="disabledfileRef"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
            <button (click)="UndoOverridefileRef()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
          </div>
        </div>
    </div>
    <div *ngIf="form.rebateCode != undefined && transactionType == 'export'">
      <label class="control-label required">Rebate Code</label>
      <input type="text" formControlName="sadcontrol12"
        [(ngModel)]="form.rebateCode.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        [ngClass]="{'form-control-invalid': form.rebateCode.error !== null}"
        (mouseover)="updateHelpContext('form-sad500-rebate-code')"
        placeholder="Rebate Code" />
        <p class="invalid-control-label" *ngIf="form.rebateCode.error !== null">{{form.rebateCode.error}}</p>

    </div>
  </form>
</span>
  <span style="display: none" [ngClass]="{'show': toggleLines}">
    <br>
      <div style="padding: 0 24px; background: #f2f2f2;border-radius: 10px; height: 62px;" class="line-list">
          <button mat-raised-button class="float-right bg-primary text-light" *ngIf="lines !== -1" (click)="newLine();" style="margin-top: 12px; margin-bottom: 12px;">Add New Line</button>
          <button mat-raised-button class="float-right bg-danger text-light" *ngIf="lines === -1" (click)="cancelLine();" style="margin-top: 12px; margin-bottom: 12px;">Cancel Line</button>
          <p *ngIf="!sad500CreatedLines" style="font-size: 16px;">No SAD500 Lines Added</p>
          <p *ngIf="sad500CreatedLines">
            <button (click)="prevLine()" *ngIf="sad500LineQueue.length !== 0 || sad500CreatedLines.length !== 0" style="margin-top: 12px; margin-bottom: 12px;" mat-button [disabled]="sad500LineQueue.length === 1 && lines <= 0 || linePreview === 0"><span class="mdi mdi-chevron-left"></span></button>
            <span class="badge badge-transparent" *ngIf="lines > -1">Line {{ lines + 1 }} of {{ sad500CreatedLines.length }}</span>
            <span class="badge badge-transparent" *ngIf="lines === -1" style="margin-top: 12px; margin-bottom: 12px;">New Line</span>
          &nbsp;
          <button (click)="nextLine()" style="margin-top: 12px; margin-bottom: 12px;" mat-button *ngIf="sad500LineQueue.length !== 0 || sad500CreatedLines.length !== 0" [disabled]="sad500LineQueue.length === 1 && lines <= 0 || linePreview === 0"><span class="mdi mdi-chevron-right"></span></button>
          &nbsp;<span>{{lineState}}</span>
        </p>
        <div class="line-errors" *ngIf="lineErrors.length > 0">
            <button style="margin-bottom: 12px; width:24px; height: 24px;padding: 4px !important" class="btn btn-danger btn-sm" *ngFor="let item of lineErrors" (click)="specificLine(sad500CreatedLines.indexOf(item))">{{sad500CreatedLines.indexOf(item) + 1}}</button>
        </div>
      </div>
      <br>
      <app-form-sad500-line  [attachmentType] ="attachmentType" [(showLines)]="toggleLines" (submitVOCLine)="saveLines($event)" (submitSADLine)="addToQueue($event)" (updateSADLine)="updateLine($event)" [focusSADLine]="focusLineForm" [(updateSAD500Line)]="focusLineData" (linesValid) ="CathLinesValid($event)"></app-form-sad500-line>
  </span>
  <app-notification></app-notification>
