<form (submit)="submit($event); $event.preventDefault()" style="overflow-y: auto" *ngIf="this.form !== undefined">
    <div class="form-group" *ngIf="this.form.serialNo != undefined">
      <input type="text"
        [(ngModel)]="this.form.serialNo.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }} form-control-invalid"
        [ngClass]="{'form-control-invalid': this.form.serialNo.error !== null}"
        placeholder="Serial No" />
        <p class="invalid-control-label" *ngIf="this.form.serialNo.error !== null">{{this.form.serialNo.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.LRN != undefined">
      <input type="text"
        [(ngModel)]="this.form.LRN.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
        [ngClass]="{'form-control-invalid': this.form.LRN.error !== null}"
        placeholder="LRN" />
        <p class="invalid-control-label" *ngIf="this.form.LRN.error !== null">{{this.form.LRN.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.PCC != undefined">
      <input type="text"
        [(ngModel)]="this.form.PCC.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"

        placeholder="PCC" />
        <p class="invalid-control-label" *ngIf="this.form.PCC.error !== null">{{this.form.PCC.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.totalCustomsValue != undefined">
      <input type="text"
        [(ngModel)]="this.form.totalCustomsValue.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
        [ngClass]="{'form-control-invalid': this.form.totalCustomsValue.error !== null}"
        placeholder="Total Customs Value" />
        <p class="invalid-control-label" *ngIf="this.form.totalCustomsValue.error !== null">{{this.form.totalCustomsValue.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.waybillNo != undefined">
      <input type="text"
        [(ngModel)]="this.form.waybillNo.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
        [ngClass]="{'form-control-invalid': this.form.waybillNo.error !== null}"

        placeholder="Waybill No" />
        <p class="invalid-control-label" *ngIf="this.form.waybillNo.error !== null">{{this.form.waybillNo.error}}</p>
    </div>
    <div class="form-group" *ngIf="this.form.supplierRef != undefined">
      <input type="text"
        [(ngModel)]="this.form.supplierRef.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
        [ngClass]="{'form-control-invalid': this.form.supplierRef.error !== null}"

        placeholder="Supplier Ref" />
        <p class="invalid-control-label" *ngIf="this.form.supplierRef.error !== null">{{this.form.supplierRef.error}}</p>

    </div>
    <div class="form-group" *ngIf="this.form.MRN != undefined">
      <input type="text"
        [(ngModel)]="this.form.MRN.value" [ngModelOptions]="{standalone: true}"
        class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
        [ngClass]="{'form-control-invalid': this.form.MRN.error !== null}"
        placeholder="MRN" />
        <p class="invalid-control-label" *ngIf="this.form.MRN.error !== null">{{this.form.MRN.error}}</p>

    </div>
    <div class="form-group text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <br>
  <app-form-sad500-line (submitSADLine)="addToQueue($event)"></app-form-sad500-line>
  <br>
  <div style="padding: 12px;">
    <button *ngFor="let item of this.sad500LineQueue; let i = index" mat-button-raised class="btn-primary" (click)="revisitSAD500Line(item)">{{i + 1}}</button>
  </div>
  <app-notification></app-notification>
