//ccs for the table
.form-control {
    border: 1px rgba(30, 30, 30, 0.2) solid;
  }
  
  .btn-add {
    width: 35px;
    height: 35px;
    padding: 3px 0px;
    border-radius: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #71c016;
    color:#fff;
  }
  
  .form-control:focus {
    border: 1px #4d83ff solid;
  
  }
  
  .active-page {
    background: #4d83ff;
    color: #f2f2f2;
  }
  
  .page-link {
    border: none;
    border-radius: 0;
  }
  
  .page-item {
    border: none;
    border-radius: 0;
  }
  
  td {
    overflow-x: auto;
  }
  
  .btn-sort {
    padding: 0;
    margin: 0;
    width: 115%;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
  }
  
  .btn-sort>p {
    display: inline
  }
  
  .btn-sort:hover {
    color: #4d83ff;
  }
  
  .hover-pointer {
    cursor: pointer;
  }
  
  .order-active {
    color: #4d83ff !important;
  }
  
  .order-not-active {
    color: #333333;
  }
  
  .table {
    overflow-x: auto;
  }
  
  .ls-card-body {
    width: 100%;
    padding: 25px;
  }
  .popBodyNav {
    list-style-type: none;
    padding: 0px !important;
  }
  .popBodyNav .nav-link:hover {
    color: white;
    background: #4d83ff;
  
  }
  .popover-body {
    padding: 0px !important;
  }
  
  
  
  
  
  
  
  
  .arrow {
    display: none !important;
  }
  //brandon's css
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  .contextMenuDiv {
    width:100px;
    height:50px;
  }
  
  tr {
    cursor: pointer;
  }
  .popBodyNav {
    cursor: pointer;
    background: transparent !important;
  }
  .popnav {
    border-radius: 20px !important;
  }
  // .popover {
  //   transform: translateX(var(--x));
  //   transform: translateX(var(--y));
  // }
  
  .bs-popover-top {
    transform: translate(100px, 100px) !important;
  }
  
  .contextOverlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1000;
    cursor: pointer;
  }
  td {
    border: 1px solid transparent !important;
  }
  tr.active {
    background-color:#b3c9ff !important;
    box-shadow: 0 0.75rem 1.2rem rgba(0, 0, 0, 0.301) !important;
    border: 1px solid transparent !important;
    td {
      border: 1px solid transparent !important;
    }
  }
  
  