<form [formGroup]="form" (ngSubmit)="submit(form)" mat-dialog-content *ngIf="permitTypeID === 1">
  <div class="row">
    <div class="col-12">
      <h3>Required Tariff Information</h3>
      <br><br>
    </div>
    <div class="col-12">
      <ls-autocomplete-units-of-measure [(control)]="form.controls.unitOfMeasureID" [helpSlug]="'form-cws-line-uom'"></ls-autocomplete-units-of-measure>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Quantity
        </mat-label>
        <input matInput type="number" formControlName="quantity" (focusin)="updateHelpContext('form-customs-worksheet-line-hsquantity')">
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Price
        </mat-label>
      <input matInput type="number" formControlName="price" (focusin)="updateHelpContext('form-invoice-line-unitprice')">
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-12 text-right">
      <button mat-dialog-close mat-button type="button">Close</button>
      <button mat-raised-button color="accent" type="submit">Submit</button>
    </div>
  </div>
</form>

<form [formGroup]="epcForm" (ngSubmit)="submit(epcForm)" mat-dialog-content *ngIf="permitTypeID === 3">
  <div class="row">
    <div class="col-12">
      <h3>Required Tariff Information</h3>
      <br><br>
    </div>
    <div class="col-12">
      <ls-autocomplete-items [(control)]="this.epcForm.controls.ItemID"></ls-autocomplete-items>
    </div>
    <div class="col-12 text-right">
      <button mat-dialog-close mat-button type="button">Close</button>
      <button mat-raised-button color="accent" type="submit">Submit</button>
    </div>
  </div>
</form>
