<mat-form-field [appearance]="appearance">
  <mat-label>
    Currency
  </mat-label>
  <input type="text" matInput [formControl]="query" [matAutocomplete]="cpcAuto">
  <mat-error *ngIf="query.hasError('required')">This field is required</mat-error>
  <mat-error *ngIf="query.hasError('incorrect')">An option has not been selected</mat-error>
</mat-form-field>
<mat-autocomplete #cpcAuto="matAutocomplete" [displayWith]="displayFn">
  <mat-option *ngFor="let item of list" [value]="item">
    {{item.code}}, {{item.name}}
  </mat-option>
</mat-autocomplete>
