<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<mat-card style="background: #fafafa;" class="cover">
  <mat-card-content>
    <div class="row">
      <div class="col-6" style="height: 100vh; overflow-y: auto;">
        <app-document-viewer *ngIf="currentPDFSource" #pdfviewer [(source)]="currentPDFSource"></app-document-viewer>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div style="float: right">
              <ng-container *ngIf="!consultant">
                <button tabindex="-1" #submitButton mat-button class="bg-primary text-light" style="margin-right: 10px;" (click)="submitToConsultant(); submitButton.disabled = true;">Submit to Consultant</button>
              </ng-container>
              <ng-container *ngIf="consultant">
                <button tabindex="-1" #submitButton mat-button class="bg-primary text-light" style="margin-right: 10px;" (click)="approve(); submitButton.disabled = true;">Approve</button>
              </ng-container>
            </div>
            <button tabindex="-1" mat-icon-button [routerLink]="['/companies/transactions']"><mat-icon>arrow_back</mat-icon></button><h3 class="text-muted" style="display: inline-block;">{{transaction}}</h3>
            <br>
            <br>
            <p>Transaction Documents</p>
            <button *ngFor="let item of attachments; let i = index" mat-raised-button #documents
            tabindex="-1"
              style="cursor: pointer;margin-bottom: 24px;margin-right: 24px"
              [ngClass]="{'bg-success': currentPDFIndex === i}"
              [matTooltip]="item.name + ' (' + item.fileType + ')' + ' - ' + item.tooltip"
              matTooltipPosition="after"
              (click)="previewCapture(item.file, item.itemmentID)"><mat-icon>insert_drive_file</mat-icon>&nbsp;{{ item.fileType }}
            </button>
            <br>
            <br>
          </div>
          <div class="col-12">
            <button id="startLine" mat-button>TAB from here (ALT + L)</button>
            <ng-container *ngFor="let item of sadLines; let i = index;">
              <button
              #lines
              mat-button [matMenuTriggerFor]="menu"
              style="width: 100%; padding: 0; margin: 0;">
              <mat-card>
                <mat-card-content>
                  <div class="row">
                    <div class="col-12">
                      <h3 class="text-left">Line {{i+1}}</h3>
                    </div>
                    <div class="col-4">
                      <p class="text-left" style="width: 100%;">
                        <strong>Tariff</strong> {{item.tariff}} <br>
                        <strong>Customs Value</strong> {{item.customsValue}} <br>
                        <strong>Country of Origin</strong> {{item.country ? item.country.Name : '-'}}
                      </p>
                    </div>
                    <div class="col-4">
                      <p class="text-left" style="width: 100%;">
                        <strong>Previous Declaration</strong> {{item.previousDeclaration}} <br>
                        <strong>Quantity</strong> {{item.quantity}} <br>
                        <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
                      </p>
                    </div>
                    <div class="col-4">
                      <p class="text-left" style="width: 100%;">
                        <strong>Supply Unit</strong> {{item.supplyUnit}} <br>
                      </p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="_invoiceLinkDialog(i);">Invoice Lines</button>
              <button mat-menu-item (click)="_customsLinkDialog(i);">Customs Worksheet Lines</button>
            </mat-menu>
            <br>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>




<!-- OLD -->
<!-- <div class="col-12">
        <p>Transaction Documents</p>
        <button *ngFor="let item of attachments" tabindex="-1" mat-raised-button
          style="cursor: pointer;margin-bottom: 24px;margin-right: 24px"
          [matTooltip]="item.name + ' (' + item.fileType + ')' + ' - ' + item.tooltip"
          matTooltipPosition="after"
          (click)="previewCapture(item.file, item.itemmentID)"><mat-icon>insert_drive_file</mat-icon>&nbsp;{{ item.fileType }}
        </button>
        <br>
        <br>

        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>SAD Lines</mat-label>
          <mat-select [formControl]="control">
            <mat-option *ngFor="let line of sadLines" [value]="line">
              Line No {{line.lineNo}}
            </mat-option>
          </mat-select>
          <mat-hint>Select an SAD500 Line to begin</mat-hint>
        </mat-form-field>
        <br>
        <br>
        <mat-card *ngIf="currentSADLine" style="background: transparent; box-shadow: none; padding: 0;">
          <mat-card-content style="padding: 0;">
            <div class="row">
              <div class="col-4">
                <p style="width: 100%;">
                  <strong>Tariff</strong> {{currentSADLine.tariff}} <br>
                  <strong>Customs Value</strong> {{currentSADLine.customsValue}} <br>
                  <strong>Country of Origin</strong> {{currentSADLine.country ? currentSADLine.country.Name : '-'}}
                </p>
              </div>
              <div class="col-4">
                <p style="width: 100%;">
                  <strong>Previous Declaration</strong> {{currentSADLine.previousDeclaration}} <br>
                  <strong>Quantity</strong> {{currentSADLine.quantity}} <br>
                  <strong>Unit Of Measure</strong> {{currentSADLine.unit ? currentSADLine.unit.Description : '-'}}
                </p>
              </div>
              <div class="col-4">
                <p style="width: 100%;">
                  <strong>Supply Unit</strong> {{currentSADLine.supplyUnit}} <br>
                </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>


      </div> -->
      <!-- <div class="col-6">
        <div class="example-container">
          <mat-card *ngIf="warning" class="bg-warning">
            <mat-card-content>
              <h5>{{warning.title}}</h5>
              <p>{{warning.msg}}</p>
            </mat-card-content>
          </mat-card>
          <h4><span style="color: rgb(172, 0, 0);">SAD500</span> Container</h4>
          <div
            cdkDropList
            #sadline="cdkDropList"
            [cdkDropListData]="currentLinks"
            [cdkDropListConnectedTo]="[invoiceList, cwsList]"
            class="example-list"
            (cdkDropListDropped)="dropInSAD($event)">
            <ng-container *ngIf="!loading">
            <div class="example-box" *ngFor="let item of currentLinks" cdkDrag>
              <ng-container *ngIf="item.type === 'cws'">
                <div class="row">
                  <div class="col-12">
                    <p style="width: 100%;"><span style="color: rgb(96, 11, 255)"><strong>Customs Worksheet Line</strong></span></p>
                  </div>
                  <div class="col-6">
                    <p style="width: 100%;">
                      <strong>Invoice No</strong> {{item.invoiceNo}} <br>
                      <strong>Customs Value</strong> {{item.custVal}} <br>
                      <strong>HS Quantity</strong> {{item.hsQuantity}} <br>
                      <strong>Foreign Inv</strong> {{item.foreignInv}} <br>
                      <strong>Supply Unit</strong> {{item.supplyUnit}} <br>
                    </p>
                  </div>
                  <div class="col-6">
                    <p style="width: 100%;">
                      <strong>Country of Origin</strong> {{item.country ? item.country.Name : '-'}} <br>
                      <strong>Customs Value</strong> {{item.custVal}} <br>
                      <strong>Currency</strong> {{item.currency}} <br>
                      <strong>Duty</strong> {{item.duty}} <br>
                      <strong>Common Factor</strong> {{item.commonFactor}} <br>
                      <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
                    </p>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="item.type === 'inv'">
                <div class="row">
                  <div class="col-12">
                    <p style="width: 100%;"><span style="color: rgb(0, 167, 28)"><strong>Invoice Line</strong></span></p>
                  </div>
                  <div class="col-6">
                    <p style="width: 100%;">
                      <strong>Invoice No</strong> {{item.invoiceNo}} <br>
                      <strong>Total Line Value</strong> {{item.totalLineValue}} <br>
                      <strong>Product Code</strong> {{item.prodCode}} <br>
                      <strong>Unit Price</strong> {{item.unitPrice}} <br>
                    </p>
                  </div>
                  <div class="col-6">
                    <p style="width: 100%;">
                      <strong>Item</strong> {{item.items ? item.items.Name : '-'}} <br>
                      <strong>Quantity</strong> {{item.quantity}} <br>
                      <strong>Common Factor</strong> {{item.commonFactor}} <br>
                      <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
                    </p>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="loading">
            <loader></loader>
          </ng-container>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-3">
        <div class="example-container" style="border-color: rgb(96, 11, 255);">
          <h4>Custom Worksheet <span style="color: rgb(96, 11, 255)">Lines</span></h4>
          <div
            cdkDropList
            #cwsList="cdkDropList"
            [cdkDropListData]="cwsLines"
            [cdkDropListConnectedTo]="[sadline]"
            class="example-list"
            (cdkDropListDropped)="dropCWS($event)">
            <ng-container *ngIf="!loading">
            <div class="example-box" *ngFor="let item of cwsLines; let i = index" cdkDrag>
              <div class="row">
                <div class="col-6">
                  <p style="width: 100%;">
                    <strong>Invoice No</strong> {{item.invoiceNo}} <br>
                    <strong>Customs Value</strong> {{item.custVal}} <br>
                    <strong>HS Quantity</strong> {{item.hsQuantity}} <br>
                    <strong>Foreign Inv</strong> {{item.foreignInv}} <br>
                    <strong>Supply Unit</strong> {{item.supplyUnit}} <br>
                  </p>
                </div>
                <div class="col-6">
                  <p style="width: 100%;">
                    <strong>Country of Origin</strong> {{item.country ? item.country.Name : '-'}} <br>
                    <strong>Customs Value</strong> {{item.custVal}} <br>
                    <strong>Currency</strong> {{item.currency}} <br>
                    <strong>Duty</strong> {{item.duty}} <br>
                    <strong>Common Factor</strong> {{item.commonFactor}} <br>
                    <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="loading">
            <loader></loader>
          </ng-container>
          </div>
        </div>
      </div> -->
      <!-- <div class="col-3">
        <div class="example-container" style="border-color: rgb(0, 167, 28);">
          <h4>Invoice <span style="color: rgb(0, 167, 28)">Lines</span></h4>
          <div
            cdkDropList
            #invoiceList="cdkDropList"
            [cdkDropListData]="invLines"
            [cdkDropListConnectedTo]="[sadline]"
            class="example-list"
            (cdkDropListDropped)="dropINV($event)">
            <ng-container *ngIf="!loading">
              <div class="example-box" *ngFor="let item of invLines" cdkDrag>
                <div class="row">
                  <div class="col-6">
                    <p style="width: 100%;">
                      <strong>Invoice No</strong> {{item.invoiceNo}} <br>
                      <strong>Total Line Value</strong> {{item.totalLineValue}} <br>
                      <strong>Product Code</strong> {{item.prodCode}} <br>
                      <strong>Unit Price</strong> {{item.unitPrice}} <br>
                    </p>
                  </div>
                  <div class="col-6">
                    <p style="width: 100%;">
                      <strong>Item</strong> {{item.items ? item.items.Name : '-'}} <br>
                      <strong>Quantity</strong> {{item.quantity}} <br>
                      <strong>Common Factor</strong> {{item.commonFactor}} <br>
                      <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
                    </p>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="loading">
              <loader></loader>
            </ng-container>
          </div>
        </div>
      </div> -->
