<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<mat-card style="background: #fafafa;" class="cover">
  <mat-card-content>
    <div class="row">
      <div class="col-6 pdf-viewer-cont" id="pdfWrapper">
        <div class="reader-line" ngDraggable [inBounds]="true" [lockAxis]="'x'" [position]="{ x: this.currentReaderPOS.x, y: this.currentReaderPOS.y }">
          <span class="mdi mdi-drag" style="position: absolute; right: 14px; top: 1px;"></span>
        </div>
        <app-document-viewer *ngIf="currentPDFSource" #pdfviewer [(source)]="currentPDFSource"></app-document-viewer>
      </div>
      <div class="col-6" style="padding: 12px; height: 100vh; overflow-y: auto;">
        <div class="row">
          <div class="col-12">
            <h3 class="text-muted" style="display: inline-block;">{{transaction}}</h3>
            <br>
            <br>
            <p>Transaction Documents</p>
            <button *ngFor="let item of attachments; let i = index" mat-raised-button #documents
            tabindex="-1"
              style="cursor: pointer;margin-bottom: 24px;margin-right: 24px"
              [ngClass]="{'bg-success': currentPDFIndex === i}"
              [matTooltip]="item.name + ' (' + item.fileType + ')' + ' - ' + item.tooltip"
              matTooltipPosition="after"
              (click)="previewCapture(item.file, item.itemmentID)"><mat-icon>insert_drive_file</mat-icon>&nbsp;{{ item.fileType }}
            </button>
            <br>
            <br>
            <h3 *ngIf="sadLines">SAD500 Lines ({{sadLines.length}})</h3>
          </div>
          <ng-container *ngIf="currentAttachment">
            <ng-container *ngIf="currentAttachment.fileType == 'Invoice'">
              <div class="col-12">
                <br>
                <mat-form-field style="width: 100%;">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" [formControl]="invoiceDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              <mat-form-field style="width: 100%;" *ngIf="invoiceDate.value && invoiceDate.value !== null">
                <input type="text"
                placeholder="Select Exchange Rate"
                aria-label="Number"
                matInput
                [formControl]="rateOfExchange"
                [matAutocomplete]="auto3">
                <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayRate">
                  <mat-option *ngFor="let exchangerate of rates" [value]="exchangerate">
                    {{exchangerate.Currency}}, {{exchangerate.ExchangeRate}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
                <br>
                <button mat-raised-button color="accent" (click)="SetEchangeRate();" style="cursor: pointer;margin-bottom: 24px;margin-right: 24px">Update Exchange Rate</button>&nbsp;
                <button mat-button (click)="SetEchangeRate(true);" style="cursor: pointer;margin-bottom: 24px;margin-right: 24px">Clear Exchange Rate</button>
              </div>
            </ng-container>
          </ng-container>
          <div class="col-12">
            <button id="startLine" mat-button style="opacity: 0;"></button>
            <ng-container *ngFor="let item of sadLines; let i = index;">
              <button
                #lines
                mat-button [matMenuTriggerFor]="menu"
                style="width: 100%; padding: 0; margin: 0;">
                <mat-card>
                  <mat-card-content>
                    <div class="row">
                      <div class="col-12">
                        <mat-chip-list aria-label="runningTotals" style="float: right;">
                          <mat-chip
                          [ngClass]="{'bg-success': item.runningCustomsValueStatus === totalStatuses.Passed, 'bg-danger': item.runningCustomsValueStatus === totalStatuses.Failed, 'bg-warning': item.runningCustomsValueStatus === totalStatuses.None}"
                          [matTooltip]="item.OBit ? item.OReason : item.runningCustomsValueStatus === totalStatuses.Failed || item.runningCustomsValueStatus === totalStatuses.None ? 'Running total does not equal target' : 'Running total equals target'">
                            Customs Value&nbsp;
                            <strong>({{item.runningCustomsValue}}/{{item.customsValue}})</strong>&nbsp;
                            <mat-icon>
                              {{ item.runningCustomsValueStatus === totalStatuses.Passed ? 'check' : '' }}
                              {{ item.runningCustomsValueStatus === totalStatuses.Failed ? 'close' : '' }}
                              {{ item.runningCustomsValueStatus === totalStatuses.None ? 'remove' : '' }}
                            </mat-icon>
                          </mat-chip>
                          <mat-chip
                          [ngClass]="{'bg-success': item.runningForeignValueStatus === totalStatuses.Passed, 'bg-danger': item.runningForeignValueStatus === totalStatuses.Failed, 'bg-warning': item.runningForeignValueStatus === totalStatuses.None}"
                          [matTooltip]="item.ForeignOBit ? item.ForeignInvoiceOReason : item.runningForeignValueStatus === totalStatuses.Failed || item.runningForeignValueStatus === totalStatuses.None ? 'Running total does not equal target' : 'Running total equals target'">
                            Foreign Inv&nbsp;<strong>({{item.runningTotalLineValue}})</strong>&nbsp;vs Total Line Value&nbsp;
                            <strong>({{item.runningForeignValue}})</strong>&nbsp;
                            <mat-icon>
                              {{ item.runningForeignValueStatus === totalStatuses.Passed ? 'check' : '' }}
                              {{ item.runningForeignValueStatus === totalStatuses.Failed ? 'close' : '' }}
                              {{ item.runningForeignValueStatus === totalStatuses.None ? 'remove' : '' }}
                            </mat-icon>
                          </mat-chip>
                        </mat-chip-list>
                        <h3 class="text-left">Line {{i+1}}</h3>
                        <br>
                      </div>
                      <div class="col-4">
                        <p class="text-left" style="width: 100%;">
                          <strong>Tariff</strong> {{item.tariff}} <br>
                          <strong>Customs Value</strong> {{item.customsValue}} <br>
                          <strong>Supply Unit</strong> {{item.supplyUnit}} <br>
                        </p>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="_invoiceLinkDialog(i);">Invoice Lines</button>
              <button mat-menu-item (click)="_customsLinkDialog(i);">Customs Worksheet Lines</button>

              <ng-container *ngIf="item.runningCustomsValueStatus === totalStatuses.Failed || item.runningCustomsValueStatus === totalStatuses.None">
                <hr>
                <button mat-menu-item (click)="customsValueChip(item);">Override Customs Value</button>
              </ng-container>
              <ng-container *ngIf="item.runningCustomsValueStatus === totalStatuses.Passed && item.OBit">
                <hr>
                <button mat-menu-item (click)="undoOverride(item, 'Customs Value');">Undo Override Customs Value</button>
              </ng-container>

              <ng-container *ngIf="item.runningForeignValueStatus === totalStatuses.Failed || item.runningForeignValueStatus === totalStatuses.None">
                <hr>
                <button mat-menu-item (click)="foreignValueChip(item);">Override Foreign Invoice Value</button>
              </ng-container>
              <ng-container *ngIf="item.runningForeignValueStatus === totalStatuses.Passed && item.ForeignValueOBit">
                <hr>
                <button mat-menu-item (click)="undoOverride(item, 'Foreign Invoice Value');">Undo Foreign Invoice Value</button>
              </ng-container>
            </mat-menu>
            <br>
            <br>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="shortcutView" *ngIf="this.showHelp">
  <div class="overlay" (click)="this.showHelp = false;">
    <img src="assets/svg/keyboard-shortcuts/Linking.png" />
  </div>
</div>

<div class="company-container" [ngClass]="{'show-company-container': companyShowToggle}">
  <div class="company-info shadow text-left" *ngIf="companyInfoList">
    <div *ngFor="let info of companyInfoList.captureInfo" class="info-item">
      <p>{{info.info}}</p>
    </div>
    <div class="info-item bg-transparent text-muted" *ngIf="companyInfoList.captureInfo.length === 0">
      <p>No Capture Info</p>
    </div>
  </div>
</div>
