<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<mat-card style="background: #fafafa;" class="cover">
  <mat-card-content>
    <div class="row">
      <div class="col-6 pdf-viewer-cont">
        <div class="reader-line" ngDraggable [inBounds]="true" [lockAxis]="'x'" [position]="{ x: this.currentReaderPOS.x, y: this.currentReaderPOS.y }">
          <span class="mdi mdi-drag" style="position: absolute; right: 14px; top: 1px;"></span>
        </div>
        <app-document-viewer *ngIf="currentPDFSource" #pdfviewer [(source)]="currentPDFSource"></app-document-viewer>
      </div>
      <div class="col-6" style="padding: 12px;">
        <div class="row">
          <div class="col-12">
            <h3 class="text-muted" style="display: inline-block;">{{transaction}}</h3>
            <br>
            <br>
            <p>Transaction Documents</p>
            <button *ngFor="let item of attachments; let i = index" mat-raised-button #documents
            tabindex="-1"
              style="cursor: pointer;margin-bottom: 24px;margin-right: 24px"
              [ngClass]="{'bg-success': currentPDFIndex === i}"
              [matTooltip]="item.name + ' (' + item.fileType + ')' + ' - ' + item.tooltip"
              matTooltipPosition="after"
              (click)="previewCapture(item.file, item.itemmentID)"><mat-icon>insert_drive_file</mat-icon>&nbsp;{{ item.fileType }}
            </button>
            <br>
            <br>
            <h3 *ngIf="sadLines">SAD500 Lines ({{sadLines.length}})</h3>
          </div>
          <div class="col-12">
            <button id="startLine" mat-button style="opacity: 0;"></button>
            <ng-container *ngFor="let item of sadLines; let i = index;">
              <button
              #lines
              mat-button [matMenuTriggerFor]="menu"
              style="width: 100%; padding: 0; margin: 0;">
              <mat-card>
                <mat-card-content>
                  <div class="row">
                    <div class="col-12">
                      <mat-chip-list tabindex="-1" aria-label="runningTotals" style="float: right;">
                        <mat-chip tabindex="-1" [ngClass]="{'bg-success': item.runningCustomsValueStatus === totalStatuses.Passed, 'bg-danger': item.runningCustomsValueStatus === totalStatuses.Failed}">
                          Customs Value&nbsp;
                          <strong>{{item.runningCustomsValue}}</strong>&nbsp;
                          <mat-icon>
                            {{ item.runningCustomsValueStatus === totalStatuses.Passed ? 'check' : '' }}
                            {{ item.runningCustomsValueStatus === totalStatuses.Failed ? 'close' : '' }}
                            {{ item.runningCustomsValueStatus === totalStatuses.None ? 'remove' : '' }}
                          </mat-icon>
                        </mat-chip>
                      </mat-chip-list>
                      <h3 class="text-left">Line {{i+1}}</h3>
                      <br>
                    </div>
                    <div class="col-4">
                      <p class="text-left" style="width: 100%;">
                        <strong>Tariff</strong> {{item.tariff}} <br>
                        <strong>Customs Value</strong> {{item.customsValue}} <br>
                        <strong>Supply Unit</strong> {{item.supplyUnit}} <br>
                      </p>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="_invoiceLinkDialog(i);">Invoice Lines</button>
              <button mat-menu-item (click)="_customsLinkDialog(i);">Customs Worksheet Lines</button>
            </mat-menu>
            <br>
            <br>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="shortcutView" *ngIf="this.showHelp">
  <div class="overlay" (click)="this.showHelp = false;">
    <img src="assets/svg/keyboard-shortcuts/Linking.png" />
  </div>
</div>

<!-- OLD -->
<!-- <div class="col-12">
        <p>Transaction Documents</p>
        <button *ngFor="let item of attachments" tabindex="-1" mat-raised-button
          style="cursor: pointer;margin-bottom: 24px;margin-right: 24px"
          [matTooltip]="item.name + ' (' + item.fileType + ')' + ' - ' + item.tooltip"
          matTooltipPosition="after"
          (click)="previewCapture(item.file, item.itemmentID)"><mat-icon>insert_drive_file</mat-icon>&nbsp;{{ item.fileType }}
        </button>
        <br>
        <br>

        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>SAD Lines</mat-label>
          <mat-select [formControl]="control">
            <mat-option *ngFor="let line of sadLines" [value]="line">
              Line No {{line.lineNo}}
            </mat-option>
          </mat-select>
          <mat-hint>Select an SAD500 Line to begin</mat-hint>
        </mat-form-field>
        <br>
        <br>
        <mat-card *ngIf="currentSADLine" style="background: transparent; box-shadow: none; padding: 0;">
          <mat-card-content style="padding: 0;">
            <div class="row">
              <div class="col-4">
                <p style="width: 100%;">
                  <strong>Tariff</strong> {{currentSADLine.tariff}} <br>
                  <strong>Customs Value</strong> {{currentSADLine.customsValue}} <br>
                  <strong>Country of Origin</strong> {{currentSADLine.country ? currentSADLine.country.Name : '-'}}
                </p>
              </div>
              <div class="col-4">
                <p style="width: 100%;">
                  <strong>Previous Declaration</strong> {{currentSADLine.previousDeclaration}} <br>
                  <strong>Quantity</strong> {{currentSADLine.quantity}} <br>
                  <strong>Unit Of Measure</strong> {{currentSADLine.unit ? currentSADLine.unit.Description : '-'}}
                </p>
              </div>
              <div class="col-4">
                <p style="width: 100%;">
                  <strong>Supply Unit</strong> {{currentSADLine.supplyUnit}} <br>
                </p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <br>


      </div> -->
<!-- <div class="col-6">
  <div class="example-container">
    <mat-card *ngIf="warning" class="bg-warning">
      <mat-card-content>
        <h5>{{warning.title}}</h5>
        <p>{{warning.msg}}</p>
      </mat-card-content>
    </mat-card>
    <h4><span style="color: rgb(172, 0, 0);">SAD500</span> Container</h4>
    <div
      cdkDropList
      #sadline="cdkDropList"
      [cdkDropListData]="currentLinks"
      [cdkDropListConnectedTo]="[invoiceList, cwsList]"
      class="example-list"
      (cdkDropListDropped)="dropInSAD($event)">
      <ng-container *ngIf="!loading">
      <div class="example-box" *ngFor="let item of currentLinks" cdkDrag>
        <ng-container *ngIf="item.type === 'cws'">
          <div class="row">
            <div class="col-12">
              <p style="width: 100%;"><span style="color: rgb(96, 11, 255)"><strong>Customs Worksheet Line</strong></span></p>
            </div>
            <div class="col-6">
              <p style="width: 100%;">
                <strong>Invoice No</strong> {{item.invoiceNo}} <br>
                <strong>Customs Value</strong> {{item.custVal}} <br>
                <strong>HS Quantity</strong> {{item.hsQuantity}} <br>
                <strong>Foreign Inv</strong> {{item.foreignInv}} <br>
                <strong>Supply Unit</strong> {{item.supplyUnit}} <br>
              </p>
            </div>
            <div class="col-6">
              <p style="width: 100%;">
                <strong>Country of Origin</strong> {{item.country ? item.country.Name : '-'}} <br>
                <strong>Customs Value</strong> {{item.custVal}} <br>
                <strong>Currency</strong> {{item.currency}} <br>
                <strong>Duty</strong> {{item.duty}} <br>
                <strong>Common Factor</strong> {{item.commonFactor}} <br>
                <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
              </p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="item.type === 'inv'">
          <div class="row">
            <div class="col-12">
              <p style="width: 100%;"><span style="color: rgb(0, 167, 28)"><strong>Invoice Line</strong></span></p>
            </div>
            <div class="col-6">
              <p style="width: 100%;">
                <strong>Invoice No</strong> {{item.invoiceNo}} <br>
                <strong>Total Line Value</strong> {{item.totalLineValue}} <br>
                <strong>Product Code</strong> {{item.prodCode}} <br>
                <strong>Unit Price</strong> {{item.unitPrice}} <br>
              </p>
            </div>
            <div class="col-6">
              <p style="width: 100%;">
                <strong>Item</strong> {{item.items ? item.items.Name : '-'}} <br>
                <strong>Quantity</strong> {{item.quantity}} <br>
                <strong>Common Factor</strong> {{item.commonFactor}} <br>
                <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
              </p>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="loading">
      <loader></loader>
    </ng-container>
    </div>
  </div>
</div> -->
<!-- <div class="col-3">
  <div class="example-container" style="border-color: rgb(96, 11, 255);">
    <h4>Custom Worksheet <span style="color: rgb(96, 11, 255)">Lines</span></h4>
    <div
      cdkDropList
      #cwsList="cdkDropList"
      [cdkDropListData]="cwsLines"
      [cdkDropListConnectedTo]="[sadline]"
      class="example-list"
      (cdkDropListDropped)="dropCWS($event)">
      <ng-container *ngIf="!loading">
      <div class="example-box" *ngFor="let item of cwsLines; let i = index" cdkDrag>
        <div class="row">
          <div class="col-6">
            <p style="width: 100%;">
              <strong>Invoice No</strong> {{item.invoiceNo}} <br>
              <strong>Customs Value</strong> {{item.custVal}} <br>
              <strong>HS Quantity</strong> {{item.hsQuantity}} <br>
              <strong>Foreign Inv</strong> {{item.foreignInv}} <br>
              <strong>Supply Unit</strong> {{item.supplyUnit}} <br>
            </p>
          </div>
          <div class="col-6">
            <p style="width: 100%;">
              <strong>Country of Origin</strong> {{item.country ? item.country.Name : '-'}} <br>
              <strong>Customs Value</strong> {{item.custVal}} <br>
              <strong>Currency</strong> {{item.currency}} <br>
              <strong>Duty</strong> {{item.duty}} <br>
              <strong>Common Factor</strong> {{item.commonFactor}} <br>
              <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="loading">
      <loader></loader>
    </ng-container>
    </div>
  </div>
</div> -->
<!-- <div class="col-3">
        <div class="example-container" style="border-color: rgb(0, 167, 28);">
          <h4>Invoice <span style="color: rgb(0, 167, 28)">Lines</span></h4>
          <div
            cdkDropList
            #invoiceList="cdkDropList"
            [cdkDropListData]="invLines"
            [cdkDropListConnectedTo]="[sadline]"
            class="example-list"
            (cdkDropListDropped)="dropINV($event)">
            <ng-container *ngIf="!loading">
              <div class="example-box" *ngFor="let item of invLines" cdkDrag>
                <div class="row">
                  <div class="col-6">
                    <p style="width: 100%;">
                      <strong>Invoice No</strong> {{item.invoiceNo}} <br>
                      <strong>Total Line Value</strong> {{item.totalLineValue}} <br>
                      <strong>Product Code</strong> {{item.prodCode}} <br>
                      <strong>Unit Price</strong> {{item.unitPrice}} <br>
                    </p>
                  </div>
                  <div class="col-6">
                    <p style="width: 100%;">
                      <strong>Item</strong> {{item.items ? item.items.Name : '-'}} <br>
                      <strong>Quantity</strong> {{item.quantity}} <br>
                      <strong>Common Factor</strong> {{item.commonFactor}} <br>
                      <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
                    </p>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="loading">
              <loader></loader>
            </ng-container>
          </div>
        </div>
      </div> -->
