<ng-keyboard-shortcuts *ngIf="shortcuts" [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<br>
<ng-container *ngIf="data === null">
  <button mat-raised-button class="bg-success text-light" (click)="submit(form)">Queue Creation</button>
</ng-container>
<ng-container *ngIf="data !== null">
  <button mat-raised-button class="bg-primary text-light" (click)="submit(form)">Queue Update</button>
</ng-container>
<br><br>

<form [formGroup]="form" (ngSubmit)="submit(form)">
  <div class="row">
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Quantity
        </mat-label>
        <input matInput #startLineForm type="text" formControlName="quantity" (focusin)="updateHelpContext('form-invoice-line-quantity')">
        <button type="button" *ngIf="form.controls.quantityOBit.value" matSuffix (click)="undoOverride('quantity')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>
        <mat-hint *ngIf="form.controls.quantityOBit.value">OVERRIDE: {{form.controls.quantityOReason.value}}</mat-hint>
        <button type="button" *ngIf="!form.controls.quantityOBit.value && form.controls.quantity.errors?.incorrect" matSuffix (click)="overrideDialog('quantity', 'Line No')" matTooltip="Override"><mat-icon>remove_circle</mat-icon></button>
        <mat-error *ngIf="!form.controls.quantityOBit.value  && form.controls.quantity.errors?.incorrect">{{getError('quantity')}}</mat-error>
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Unit Price
        </mat-label>
<!--        <input matInput type="text" formControlName="unitPrice" (focusin)="updateHelpContext('form-invoice-line-unitprice')">-->
<!--        <button type="button" *ngIf="form.controls.unitPriceOBit.value" matSuffix (click)="undoOverride('unitPrice')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>-->
<!--        <mat-hint *ngIf="form.controls.unitPriceOBit.value">OVERRIDE: {{form.controls.unitPriceOReason.value}}</mat-hint>-->
<!--        <button type="button" *ngIf="!form.controls.unitPriceOBit.value && form.controls.unitPrice.errors?.incorrect" matSuffix (click)="overrideDialog('unitPrice', 'Unit Price')" matTooltip="Override"></button><mat-icon>remove_circle</mat-icon>-->
<!--        <mat-error *ngIf="!form.controls.unitPriceOBit.value  && form.controls.unitPrice.errors?.incorrect">{{getError('unitPrice')}}</mat-error>-->
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-4">
      <mat-form-field appearance="fill" >
        <mat-label>
          Common Factor
        </mat-label>
        <input matInput type="text" formControlName="commonFactor" (focusin)="updateHelpContext('form-invoice-line-common-factor')">
<!--        <mat-icon *ngIf="form.controls.commonFactorOBit.value" matSuffix (click)="undoOverride('commonFactor')" matTooltip="Remove Override">clear</mat-icon>-->
<!--        <mat-hint *ngIf="form.controls.commonFactorOBit.value">OVERRIDE: {{form.controls.unitPriceOReason.value}}</mat-hint>-->
<!--        <mat-icon *ngIf="!form.controls.commonFactorOBit.value && form.controls.commonFactor.errors?.incorrect" matSuffix (click)="overrideDialog('commonFactor', 'Common Factor')" matTooltip="Override">remove_circle</mat-icon>-->
<!--        <mat-error *ngIf="!form.controls.commonFactorOBit.value  && form.controls.commonFactor.errors?.incorrect">{{getError('commonFactor')}}</mat-error>-->
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-4">
      <!-- UOM Override -->
      <ls-autocomplete-units-of-measure [(control)]="form.controls.unitOfMeasureID" [helpSlug]="'form-invoice-line-unitofmeasure'"></ls-autocomplete-units-of-measure>
      <br><br>
    </div>
    <div class="col-4" >
      <ls-autocomplete-coo [(control)]="form.controls.cooID" [helpSlug]="'form-invoice-line-coo'"></ls-autocomplete-coo>
      <br><br>
    </div>
    <div class="col-6" >
      <ls-autocomplete-items [(control)]="form.controls.itemID" [(companyID)]="companyID" [helpSlug]="'form-invoice-line-item-code'"></ls-autocomplete-items>
      <br><br>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Total Line Value
        </mat-label>
        <input matInput type="text" formControlName="totalLineValue" (focusin)="updateHelpContext('form-invoice-line-totallinevalue')">
        <button type="button" *ngIf="form.controls.totalLineValueOBit.value" matSuffix (click)="undoOverride('totalLineValue')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>
        <mat-hint *ngIf="form.controls.totalLineValueOBit.value">OVERRIDE: {{form.controls.totalLineValueOReason.value}}</mat-hint>
        <button type="button" *ngIf="!form.controls.totalLineValueOBit.value && form.controls.totalLineValue.errors?.incorrect" matSuffix (click)="overrideDialog('totalLineValue', 'Total Line Value')" matTooltip="Override"><mat-icon>remove_circle</mat-icon></button>
        <mat-error *ngIf="!form.controls.totalLineValueOBit.value  && form.controls.totalLineValue.errors?.incorrect">{{getError('totalLineValue')}}</mat-error>
      </mat-form-field>
      <br><br>
    </div>
  </div>
</form>
