<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <br />
    <button class="btn btn-filter btn-filter-{{ currentTheme }} float-right" (click)="toggleFilters()"><i
        class="mdi mdi-filter"></i> &nbsp;Filters</button>
        <div class="col-md-6" style="padding-left:0px;"><span style="float:left; margin-right:5px;"><button style="padding-right: 0px; padding-top: 7px" (click)="backToCompanies()" class="btn-back btn"><i class="mdi mdi-arrow-left"></i></button></span><h4 class="ls-text-{{ currentTheme }}" style="float:left; padding-top:7px;">{{transactionName}} Attachments</h4><span style="margin-left:10px;"><button (click)="upload()" class="btn-add btn"><i class="mdi mdi-plus"></i></button></span></div>
        <br />
    <div class="filters" [ngClass]="(displayFilter)? 'filters-show': ''">
      <form class="form-inline">
        <select [value]='15' [(ngModel)]="rowCountPerPage" [ngModelOptions]="{standalone: true}"
          class="shadow-sm form-control mb-2 mr-sm-2 form-control-sm form-control-{{ currentTheme }}"
          (change)="loadAttachments()">
          <option value='15' selected>Showing 15</option>
          <option value='25'>Showing 25</option>
          <option value='50'>Showing 50</option>
        </select>
        <input type="text"
          class="form-control shadow-sm  mb-2 mr-sm-2 form-control-sm ml-auto form-control-{{ currentTheme }}"
          placeholder="Search" (keyup)="searchBar()" [(ngModel)]="filter" [value]="this.filter" [ngModelOptions]="{standalone: true}" />
      </form>
    </div>
    <br />

    <div class="">
      <table id="dtOrder" class="table table-hover table-striped table-{{ currentTheme }}">
        <thead>
          <tr>
            <th></th>
            <th scope="col">
              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('File')">
                <p class="headerText">Name</p>
                <span class="headerSpan">
                  <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'File_ASC')?'order-active':'order-not-active'"></i>
                  <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'File_DESC')?'order-active':'order-not-active'"></i>
                </span>
              </button>
            </th>
            <th scope="col">
              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('Type')">
                <p class="headerText">Type</p>
                <span class="headerSpan">
                  <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Type_ASC')?'order-active':'order-not-active'"></i>
                  <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Type_DESC')?'order-active':'order-not-active'"></i>
                </span>
              </button>
            </th>
            <th scope="col">
              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('Status')">
                <p class="headerText">Status</p>
                <span class="headerSpan">
                  <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Status_ASC')?'order-active':'order-not-active'"></i>
                  <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Status_DESC')?'order-active':'order-not-active'"></i>
                </span>
              </button>
            </th>
            <th scope="col">
              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}">
                <p class="headerText">Capturer</p>
              </button>
            </th>
            <th scope="col">
              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}">
                <p class="headerText">Date Created</p>
              </button>
            </th>
            <th scope="col">
              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}">
                <p class="headerText">Date Edited</p>
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="(!noData)">
          <tr *ngFor="let file of dataList; let i=index" class="userRecord" (click)="popClick($event, file.attachmentID, file.file, file.statusID, file.fileType, file.fileTypeID, file.reason); setClickedRow(i)" [class.active]="i == selectedRow">
            <td>{{file.rowNum}}</td>
            <td>{{file.name}}</td>
            <td>{{file.fileType}}</td>
            <td>{{file.status}}</td>
            <td>{{file.capturer}}</td>
            <td>{{file.dateCreated | date:'yyyy-MM-dd hh:mm aaa'}}</td>
            <td>{{file.dateEdited | date:'yyyy-MM-dd hh:mm aaa'}}</td>
          </tr>
        </tbody>
        <tbody class="tbodyPop" *ngIf="(noData)" >
          <tr>
            <td scope="col"></td>
            <td scope="col">No data to display..</td>
            <td scope="col"></td>
            <td scope="col"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <nav aria-label="Pagination" class="float-right" style="margin-top:8px;" *ngIf="this.showingPages">
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="prevPageState" type="button"
            (click)="pageChange(prevPage)">Prev</button>
        </li>
        <li *ngFor="let page of showingPages" class="page-item">
          <button *ngIf="this.page !== undefined" [class.active-page]="activePage == page.page"
            class="page-link btn-primary btn page-btn-{{ currentTheme }}" [ngClass]="(activePage)?'page-btn-active':''"
            type="button" (click)="pageChange(page.page)">{{page.page}}</button>
        </li>
        <li class="page-item">
          <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="nextPageState" type="button"
            (click)="pageChange(nextPage)">Next</button>
        </li>
      </ul>
    </nav>
    <br />
    <p class="ls-text-{{ currentTheme }}">Showing {{ rowStart }} to {{ totalShowing }} of
      {{ rowCount }}</p>
  </div>
</div>

<button class="hide" data-toggle="modal" data-target="#uploadAttachment" #openModal></button>
<div class="modal fade" id="uploadAttachment" tabindex="-1" role="dialog" aria-labelledby="uploadBackgroundLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadBackgroundLabel">Upload Attachments</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="uploadAttachments()" enctype="multipart/form-data">
        <div class="text-center" style="padding: 24px">
        <button class="btn btn-info" style="margin-bottom: 40px" (click)="splitPDF()" [disabled]="uploading">
          Split PDF
        </button>
      <br/>
        OR
      </div>
      <div class="modal-body">
          <div class="form-group">
              <input type="text" placeholder="Name" class="form-control"
                [(ngModel)]="this.attachmentName" [ngModelOptions]="{standalone: true}" required [disabled]="uploading"/>
            </div>
        <div class="form-group">
          <select (change)="onTypeSelect($event.target.value)" class="form-control" required [(selectedIndex)]="attachmentTypeIndex" [formControl]="selectAttachmentType" [disabled]="uploading">
            <option value="-1" [disabled]="this.disableAttachmentType" selected>Please select an attachment type</option>
            <option *ngFor="let type of this.transactionTypes, index as i" value="{{i}}">{{type.description}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="selectedTransactionType == 2">
          <select class="form-control" [selectedIndex]="selectedEDIIndex" [formControl]="selectEDIControl" (change)="onEDIChange()" [disabled]="uploading">
            <option selected value="0" [disabled]="ediDisable">Select an EDI status</option>
            <option *ngFor="let item of ediStatuses" [value]="item.EDIStatusID">{{item.Name}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="isVOC">
          <select (change)="onSAD500Select($event.target.value)" class="form-control" required [(selectedIndex)]="sad500Index" [formControl]="selectSAD500Control" [disabled]="uploading">
            <option value="-1" [disabled]="this.disableSAD500" selected>Please select an SAD500</option>
            <option *ngFor="let sad of this.sad500s" value="{{sad.customReleaseID}}">SAD500 - {{sad.mrn}} - {{sad.status}}</option>
          </select>
        </div>
        <div class="form-group" *ngIf="this.sad500s.length > 0 && isVOC && (this.selectedSAD500 !== 0 && this.selectedSAD500 !== -1 && this.selectedSAD500 !== null  && this.selectedSAD500 !== undefined)">
          <select (change)="onSAD500LineSelect($event.target.value)" class="form-control" required [(selectedIndex)]="sad500LineIndex" [formControl]="selectSAD500LinesControl" [disabled]="uploading">
            <option value="-1" [disabled]="this.disableSAD500Lines" selected>Please select an SAD500 Line</option>
            <option *ngFor="let sad of this.sad500Line" value="{{sad.sad500LineID}}">SAD500 - {{sad.lineNo}}</option>
          </select>
        </div>
        <div class="form-group d-inline">
            <span *ngIf="this.preview" style="margin-top: 6px" class="float-right">&nbsp;{{preview}}</span>
            <label for="addBackgroundImage" style="height:18px;">
              <span class="upload-button"><span class="mdi mdi-upload"></span>&nbsp;Upload</span>
            </label>
            <button *ngIf="this.preview" style="margin-top: -8px;" type="button" mat-button (click)="addToQueue()" [disabled]="uploading">Add to queue</button>
            <input id="addBackgroundImage" hidden #inputFile type="file" (change)="onFileChange($event.target.files)" required multiple [disabled]="uploading">
        </div>
        <br>
        <br>
        <hr/>
        <div class="attachment-queue" *ngIf="this.attachmentQueueDisplay !== null">
          <div class="attachment shadow-sm" *ngFor="let attach of this.attachmentQueueDisplay">
            <ng-container *ngIf="attach">
              <span class="float-right">{{attach.status}}</span>
                <p>{{attach.name}}</p>
                <small>{{attach.type}}</small><br/>
                <small *ngFor="let item of attach.file">{{item.name}},&nbsp;</small>
                <button mat-button #documents type="button"
                    tabindex="-1"
                    style="cursor: pointer;margin-bottom: 24px; float: right !important; background-color: #4d83ff; color: #fff;"
                    matTooltipPosition="after"
                    (click)="viewDoc(attach.file)" [disabled]="uploading" >View Document
              </button>
                <br/>
                <br/>
                <mat-progress-bar *ngIf="attach.uploading" mode="indeterminate" color="primary"></mat-progress-bar>
              </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" [disabled]="uploading" #closeModal>Close</button>
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="this.attachmentQueueDisplay.length === 0 || uploading">Start Uploading</button>
      </div>
    </form>
    </div>
  </div>
</div>

<button class="hide" data-toggle="modal" data-target="#previewAttachment" #openPreview></button>
  <div class="modal fade" id="previewAttachment">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadBackgroundLabel">Preview Attachments</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close" #closePreview>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-pdf-viewer
            class="fill-div"
            *ngIf="this.filePreview"
            [pdf]="this.filePreview">
          </app-pdf-viewer>
        </div>
      </div>
    </div>
  </div>

<app-notification></app-notification>
<app-modal-component></app-modal-component>
<div class="contextOverlay" *ngIf="(contextMenu)" (click)="popOff()">
<app-context-menu-transaction-attachment
  [ngStyle]="(contextMenu)?'' :'display:none;'"
  class="contextMenuDiv"
  *ngIf="(contextMenu)"
  [x]="contextMenuX"
  [y]="contextMenuY"
  (removeAttachment)="removeAttachment($event)"
  (previewDocument)="previewDocument($event)"
  (viewDoc)="viewDoc($event)"
  (returnAttachment)="returnAttachment($event)"
  [docPath]="focusPath"
  [attachmentID]="focusHelp"
  [transactionID]="this.transactionID"
  [transactionType]="this.transactionType"
  [statusID]="this.focusStatusID"
  [fileType]="this.focusType"
  [fileTypeID]="this.focusFileType"
  [reason]="focusReason"></app-context-menu-transaction-attachment>
</div>
