.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px #f2f2f2 solid;
  transition: ease-in-out 0.3s;
}

.userRecord:hover>td>img {
  border: 1px #4d83ff solid;
  transition: ease-in-out 0.3s;
}

.form-control {
  border: 1px rgba(30, 30, 30, 0.2) solid;
}

.form-control:focus {
  border: 1px #4d83ff solid;

}

.active-page {
  background: #4d83ff;
  color: #f2f2f2;
}

.page-link {
  border: none;
  border-radius: 0;
}

.page-item {
  border: none;
  border-radius: 0;
}

td {
  overflow-x: auto;
}

.btn-sort {
  padding: 0;
  margin: 0;
  width: 115%;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.btn-sort>p {
  display: inline
}

.btn-sort:hover {
  color: #4d83ff;
}

.hover-pointer {
  cursor: pointer;
}

.order-active {
  color: #4d83ff !important;
}

.order-not-active {
  color: #333333;
}

.table {
  overflow-x: auto;
}

.btn-add {
  width: 35px;
  height: 35px;
  padding: 3px 0px;
  border-radius: 18px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #71c016;
  color:#fff;
}

.btn-add:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #62ab0e;
  transition: 0.3s;
  color:#fff;
}
.btn-add:active {
  border: 2px solid #79d90b;

}
.btn-add i:hover {
  color:#fff;
}
.ls-card-body {
  width: 100%;
  padding: 25px;
}
.contextOverlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1000;
  cursor: pointer;
}
td {
  border: 1px solid transparent !important;
}
tr.active {
  background-color:#b3c9ff !important;
  box-shadow: 0 0.75rem 1.2rem rgba(0, 0, 0, 0.301) !important;
  border: 1px solid transparent !important;
  td {
    border: 1px solid transparent !important;
  }
}


.attachment {
  padding: 8px;
  background: #f2f2f2;
  border-radius: 3px;
  margin-top: 12px;
}

.spinner-progress {
  float: right;
  display: flex;
  align-content: center;
  align-items: center;
  height: 28px;
}

mat-progress-spinner {
  height: 28px !important;
  width: 28px !important;
}
