<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<form (submit)="submit(); $event.preventDefault()" [formGroup]="LinesForm" style="padding: 24px;border-radius: 10px; background: #f2f2f2;">
  <div class="form-group">
    <input type="text" formControlName="control1"
      [focus]="this.focusSADLine" [(ngModel)]="this.form.lineNo.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-sad500-line-line-no')"
      placeholder="Line No"
      [ngClass]="{'form-control-invalid': this.form.lineNo.error !== null && this.form.lineNo.error !== undefined}"/>
      <div *ngIf="this.form.lineNo.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="!this.form.lineNo.OBit" style="width: inherit" >
          {{this.form.lineNo.error}}
          <button (click)="OverridelineNoClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
        </p>
        <input formControlName="control1a"
        [(ngModel)]="this.form.lineNo.OReason"  *ngIf="this.form.lineNo.OBit == true" [disabled]="disabledlineNo" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.lineNo.OBit == true"  class="input-group-append ">
          <button (click)="OverridelineNoExcept()" [disabled]="disabledlineNo"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverridelineNo()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
    </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <label for="customsValue">Supply Unit</label>
        <input type="number" formControlName="control2"
        [(ngModel)]="this.form.supplyUnit.value"
          class="form-control form-control-sm shadow-sm form-control-light"
          (mouseover)="updateHelpContext('form-sad500-line-supply-unit')" placeholder="Supply Unit" style="margin-top:0"/>
          <div *ngIf="this.form.supplyUnit.error !== null" class="input-group mb-3 invalid-control-label">
            <p *ngIf="this.form.supplyUnit.OBit == false || this.form.supplyUnit.OBit == null" style="width: inherit" >
              {{this.form.supplyUnit.error}}
              <button (click)="OverridesupplyUnitClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
            </p>
            <input formControlName="control2a"
            [(ngModel)]="this.form.supplyUnit.OReason"  *ngIf="this.form.supplyUnit.OBit == true" [disabled]="disabledsupplyUnit" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
            <div *ngIf="this.form.supplyUnit.OBit == true"  class="input-group-append ">
              <button (click)="OverridesupplyUnitExcept()" [disabled]="disabledsupplyUnit"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
              <button (click)="UndoOverridesupplyUnit()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
            </div>
          </div>
        </div>
      <div class="col-md-9">
        <label for="customsValue">Unit of Measure</label>
        <input formControlName="control3"
        [(ngModel)]="this.unitOfMeasureQuery"
        (keyup)="filterUnit()"
        [ngClass]="{'form-control-invalid': this.form.unitOfMeasure.error !== null && this.form.unitOfMeasure.error !== undefined}"
        type="text" placeholder="Unit Of Measure" aria-label="Unit of Measure"
        class="form-control form-control-sm shadow-sm form-control-light"
        (mouseover)="updateHelpContext('form-sad500-line-unit-of-measure')"
        [formControl]="unitOfMeasure" [matAutocomplete]="unitOfMeasureAuto">
        <mat-autocomplete #unitOfMeasureAuto="matAutocomplete">
          <mat-option *ngFor="let unit of unitOfMeasureList"
          [value]="unit.name" (onSelectionChange)="selectedUnit(unit.unitOfMeasureID)">
            {{unit.name}}, {{unit.description}}
          </mat-option>
        </mat-autocomplete>
        <p class="invalid-control-label" *ngIf="this.form.unitOfMeasure.error !== null && this.form.unitOfMeasure.error !== undefined">{{this.form.unitOfMeasure.error}}</p>
      </div>
    </div>
  </div>
<br>
  <div class="form-group">
  <label for="customsValue">Customs Value</label>
  <input type="number" formControlName="control4"
   id="customsValue"
    [(ngModel)]="this.form.customsValue.value"
    class="form-control form-control-sm shadow-sm form-control-light"
    (mouseover)="updateHelpContext('form-sad500-line-customs-value')"
    placeholder="Customs Value" />
    <div *ngIf="this.form.customsValue.error !== null" class="input-group mb-3 invalid-control-label">
      <p *ngIf="this.form.customsValue.OBit == false || this.form.customsValue.OBit == null" style="width: inherit" >
        {{this.form.customsValue.error}}
        <button (click)="OverridecustomsValueClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
      </p>
      <input formControlName="control4a"
      [(ngModel)]="this.form.customsValue.OReason"  *ngIf="this.form.customsValue.OBit == true" [disabled]="disabledcustomsValue" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
      <div *ngIf="this.form.customsValue.OBit == true"  class="input-group-append ">
        <button (click)="OverridecustomsValueExcept()" [disabled]="disabledcustomsValue"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
        <button (click)="UndoOverridecustomsValue()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
      </div>
    </div>
  </div>
  <div class="form-group">
      <label for="quantityValue">Quantity</label>
      <input type="number" formControlName="control5"
      id="quantityValue"
        [(ngModel)]="this.form.quantity.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        (mouseover)="updateHelpContext('form-sad500-line-quantity')"
        placeholder="Quantity" style="margin-top:0"/>
        <div *ngIf="this.form.quantity.error !== null" class="input-group mb-3 invalid-control-label">
          <p *ngIf="this.form.quantity.OBit == false || this.form.quantity.OBit == null" style="width: inherit" >
            {{this.form.quantity.error}}
            <button (click)="OverridequantityClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
          </p>
          <input formControlName="control5a"
          [(ngModel)]="this.form.quantity.OReason"  *ngIf="this.form.quantity.OBit == true" [disabled]="disabledquantity" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
          <div *ngIf="this.form.quantity.OBit == true"  class="input-group-append ">
            <button (click)="OverridequantityExcept()" [disabled]="disabledquantity"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
            <button (click)="UndoOverridequantity()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
          </div>
        </div>
    </div>
    <div class="form-group">
      <label for="quantityValue">Previous Declaration</label>
      <input type="text" formControlName="control6"
      [(ngModel)]="this.form.previousDeclaration.value"

        class="form-control form-control-sm shadow-sm form-control-light"
        (mouseover)="updateHelpContext('form-sad500-line-previous-declaration')"
        placeholder="Previous Declaration" style="margin-top:0"/>
        <p class="invalid-control-label" *ngIf="this.form.previousDeclaration.error !== null && this.form.previousDeclaration.error !== undefined">{{this.form.previousDeclaration.error}}</p>
    </div>
  <div class="form-group">
      <label for="coo">COO</label>
        <input formControlName="control7"
        [(ngModel)]="this.countryQuery" type="text"
        [ngClass]="{'form-control-invalid': this.form.cooID.error !== null && this.form.cooID.error !== undefined}"
        class="form-control form-control-sm shadow-sm form-control-light"
        (keyup)="filterCountries()"
        placeholder="COO" aria-label="COOID"
        [formControl]="myControl"
        [matAutocomplete]="cooAuto"
        (mouseover)="updateHelpContext('form-sad500-line-coo')">

        <mat-autocomplete #cooAuto="matAutocomplete" >
          <mat-option *ngFor="let country of countriesList" [value]="country.code"
          (onSelectionChange)="selectedCountry(country.countryID)">
            {{country.code}} - {{country.name}}
          </mat-option>
        </mat-autocomplete>
        <p class="invalid-control-label" *ngIf="this.form.cooID.error !== null && this.form.cooID.error !== undefined">{{this.form.cooID.error}}</p>
    </div>
    <div class="form-group">
      <label for="tariff">Tariff</label>
        <input formControlName="control8"
        [(ngModel)]="this.tarrifQuery" type="text"
        [ngClass]="{'form-control-invalid': this.form.tariff.error !== null && this.form.tariff.error !== undefined}"
        class="form-control form-control-sm shadow-sm form-control-light"
        (keyup)="filterTariff()"
        placeholder="Tariff" aria-label="Tariff"
        [formControl]="myControl"
        [matAutocomplete]="tariffAuto"
        (mouseover)="updateHelpContext('form-sad500-line-tariff-description')">

        <mat-autocomplete #tariffAuto="matAutocomplete" >
          <mat-option *ngFor="let tariff of tariffs" [value]="tariff.name"
          (onSelectionChange)="selectedTariff(tariff.id)">
            {{tariff.name}}
          </mat-option>
        </mat-autocomplete>
        <p class="invalid-control-label" *ngIf="this.form.tariff.error !== null && this.form.tariff.error !== undefined">{{this.form.tariff.error}}</p>
    </div>
    <div class="form-group" style="margin-bottom: 0">
      <div class="row" style="margin-bottom: 0">
        <div class="col-6" style="margin-bottom: 0">
          <p><strong class="text-muted text-mini-heading">Duty Tax Types</strong></p>
          <ul class="tile-list list-unstyled shadow-sm" *ngIf="this.dutyList !== undefined">
            <li>
              <div class="form-group">
                <input type="search" formControlName="control9"
                [(ngModel)]="this.dutiesQuery"
                (keyup)="filterDuties()"
                class="form-control form-control-sm"
                (mouseover)="updateHelpContext('form-sad500-line-duty-tax-search')"
                placeholder="Search">
              </div>
            </li>
            <li class="duty-item" *ngFor="let item of dutyList.duties; let i = index" (click)="assignDutyDialog(item)" (keypress)="assignDutyDialog(item)" [tabindex]="i">
              <small class="float-right" style="margin-top: 4px">0</small>
              <small>{{item.code}}</small>
            </li>
          </ul>
        </div>
        <div class="col-6" *ngIf="this.isUpdate" style="margin-bottom: 0">
          <p><strong class="text-muted text-mini-heading">Assigned Duty Tax Types</strong></p>
          <ul class="tile-list list-unstyled shadow-sm" *ngIf="this.assignedDuties === undefined">
            <li><small class="test-muted">No Duty Types Assigned</small></li>
          </ul>
          <ul class="tile-list list-unstyled shadow-sm" *ngIf="this.assignedDuties !== undefined">
              <li>
                <div class="form-group">
                  <input formControlName="control9a"
                  tabindex="-1" [focus]="focusDutiesQuery"
                  type="search" [(ngModel)]="this.dutieAssignedQuery"

                  (keyup)="filterAssignedDuties()"
                  class="form-control form-control-sm"
                  placeholder="Search">
                </div>
              </li>
              <li *ngFor="let item of assignedDuties; let i = index" class="duty-item" (click)="revokeDuty(item)" [tabindex]="i">
                  <small class="float-right" style="margin-top: 4px">{{item.duty}}</small>
                  <small>{{item.code}}</small>
              </li>
          </ul>
        </div>
        <div class="col-6" *ngIf="!this.isUpdate">
            <p><strong class="text-muted text-mini-heading">Assigned Duty Tax Types</strong></p>
            <ul class="tile-list list-unstyled shadow-sm" *ngIf="this.dutiesToBeSaved.length === 0">
              <li><small class="test-muted">No Duty Types Assigned</small></li>
            </ul>
            <ul class="tile-list list-unstyled shadow-sm" *ngIf="this.dutiesToBeSaved.length > 0">
                <li>
                  <div class="form-group">
                    <input formControlName="control9b"
                    [focus]="focusAssignedQuery" type="search" [(ngModel)]="this.dutieAssignedQuery"
                     (keyup)="filterAssignedDuties()" class="form-control form-control-sm"
                    (mouseover)="updateHelpContext('form-sad500-line-search')"
                    placeholder="Search">
                  </div>
                </li>
                <li *ngFor="let item of dutiesToBeSaved; let i = index" class="duty-item" (click)="revokeDuty(item)" (keypress)="revokeDuty(item)" [tabindex]="i">
                    <small class="float-right" style="margin-top: 4px">{{item.duty}}</small>
                    <small>{{item.code}}</small>
                </li>
            </ul>
          </div>
      </div>
    </div>
  <!-- <div class="form-group text-right" style="margin: 0;">
    <button *ngIf="!this.isUpdate" type="submit" class="btn btn-primary btn-sm">Add</button>
    <button *ngIf="this.isUpdate" type="submit" class="btn btn-primary btn-sm">Update</button>
  </div> -->
</form>
