.capture-tile {
  overflow-y: auto;
  background: #f2f2f2;
  border-radius: 5px !important;
  padding: 24px;
}

.form-inline .form-group {
  margin: 0;
  width: 25%;
  padding: 2px;
}
.form-inline .form-group input{
  width: 100%;
}
