.bg-image {
  background-image: url('https://localhost:5001/public/images/background/background2.jiff');
  background-size: cover;
}

.tile-frost {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
