<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
      <div class="row flex-grow bg-image">
        <div class="col-lg-6 offset-3 d-flex align-items-center justify-content-center">
          <div class="auth-form-transparent text-left p-3 tile-frost shadow">
            <div class="brand-logo">
              <img src="./../../../assets/dist/images/logo.png" alt="logo">
            </div>
            <h4>Change Password</h4>
            <h6 class="font-weight-light">OTP Sent to - <strong>{{ otpEmail }}</strong>. Please
              check your email.
            </h6>
            <form class="pt-3" id="forgotPasswordForm" (submit)="onRequestChangePassword()">
              <div class="form-group">
                <label for="exampleInputEmail">OTP</label>
                <div class="input-group">
                  <div class="input-group-prepend bg-transparent">
                    <span class="input-group-text bg-transparent border-right-0">
                      <i class="mdi mdi-lock-outline text-primary"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control form-control-lg border-left-0" placeholder="OTP" required
                    [(ngModel)]="txtOTP" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group">
                  <label for="exampleInputEmail">Email Address</label>
                  <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                      <span class="input-group-text bg-transparent border-right-0">
                        <i class="mdi mdi-lock-outline text-primary"></i>
                      </span>
                    </div>
                    <input type="password" class="form-control form-control-lg border-left-0" placeholder="Email Address"
                      required [(ngModel)]="txtEmail" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              <div class="form-group">
                <label for="exampleInputEmail">New Password</label>
                <div class="input-group">
                  <div class="input-group-prepend bg-transparent">
                    <span class="input-group-text bg-transparent border-right-0">
                      <i class="mdi mdi-lock-outline text-primary"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control form-control-lg border-left-0" placeholder="New Password"
                    required [(ngModel)]="txtNewPass" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail">Confirm New Password</label>
                <div class="input-group">
                  <div class="input-group-prepend bg-transparent">
                    <span class="input-group-text bg-transparent border-right-0">
                      <i class="mdi mdi-lock-outline text-primary"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control form-control-lg border-left-0"
                    placeholder="Confirm New Password" required [(ngModel)]="txtConfirmNewPass"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="my-3">
                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                  [disabled]="requestPending">Change Password</button>
              </div>
              <div class="my-2 text-center">
                <a routerLink="/" class="auth-link text-behance">Go back to login page</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
