<div class="chat-contact shadow-sm">
  <div class="row">
    <div class="col-sm-2">
      <div class="image-container">
          <img class="chat-contact-img shadow-sm" src="./../../../../assets/dist/images/default.svg" *ngIf="this.imageURL === null"/>
          <img class="chat-contact-img shadow-sm" [src]="this.imageURL" *ngIf="this.imageURL !== null"/>
          <span class="online-status online shadow-sm"></span>
        </div>
    </div>
    <div class="col-sm-10">
        &nbsp;{{this.user.firstName}}&nbsp;{{this.user.surname}}<br>
        &nbsp;<small class="text-muted">{{this.user.email}}</small>
    </div>
  </div>

</div>
