<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<br><br>
<div class="capture-header">
  <h1 class="capture-form-title text-dark">
    <span>Customs Release Notifications</span>
  </h1>
</div>
<br>

<form (submit)="submit(); $event.preventDefault()" [formGroup]="CRNForm" style="padding: 24px; border-radius: 10px; background: #f2f2f2;overflow-y: auto;">
  <div class="form-group ">
    <label class="control-label required">MRN</label>
    <input required type="text" formControlName="control1"
      [(ngModel)]="this.form.MRN.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-cusrelease-mrn')"
      [ngClass]="{'form-control-invalid': this.form.MRN.error !== null}"
      placeholder="MRN" />
      <div *ngIf="this.form.MRN.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.MRN.OBit == false || this.form.MRN.OBit == null" style="width: inherit" >
          {{this.form.MRN.error}}
          <button (click)="OverrideMRNClick()" class="btn btn-outline-secondary Obutton" type="button">override</button>
        </p>
        <input formControlName="control1a"
        [(ngModel)]="this.form.MRN.OReason"  *ngIf="this.form.MRN.OBit == true"  [disabled]="disabledMRN" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.MRN.OBit == true"  class="input-group-append ">
          <button (click)="OverrideMRNExcept()" [disabled]="disabledMRN" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideMRN()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
  </div>
  <div class="form-group">
    <label class="control-label required">LRN</label>
    <input type="text" formControlName="control2"
      [(ngModel)]="this.form.LRN.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-cusrelease-lrn')"
      [ngClass]="{'form-control-invalid': this.form.LRN.error !== null}"
      placeholder="LRN" />
      <div *ngIf="this.form.LRN.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.LRN.OBit == false || this.form.LRN.OBit == null" style="width: inherit" >
          {{this.form.LRN.error}}
          <button (click)="OverrideLRNClick()" class="btn btn-outline-secondary Obutton" type="button">override</button>
        </p>
        <input formControlName="control2a"
        [(ngModel)]="this.form.LRN.OReason"  *ngIf="this.form.LRN.OBit == true"  [disabled]="disabledLRN" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.LRN.OBit == true"  class="input-group-append ">
          <button (click)="OverrideLRNExcept()" [disabled]="disabledLRN" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideLRN()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
  </div>
  <div class="form-group">
    <label class="control-label">Serial No</label>
    <input type="text" formControlName="control3"
      [(ngModel)]="this.form.serialNo.value"
      class="form-control form-control-sm shadow-sm form-control-light form-control-invalid"
      (mouseover)="updateHelpContext('form-cusrelease-serialno')"
      [ngClass]="{'form-control-invalid': this.form.serialNo.error !== null}"
      placeholder="Serial No" />
      <div *ngIf="this.form.serialNo.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.serialNo.OBit == false || this.form.serialNo.OBit == null" style="width: inherit" >
          {{this.form.serialNo.error}}
          <button (click)="OverrideSerialNoClick()" class="btn btn-outline-secondary Obutton" type="button">override</button>
        </p>
        <input formControlName="control3a"
        [(ngModel)]="this.form.serialNo.OReason"  *ngIf="this.form.serialNo.OBit == true"  [disabled]="disabledserialNo" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.serialNo.OBit == true"  class="input-group-append ">
          <button (click)="OverrideSerialNoExcept()" [disabled]="disabledserialNo" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideSerialNo()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
    </div>
  <div class="form-group">
    <label class="control-label">Importers Code</label>
    <input type="text" formControlName="control4"
      [(ngModel)]="this.form.importersCode.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-cusrelease-importerscode')"
      [ngClass]="{'form-control-invalid': this.form.importersCode.error !== null}"
      placeholder="Importers Code" />
      <div *ngIf="this.form.importersCode.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.importersCode.OBit == false || this.form.importersCode.OBit == null" style="width: inherit" >
          {{this.form.importersCode.error}}
          <button (click)="OverrideImportersCodeClick()" class="btn btn-outline-secondary Obutton" type="button">override</button>
        </p>
        <input formControlName="control4a"
        [(ngModel)]="this.form.importersCode.OReason"  *ngIf="this.form.importersCode.OBit == true"  [disabled]="disabledimportersCode" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.importersCode.OBit == true"  class="input-group-append ">
          <button (click)="OverrideImportersCodeExcept()" [disabled]="disabledimportersCode" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideImportersCode()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
  </div>
  <div class="form-group">
    <label class="control-label required">Waybill No</label>
    <input type="text" formControlName="control5"
      [(ngModel)]="this.form.waybillNo.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-cusrelease-waybillno')"
      [ngClass]="{'form-control-invalid': this.form.waybillNo.error !== null}"
      placeholder="Waybill No" />
      <div *ngIf="this.form.waybillNo.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.waybillNo.OBit == false || this.form.waybillNo.OBit == null" style="width: inherit" >
          {{this.form.waybillNo.error}}
          <button (click)="OverrideWaybillNoClick()" class="btn btn-outline-secondary Obutton" type="button">override</button>
        </p>
        <input formControlName="control5a"
        [(ngModel)]="this.form.waybillNo.OReason"  *ngIf="this.form.waybillNo.OBit == true"  [disabled]="disabledwaybillNo" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.waybillNo.OBit == true"  class="input-group-append ">
          <button (click)="OverrideWaybillNoExcept()" [disabled]="disabledwaybillNo" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideWaybillNo()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
    </div>
  <div class="form-group">
    <label class="control-label">PCC</label>
    <input type="text" formControlName="control6"
      [(ngModel)]="this.form.PCC.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-cusrelease-pcc')"
      [ngClass]="{'form-control-invalid': this.form.PCC.error !== null}"
      [matAutocomplete]="cpcAuto"
      (keyup)="selectFilteredCPC()"
      placeholder="PCC" />
      <mat-autocomplete #cpcAuto="matAutocomplete" >
        <mat-option *ngFor="let cpc of cpcList" [value]="cpc.CPC"
        (onSelectionChange)="selectedPCC(cpc.CPCID)">
          {{cpc.CPC}}
        </mat-option>
      </mat-autocomplete>
      <div *ngIf="this.form.PCC.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.PCC.OBit == false || this.form.PCC.OBit == null" style="width: inherit" >
          {{this.form.PCC.error}}
          <button (click)="OverridePCCClick()" class="btn btn-outline-secondary Obutton" type="button">override</button>
        </p>
        <input formControlName="control6a"
        [(ngModel)]="this.form.PCC.OReason"  *ngIf="this.form.PCC.OBit == true"  [disabled]="disabledpcc" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.PCC.OBit == true"  class="input-group-append ">
          <button (click)="OverridePCCExcept()" [disabled]="disabledpcc" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverridePCC()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
  </div>
  <!-- <div class="form-group">
    <input type="text" formControlName="control7"
      [(ngModel)]="this.form.FOB.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-cusrelease-fob')"
      [ngClass]="{'form-control-invalid': this.form.FOB.error !== null}"
      placeholder="FOB" />
      <div *ngIf="this.form.FOB.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.FOB.OBit == false || this.form.FOB.OBit == null" style="width: inherit" >
          {{this.form.FOB.error}}
          <button (click)="OverrideFOBClick()" class="btn btn-outline-secondary Obutton" type="button">override</button>
        </p>
        <input formControlName="control7a"
        [(ngModel)]="this.form.FOB.OReason"  *ngIf="this.form.FOB.OBit == true"  [disabled]="disabledFOB" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.FOB.OBit == true"  class="input-group-append ">
          <button (click)="OverrideFOBExcept()" [disabled]="disabledFOB" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideFOB()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
    </div> -->
  <!-- <div class="form-group">
    <input type="text" formControlName="control8"
      [(ngModel)]="this.form.supplierRef.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-cusrelease-supplier-ref')"
      [ngClass]="{'form-control-invalid': this.form.supplierRef.error !== null}"
      placeholder="Supplier Ref" />
      <p class="invalid-control-label" *ngIf="this.form.supplierRef.error !== null">{{this.form.supplierRef.error}}</p>
  </div> -->
  <div class="form-group">
    <label class="control-label required">Total Customs Value</label>
    <input type="number" formControlName="control9"
      [(ngModel)]="this.form.totalCustomsValue.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-cusrelease-total-customs-value')"
      [ngClass]="{'form-control-invalid': this.form.totalCustomsValue.error !== null}"
      placeholder="Total Customs Value" />
      <div *ngIf="this.form.totalCustomsValue.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.totalCustomsValue.OBit == false || this.form.totalCustomsValue.OBit == null" style="width: inherit" >
          {{this.form.totalCustomsValue.error}}
          <button (click)="OverridetotalCustomsValueClick()" class="btn btn-outline-secondary Obutton" type="button">override</button>
        </p>
        <input formControlName="control9a"
        [(ngModel)]="this.form.totalCustomsValue.OReason"  *ngIf="this.form.totalCustomsValue.OBit == true"  [disabled]="disabledtotalCustomsValue" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.totalCustomsValue.OBit == true"  class="input-group-append ">
          <button (click)="OverridetotalCustomsValueExcept()" [disabled]="disabledtotalCustomsValue" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverridetotalCustomsValue()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
  </div>
  <div class="form-group">
    <label class="control-label">Total Duty</label>
    <input type="number" formControlName="control10"
      [(ngModel)]="this.form.totalDuty.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-cusrelease-total-duty')"
      [ngClass]="{'form-control-invalid': this.form.totalDuty.error !== null}"
      placeholder="Total Customs Duty" />
      <div *ngIf="this.form.totalDuty.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.totalDuty.OBit == false || this.form.totalDuty.OBit == null" style="width: inherit" >
          {{this.form.totalDuty.error}}
          <button (click)="OverridetotalDutyClick()" class="btn btn-outline-secondary Obutton" type="button">override</button>
        </p>
        <input formControlName="control10a"
        [(ngModel)]="this.form.totalDuty.OReason"  *ngIf="this.form.totalDuty.OBit == true"  [disabled]="disabledtotalDuty" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.totalDuty.OBit == true"  class="input-group-append ">
          <button (click)="OverridetotalDutyExcept()" [disabled]="disabledtotalDuty" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverridetotalDuty()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
  </div>
  <div class="form-group">
    <label class="control-label"> File Reference</label>
    <input type="text" formControlName="control11"
      [(ngModel)]="this.form.fileRef.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-cusrelease-file-ref')"
      [ngClass]="{'form-control-invalid': this.form.fileRef.error !== null}"
      placeholder="File Ref" />
      <div *ngIf="this.form.fileRef.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.fileRef.OBit == false || this.form.fileRef.OBit == null" style="width: inherit" >
          {{this.form.fileRef.error}}
          <button (click)="OverridefileRefClick()" class="btn btn-outline-secondary Obutton" type="button">override</button>
        </p>
        <input formControlName="control11a"
        [(ngModel)]="this.form.fileRef.OReason"  *ngIf="this.form.fileRef.OBit == true"  [disabled]="disabledfileRef" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.fileRef.OBit == true"  class="input-group-append ">
          <button (click)="OverridefileRefExcept()" [disabled]="disabledfileRef" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverridefileRef()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label required">EDI Status</label>
        <input formControlName="control12"
        [(ngModel)]="this.ediStatusQuery" type="text"
        [ngClass]="{'form-control-invalid': this.form.ediStatusID.error !== null && this.form.ediStatusID.error !== undefined}"
        class="form-control form-control-sm shadow-sm form-control-light"
        (keyup)="filterEDI()"
        placeholder="EDI Status" aria-label="EDI Status"
        [formControl]="ediStatusControl"
        [matAutocomplete]="ediAuto"
        (mouseover)="updateHelpContext('form-crn-edi-status')">

        <mat-autocomplete #ediAuto="matAutocomplete" >
          <mat-option *ngFor="let item of editStatusList" [value]="item.Name"
          (onSelectionChange)="selectedEDIStatus(item.EDIStatusID)">
            {{item.Name}}
          </mat-option>
        </mat-autocomplete>
        <p class="invalid-control-label" *ngIf="this.form.ediStatusID.error !== null && this.form.ediStatusID.error !== undefined">{{this.form.ediStatusID.error}}</p>
    </div>
</form>
<app-notification></app-notification>
