<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <br />
    <button class="btn btn-filter btn-filter-{{ currentTheme }} float-right" (click)="toggleFilters()"><i
        class="mdi mdi-filter"></i> &nbsp;Filters</button>
    <h4 class="card-title ls-text-{{ currentTheme }}">Units of Measure</h4>
    <br />
    <div class="filters" [ngClass]="(displayFilter)? 'filters-show': ''">
      <form class="form-inline">
        <select [value]='15' [(ngModel)]="selectRowDisplay" [ngModelOptions]="{standalone: true}"
          class="shadow-sm form-control mb-2 mr-sm-2 form-control-sm form-control-{{ currentTheme }}"
          (change)="loadUnitsOfMeasures()">
          <option value='15' selected>Showing 15</option>
          <option value='25'>Showing 25</option>
          <option value='50'>Showing 50</option>
        </select>
        <input type="text"
          class="form-control shadow-sm  mb-2 mr-sm-2 form-control-sm ml-auto form-control-{{ currentTheme }}"
          placeholder="Search" (keyup)="searchBar()" [(ngModel)]="unitsOfMeasure.filter" [ngModelOptions]="{standalone: true}" />
      </form>
    </div>
    <br />

    <div class="">
      <table id="dtOrder" class="table table-hover table-striped table-{{ currentTheme }}">
        <thead>
          <tr>
            <th></th>
            <th scope="col">
                <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('EmpNo')">
                  <p class="headerText">Name</p>
                  <span class="headerSpan">
                    <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'EmpNo_ASC')?'order-active':'order-not-active'"></i>
                    <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'EmpNo_DESC')?'order-active':'order-not-active'"></i>
                  </span>
                </button>
              </th>
            <th scope="col">
              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('EmpNo')">
                <p class="headerText">Description</p>
                <span class="headerSpan">
                  <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'EmpNo_ASC')?'order-active':'order-not-active'"></i>
                  <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'EmpNo_DESC')?'order-active':'order-not-active'"></i>
                </span>
              </button>
            </th>
          </tr>
        </thead>

        <tbody *ngIf="(!noData)">
          <tr *ngFor="let unit of dataset; let i=index" class="userRecord" (click)="popClick($event, unit.unitOfMeasureID, unit.name, unit.description); setClickedRow(i)" [class.active]="i == selectedRow">
            <td>{{unit.rowNum}}</td>
            <td>{{unit.name}}</td>
            <td>{{unit.description}}</td>
          </tr>
        </tbody>
        <tbody class="tbodyPop" *ngIf="(noData)" >
          <tr>
            <td scope="col"></td>
            <td scope="col">No data to display..</td>
            <td scope="col"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <nav aria-label="Pagination" class="float-right" style="margin-top:8px;">
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="prevPageState" type="button"
            (click)="pageChange(prevPage)">Prev</button>
        </li>
        <li *ngFor="let page of showingPages" class="page-item">
          <button [class.active-page]="activePage == page.page"
            class="page-link btn-primary btn page-btn-{{ currentTheme }}" [ngClass]="(activePage)?'page-btn-active':''"
            type="button" (click)="pageChange(page.page)">{{page.page}}</button>
        </li>
        <li class="page-item">
          <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="nextPageState" type="button"
            (click)="pageChange(nextPage)">Next</button>
        </li>
      </ul>
    </nav>
    <br />
    <p class="ls-text-{{ currentTheme }}">Showing {{ unitsOfMeasure.rowStart }} to {{ totalDisplayCount }} of
      {{ rowCount }}</p>
  </div>
</div>

<button class="hide" data-toggle="modal" data-target="#editGlossary" #openModal></button>
<div class="modal fade" id="editGlossary" tabindex="-1" role="dialog" aria-labelledby="uploadBackgroundLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadBackgroundLabel">Update Unit Of Measure</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="updateUnit()" enctype="multipart/form-data">
      <div class="modal-body">
      <div class="form-group">
          <input type="text" placeholder="Unit Name" class="form-control"
            [(ngModel)]="this.focusUnitName" [ngModelOptions]="{standalone: true}" required/>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Unit Description" class="form-control"
            [(ngModel)]="this.focusUnitDescription" [ngModelOptions]="{standalone: true}" required/>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeModal>Close</button>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<app-notification></app-notification>
<app-modal-component></app-modal-component>
<div class="contextOverlay" *ngIf="(contextMenu)" (click)="popOff()">
<app-context-menu-units-of-measure (editUnit)="editUnitOfMeasure($event)" [ngStyle]="(contextMenu)?'' :'display:none;'" class="contextMenuDiv" *ngIf="(contextMenu)" [x]="contextMenuX" [y]="contextMenuY" [unitId]="focusUnitId" [unitName]="focusUnitName" [unitDescription]="focusUnitDescription"></app-context-menu-units-of-measure>
</div>
