<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <app-table
      *ngIf="dataset"
      [(dataset)]="dataset"
      [headings]="tableHeadings"
      [(recordsPerPage)]="rowCountPerPage"
      [(rowStart)]="rowStart"
      [(rowEnd)]="rowEnd"
      [(rowCount)]="rowCount"
      [orderBy]="orderBy"
      [orderByDirection]="orderDirection"
      [tableHeader]="tableHeader"
      (selectedRecord)="setClickedRow($event)"
      (orderChange)="orderChange($event)"
      (pageChange)="pageChange($event)"
      (showingRecordsEvent)="recordsPerPageChange($event)"
      (searchEvent)="searchBar($event)">
    </app-table>
  </div>
</div>

<button class="hide" data-toggle="modal" data-target="#editGlossary" #openModal></button>
<div class="modal fade" id="editGlossary" tabindex="-1" role="dialog" aria-labelledby="uploadBackgroundLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadBackgroundLabel">Edit Unit Of Measure</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="updateUnit()" enctype="multipart/form-data">
      <div class="modal-body">
      <div class="form-group">
          <input type="text" placeholder="Unit Name" class="form-control"
            [(ngModel)]="focusUnitName" [ngModelOptions]="{standalone: true}" required/>
        </div>
        <div class="form-group">
          <input type="text" placeholder="Unit Description" class="form-control"
            [(ngModel)]="focusUnitDescription" [ngModelOptions]="{standalone: true}" required/>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeModal>Close</button>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<app-notification></app-notification>
<!-- <app-modal-component></app-modal-component> -->
<div class="contextOverlay" *ngIf="(contextMenu)" (click)="popOff()">
<app-context-menu-units-of-measure (editUnit)="editUnitOfMeasure($event)" [ngStyle]="(contextMenu)?'' :'display:none;'" class="contextMenuDiv" *ngIf="(contextMenu)" [x]="contextMenuX" [y]="contextMenuY" [unitId]="focusUnitId" [unitName]="focusUnitName" [unitDescription]="focusUnitDescription"></app-context-menu-units-of-measure>
</div>
