<div #popCont class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}" style="cursor: pointer">
  <div class="card">
    <div class=" popBodyNav">

      <a (click)="viewTransactionAttachments()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Attachments</span></a>
      <a (click)="readyForAssessment()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Send for Assessment</span></a>
      <hr class="bg-light" style="width: 80%; margin:auto; margin-top: 12px;margin-bottom: 12px;">
      <a (click)="viewImportClearin()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Import Clearing Instructions</span></a>
      <a (click)="viewSAD500s()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">SAD500s</span></a>
      <a (click)="viewCRN()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Custom Release Notifications</span></a>
      <a (click)="viewInvoices()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Invoices</span></a>
      <hr class="bg-light" style="width: 80%; margin:auto; margin-top: 12px;margin-bottom: 12px;">
      <a (click)="viewCheckList()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Check List</span></a>
    </div>
  </div>
</div>
