<mat-form-field [appearance]="appearance">
  <mat-label>
    {{ heading }}
  </mat-label>
  <input type="text" matInput [formControl]="query" [matAutocomplete]="cpcAuto" (focusout)="focusOut(trigger);" #trigger="matAutocompleteTrigger" (focusin)="updateHelpContext(helpSlug)">
  <mat-hint>Sub Heading / Item Number</mat-hint>
  <mat-error *ngIf="query.hasError('required')">This field is required</mat-error>
  <mat-error *ngIf="query.hasError('incorrect')">An option has not been selected, <button class="text-button" type="button" (click)="query.setValue(null)">clear</button></mat-error>
  <mat-error *ngIf="query.hasError('noMatch')">Value does not match previous value: {{previousTariff}}</mat-error>
</mat-form-field>
<mat-autocomplete #cpcAuto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="selectedOption($event.option.value)">
  <mat-option *ngFor="let item of list" [value]="item">
    {{item.subHeading == null ? item.itemNumber: item.subHeading}}{{item.subHeading ? item.subHeading.length < 8 && item.subHeading != null ? '.00' : '' : ''}}
  </mat-option>
</mat-autocomplete>
