<div class="navbar-menu-wrapper d-flex align-items-center">
  <ul class="navbar-nav mr-lg-4 w-100">
    <li class="nav-item nav-search d-none d-lg-block w-100">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="btn btn-light" id="search">
            <i class="mdi mdi-magnify"></i>
          </span>
        </div>
        <input type="text" class="form-control" style="text-align: left" placeholder="Search now" aria-label="search" aria-describedby="search">
        <button class="btn btn-light mdi mdi-close-circle-outline"></button>
      </div>
    </li>
  </ul>
</div>
