<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <br />
    <button class="btn btn-filter btn-filter-{{ currentTheme }} float-right" (click)="toggleFilters()"><i
        class="mdi mdi-filter"></i> &nbsp;Filters</button>
        <div class="col-md-6" style="padding-left:0px;"><span style="float:left; margin-right:5px;"><button (click)="backToCompanies()" class="btn-back btn"><i class="mdi mdi-arrow-left"></i></button></span><h4 class="ls-text-{{ currentTheme }}" style="float:left; padding-top:7px;">{{companyName}} - Transactions</h4><span style="margin-left:10px;"><button  class="btn-add btn"><i class="mdi mdi-plus"></i></button></span></div>
        <br />
    <div class="filters" [ngClass]="(displayFilter)? 'filters-show': ''">
      <form class="form-inline">
        <select [value]='15' [(ngModel)]="rowCountPerPage" [ngModelOptions]="{standalone: true}"
          class="shadow-sm form-control mb-2 mr-sm-2 form-control-sm form-control-{{ currentTheme }}"
          (change)="loadTransactions()">
          <option value='15' selected>Showing 15</option>
          <option value='25'>Showing 25</option>
          <option value='50'>Showing 50</option>
        </select>
        <input type="text"
          class="form-control shadow-sm  mb-2 mr-sm-2 form-control-sm ml-auto form-control-{{ currentTheme }}"
          placeholder="Search" (keyup)="searchBar()" [(ngModel)]="filter" [ngModelOptions]="{standalone: true}" />
      </form>
    </div>
    <br />

    <div class="">
      <table id="dtOrder" class="table table-hover table-striped table-{{ currentTheme }}">
        <thead>
          <tr>
            <th></th>
            <th scope="col">
              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('Name')">
                <p class="headerText">Name</p>
                <span class="headerSpan">
                  <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Name_ASC')?'order-active':'order-not-active'"></i>
                  <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Name_DESC')?'order-active':'order-not-active'"></i>
                </span>
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="(!noData)">
          <tr *ngFor="let transaction of dataList; let i=index" class="userRecord" (click)="popClick($event, transaction.transactionID); setClickedRow(i)" [class.active]="i == selectedRow">
            <td>{{transaction.rowNum}}</td>
          </tr>
        </tbody>
        <tbody class="tbodyPop" *ngIf="(noData)" >
          <tr>
            <td scope="col"></td>
            <td scope="col">No data to display..</td>
            <td scope="col"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br />
    <br />
    <nav aria-label="Pagination" class="float-right" style="margin-top:8px;">
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="prevPageState" type="button"
            (click)="pageChange(prevPage)">Prev</button>
        </li>
        <li *ngFor="let page of showingPages" class="page-item">
          <button [class.active-page]="activePage == page.page"
            class="page-link btn-primary btn page-btn-{{ currentTheme }}" [ngClass]="(activePage)?'page-btn-active':''"
            type="button" (click)="pageChange(page.page)">{{page.page}}</button>
        </li>
        <li class="page-item">
          <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="nextPageState" type="button"
            (click)="pageChange(nextPage)">Next</button>
        </li>
      </ul>
    </nav>
    <br />
    <p class="ls-text-{{ currentTheme }}">Showing {{ rowStart }} to {{ +rowStart + +showingRecords - 1 }} of
      {{ rowCount }}</p>
  </div>
</div>

<app-notification></app-notification>
<app-modal-component></app-modal-component>
<div class="contextOverlay" *ngIf="(contextMenu)" (click)="popOff()">
<app-companies-context-menu [ngStyle]="(contextMenu)?'' :'display:none;'" class="contextMenuDiv" *ngIf="(contextMenu)" [x]="contextMenuX" [y]="contextMenuY" [companyID]="focusHelp" [companyName]="focusHelpName"></app-companies-context-menu>
</div>
