<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<form (submit)="submit(); $event.preventDefault()" [formGroup]="LinesForm" *ngIf="this.form !== undefined" style="padding: 24px;border-radius: 10px; background: #f2f2f2;">
  <div class="form-group" *ngIf="this.form.commonFactor != undefined">

    <label class="control-label required" for="custVal">Common Factor</label>
      <input type="text"  id="commonFactor" formControlName="control1"
        [(ngModel)]="this.form.commonFactor.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        (mouseover)="updateHelpContext('form-customs-worksheet-line-commonfactor')"
        placeholder="Common Factor" />
        <!-- [ngClass]="{'form-control-invalid': this.form.commonFactorError !== null && this.form.commonFactorError !== undefined}"-->
        <div *ngIf="this.form.commonFactor.error !== null" class="input-group mb-3 invalid-control-label">
          <p *ngIf="this.form.commonFactor.OBit == false || this.form.commonFactor.OBit == null" style="width: inherit" >
          {{this.form.commonFactor.error}}
          <button (click)="OverridecommonFactorClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
          </p>
          <input formControlName="control1a"
          [(ngModel)]="this.form.commonFactor.OReason"  *ngIf="this.form.commonFactor.OBit == true" [disabled]="disabledcommonFactor" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
          <div *ngIf="this.form.commonFactor.OBit == true"  class="input-group-append ">
            <button (click)="OverridecommonFactorExcept()" [disabled]="disabledcommonFactor" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
            <button (click)="UndoOverridecommonFactor()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
          </div>
        </div>
      </div>
  <div class="form-group">
    <label class="control-label required" for="custVal">Customs Value</label>
    <input type="number" id="custVal" formControlName="control2"
      [(ngModel)]="this.form.custVal.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-customs-worksheet-line-custval')"
      placeholder="Customs Value"
     />
     <!-- [ngClass]="{'form-control-invalid': this.form.custValError !== null && this.form.custValError !== undefined}"-->
     <div *ngIf="this.form.custVal.error !== null" class="input-group mb-3 invalid-control-label">
      <p *ngIf="this.form.custVal.OBit == false || this.form.custVal.OBit == null" style="width: inherit" >
      {{this.form.custVal.error}}
      <button (click)="OverridecustValClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
      </p>
      <input formControlName="control2a"
      [(ngModel)]="this.form.custVal.OReason"  *ngIf="this.form.custVal.OBit == true" [disabled]="disabledcustVal" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
      <div *ngIf="this.form.custVal.OBit == true"  class="input-group-append ">
        <button (click)="OverridecustValExcept()" [disabled]="disabledcustVal" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
        <button (click)="UndoOverridecustVal()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
      </div>
    </div>
  </div>
  <div class="form-group" *ngIf="this.form.hsQuantity != undefined">
      <label class="control-label required" for="hsQuantity">HS Quantity</label>
    <input type="text"  id="hsQuantity" formControlName="control3"
      [(ngModel)]="this.form.hsQuantity.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-customs-worksheet-line-hsquantity')"
      placeholder="HS Quantity"
      />
      <!-- [ngClass]="{'form-control-invalid': this.form.hsQuantityError !== null && this.form.hsQuantityError !== undefined}"-->
      <div *ngIf="this.form.hsQuantity.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.hsQuantity.OBit == false || this.form.hsQuantity.OBit == null" style="width: inherit" >
        {{this.form.hsQuantity.error}}
        <button (click)="OverridehsQuantityClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
        </p>
        <input formControlName="control3a"
        [(ngModel)]="this.form.hsQuantity.OReason"  *ngIf="this.form.hsQuantity.OBit == true" [disabled]="disabledhsQuantity" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.hsQuantity.OBit == true"  class="input-group-append ">
          <button (click)="OverridehsQuantityExcept()" [disabled]="disabledhsQuantity" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverridehsQuantity()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
    </div>
  <div class="form-group" *ngIf="this.form.foreignInv != undefined">
      <label class="control-label required" for="foreignInv">Foreign Inv</label>
    <input type="text" id="foreignInv" formControlName="control4"
      [(ngModel)]="this.form.foreignInv.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-customs-worksheet-line-foreigninv')"
      placeholder="Foreign Invoice"
      />
      <!-- [ngClass]="{'form-control-invalid': this.form.foreignInvError !== null && this.form.foreignInvError !== undefined}"-->
      <div *ngIf="this.form.foreignInv.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.foreignInv.OBit == false || this.form.foreignInv.OBit == null" style="width: inherit" >
        {{this.form.foreignInv.error}}
        <button (click)="OverrideforeignInvClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
        </p>
        <input formControlName="control4a"
        [(ngModel)]="this.form.foreignInv.OReason"  *ngIf="this.form.foreignInv.OBit == true" [disabled]="disabledforeignInv" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.foreignInv.OBit == true"  class="input-group-append ">
          <button (click)="OverrideforeignInvExcept()" [disabled]="disabledforeignInv" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideforeignInv()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
    </div>
  <div class="form-group" *ngIf="this.form.duty != undefined">
      <label class="control-label required" for="duty">Duty</label>
    <input type="text" id="duty" formControlName="control5"
      [(ngModel)]="this.form.duty.value"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-customs-worksheet-line-duty')"
      placeholder="Duty"
      />
      <!-- [ngClass]="{'form-control-invalid': this.form.dutyError !== null && this.form.dutyError !== undefined}"-->
      <div *ngIf="this.form.duty.error !== null" class="input-group mb-3 invalid-control-label">
        <p *ngIf="this.form.duty.OBit == false || this.form.duty.OBit == null" style="width: inherit" >
        {{this.form.duty.error}}
        <button (click)="OverridedutyClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
        </p>
        <input formControlName="control5a"
        [(ngModel)]="this.form.duty.OReason"  *ngIf="this.form.duty.OBit == true" [disabled]="disabledduty" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
        <div *ngIf="this.form.duty.OBit == true"  class="input-group-append ">
          <button (click)="OverridedutyExcept()" [disabled]="disabledduty" class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
          <button (click)="UndoOverrideduty()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
        </div>
      </div>
    </div>
  <div class="form-group">
    <div class="col-sm-3 " style="float: left; padding-left:0px;">
      <label class="control-label required" for="supplyUnit">Supply Unit</label>
      <input type="text" id="supplyUnit" formControlName="control6"
        [(ngModel)]="this.form.supplyUnit.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        (mouseover)="updateHelpContext('form-customs-worksheet-line-supplyUnit')"
        placeholder="Supply Unit"/>
    </div>
    <div class="col-sm-9" style="float:left;">
      <label class="control-label required" for="currencyID">Unit of Measure</label>
          <input formControlName="control7"
          [(ngModel)]="this.unitQuery" (keyup)="filterUnit()"
          type="text" placeholder="Unit Of Measure" aria-label="Unit of Measure"
          class="form-control form-control-sm shadow-sm form-control-light"
          (mouseover)="updateHelpContext('form-invoice-line-unitofmeasure')"
          [formControl]="unitOfMeasure" [matAutocomplete]="unitOfMeasureAuto">
          <mat-autocomplete #unitOfMeasureAuto="matAutocomplete" >
            <mat-option *ngFor="let unit of unitOfMeasureList" [value]="unit.name" (onSelectionChange)="selectedUnit(unit.unitOfMeasureID)">
              {{unit.name}}, {{unit.description}}
            </mat-option>
          </mat-autocomplete>
      </div>
  </div>
  <div class="form-group">
    <label class="control-label required" for="currencyID">Currency</label>
    <input type="text" formControlName="control8"
      [(ngModel)]="this.currencyQuery"
      class="form-control form-control-sm shadow-sm form-control-light"
      (keyup)="filterCurrency()"
      placeholder="Currency" aria-label="Currency"
      [formControl]="currency"
      [matAutocomplete]="currencyAuto"
      (mouseover)="updateHelpContext('form-customs-worksheet-line-currency')">
      <mat-autocomplete #currencyAuto="matAutocomplete" >
        <mat-option *ngFor="let currency of currenciesList" [value]="currency.code"
        (onSelectionChange)="selectedCurrency(currency.currencyID)">
          {{currency.code}} - {{currency.name}}
        </mat-option>
      </mat-autocomplete>
  </div>
  <div class="form-group">
    <label class="control-label required" for="tariff">Tariff</label>
      <input type="text" formControlName="control9"
      [(ngModel)]="this.tariffQuery"
      class="form-control form-control-sm shadow-sm form-control-light"
      (keyup)="filterTariff()"
      placeholder="Tariff" aria-label="Tariff"
      [formControl]="tariff"
      [matAutocomplete]="tariffAuto"
      (mouseover)="updateHelpContext('form-customs-worksheet-line-tariff-description')">

      <mat-autocomplete #tariffAuto="matAutocomplete" >
        <mat-option *ngFor="let tariff of tariffs" [value]="tariff.name"
        (onSelectionChange)="selectedTariff(tariff.id)">
        {{tariff.subHeading}} - {{tariff.name}}
        </mat-option>
      </mat-autocomplete>
  </div>
  <div class="form-group">
  <label for="currencyID">Invoice No</label>
  <input type="text" formControlName="control10"
    [(ngModel)]="this.form.invoiceNo.value" type="text"
    class="form-control form-control-sm shadow-sm form-control-light"
    (mouseover)="updateHelpContext('form-customs-worksheet-line-invoiceno')" placeholder="Invoice No"/>
  </div>
  <div class="form-group">
    <label for="currencyID">Product Code</label>
    <input type="text" formControlName="control11"
      [(ngModel)]="this.form.prodCode.value" type="text"
      class="form-control form-control-sm shadow-sm form-control-light"
      (mouseover)="updateHelpContext('form-customs-worksheet-line-prodcode')" placeholder="Product Code"/>
  </div>
  <div class="form-group">
    <label class="control-label required" for="currencyID">Country of Origin</label>
    <input formControlName="control12"
    [(ngModel)]="this.countryQuery" type="text"
      class="form-control form-control-sm shadow-sm form-control-light"
      (keyup)="filterCountries()"
      placeholder="COO" aria-label="COOID"
      [formControl]="cooControl"
      [matAutocomplete]="cooAuto"
      (mouseover)="updateHelpContext('form-customs-worksheet-line-coo')">
      <mat-autocomplete #cooAuto="matAutocomplete" >
        <mat-option *ngFor="let country of countriesList" [value]="country.code"
        (onSelectionChange)="selectedCountry(country.countryID)">
          {{country.code}} - {{country.name}}
        </mat-option>
      </mat-autocomplete>
  </div>
</form>
