<ng-keyboard-shortcuts *ngIf="shortcuts" [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<app-notification></app-notification>
<loader *ngIf="loader"></loader>

<div class="capture-header">
  <h1 class="capture-form-title text-dark">
    <span>{{attachmentLabel}}</span>
  </h1>
</div>
<br>

<form [formGroup]="form" (ngSubmit)="submit(form)">
  <div class="row">
    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Waybill No
        </mat-label>
        <input matInput #startForm type="text" formControlName="waybillNo" (focusin)="updateHelpContext('form-waybill-no')"/>
        <button *ngIf="form.controls.waybillNoOBit.value" type="button"  matSuffix mat-icon-button (click)="undoOverride('waybillNo')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>
        <mat-hint *ngIf="form.controls.waybillNoOBit.value">OVERRIDE: {{form.controls.waybillNoOReason.value}}</mat-hint>
        <button *ngIf="form.controls.waybillNoOBit.value  && form.controls.waybillNo.errors?.incorrect" type="button"  matSuffix mat-icon-button (click)="overrideDialog('waybillNo', 'Waybill No')" matTooltip="Override"><mat-icon>remove_circle</mat-icon></button>
        <mat-error *ngIf="!form.controls.waybillNoOBit.value  && form.controls.waybillNo.errors?.incorrect">{{getError('waybillNo')}}</mat-error>
      </mat-form-field>
      <br /><br />
    </div>
  </div>
</form>

<app-capture-errors [(errors)]="errors" [(open)]="showErrors"></app-capture-errors>
