
<ng-keyboard-shortcuts *ngIf="shortcuts" [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<br>
<ng-container *ngIf="data === null || !data">
  <button mat-raised-button class="bg-success text-light" (click)="submit(form)">Queue Creation</button>
</ng-container>
<ng-container *ngIf="data !== null && data">
  <button mat-raised-button class="bg-primary text-light" (click)="submit(form)">Queue Update</button>
</ng-container>
<br><br>

<form [formGroup]="form" (ngSubmit)="submit(form)">
  <div class="row">
    <div class="col-6" >
      <ls-autocomplete-items [transstatus]="transstatus" [status]="status" [label]="'Items'" [(control)]="form.controls.ItemID" [companyID]="companyID" [helpSlug]="'smd-line-items'"></ls-autocomplete-items>
      <br><br>
    </div>
    <div class="col-6" >
      <ls-autocomplete-items [transstatus]="transstatus" [status]="status" [label]="'Supplier Items'" [(control)]="form.controls.SupplierItemID" [companyID]="companyID" [helpSlug]="'smd-line-supplier-items'"></ls-autocomplete-items>
      <br><br>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Line No
        </mat-label>
        <input matInput type="text" formControlName="LineNo" (focusin)="updateHelpContext('smd-line-line-no')">
      </mat-form-field>
      <br><br>
    </div>

    <div class="col-6" >
        <ls-autocomplete-units-of-measure [transstatus]="transstatus" [status]="status" [(control)]="form.controls.UnitOfMeasureID" [helpSlug]="'smd-line-unit'"></ls-autocomplete-units-of-measure>
        <br><br>
    </div>


    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Non-SMD Value
        </mat-label>
          <input matInput type="text" formControlName="NonSMDValue" (focusin)="updateHelpContext('smd-line-non-value')">
       </mat-form-field>
      <br><br>
    </div>


    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Aluminium
        </mat-label>
          <input matInput type="text" formControlName="Aluminium" (focusin)="updateHelpContext('smd-line-al')">
       </mat-form-field>
      <br><br>
    </div>


    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Brass
        </mat-label>
          <input matInput type="text" formControlName="Brass" (focusin)="updateHelpContext('smd-line-brass')">
       </mat-form-field>
      <br><br>
    </div>


    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Leather
        </mat-label>
          <input matInput type="text" formControlName="Leather" (focusin)="updateHelpContext('smd-line-leather')">
       </mat-form-field>
      <br><br>
    </div>


    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          PGM
        </mat-label>
          <input matInput type="text" formControlName="PGM" (focusin)="updateHelpContext('smd-line-pgm')">
       </mat-form-field>
      <br><br>
    </div>

    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Flat Glass
        </mat-label>
          <input matInput type="text" formControlName="FlatGlass" (focusin)="updateHelpContext('smd-line-flatglass')">
       </mat-form-field>
      <br><br>
    </div>

    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Stainless Steel
        </mat-label>
          <input matInput type="text" formControlName="StainlessSteel" (focusin)="updateHelpContext('smd-line-stainless')">
       </mat-form-field>
      <br><br>
    </div>

    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Steel
        </mat-label>
          <input matInput type="text" formControlName="Steel" (focusin)="updateHelpContext('smd-line-steel')">
       </mat-form-field>
      <br><br>
    </div>

    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Reference
        </mat-label>
          <input matInput type="text" formControlName="Reference" (focusin)="updateHelpContext('smd-line-reference')">
       </mat-form-field>
      <br><br>
    </div>

    <div class="col-12">
      <mat-checkbox formControlName="Active">Active</mat-checkbox>
      <br><br>
  </div>
  </div>
</form>
