<form (submit)="submit($event); $event.preventDefault()">
  <div class="form-group">
    <input type="text"
      [(ngModel)]="this.form.serialNo.value" [ngModelOptions]="{standalone: true}"
      class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
      placeholder="Serial No" />
      <small class="text-danger text-bold" *ngIf="this.form.serialNo.error !== null">{{this.form.serialNo.error}}</small>
  </div>
  <div class="form-group">
    <input type="text"
      [(ngModel)]="this.form.LRN.value" [ngModelOptions]="{standalone: true}"
      class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
      placeholder="LRN" />
      <small class="text-danger text-bold" *ngIf="this.form.LRN.error !== null">{{this.form.LRN.error}}</small>

  </div>
  <div class="form-group">
    <input type="text"
      [(ngModel)]="this.form.importersCode.value" [ngModelOptions]="{standalone: true}"
      class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
      placeholder="Importers Code" />
      <small class="text-danger text-bold" *ngIf="this.form.importersCode.error !== null">{{this.form.importersCode.error}}</small>

  </div>
  <div class="form-group">
    <input type="text"
      [(ngModel)]="this.form.PCC.value" [ngModelOptions]="{standalone: true}"
      class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
      placeholder="PCC" />
      <small class="text-danger text-bold" *ngIf="this.form.PCC.error !== null">{{this.form.PCC.error}}</small>

  </div>
  <div class="form-group">
    <input type="text"
      [(ngModel)]="this.form.FOB.value" [ngModelOptions]="{standalone: true}"
      class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
      placeholder="FOB" />
      <small class="text-danger text-bold" *ngIf="this.form.FOB.error !== null">{{this.form.FOB.error}}</small>

  </div>
  <div class="form-group">
    <input type="text"
      [(ngModel)]="this.form.waybillNo.value" [ngModelOptions]="{standalone: true}"
      class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
      placeholder="Waynill No" />
      <small class="text-danger text-bold" *ngIf="this.form.waybillNo.error !== null">{{this.form.waybillNo.error}}</small>

  </div>
  <div class="form-group">
    <input type="text"
      [(ngModel)]="this.form.supplierRef.value" [ngModelOptions]="{standalone: true}"
      class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
      placeholder="Supplier Ref" />
      <small class="text-danger text-bold" *ngIf="this.form.supplierRef.error !== null">{{this.form.supplierRef.error}}</small>

  </div>
  <div class="form-group">
    <input type="text"
      [(ngModel)]="this.form.MRN.value" [ngModelOptions]="{standalone: true}"
      class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
      placeholder="MRN" />
      <small class="text-danger text-bold" *ngIf="this.form.serialNo.error !== null">{{this.form.serialNo.error}}</small>

  </div>
  <div class="form-group">
    <button type="submit" mat-raised-button class="btn-primary">Submit</button>
  </div>
</form>
