<div class="shadow tile ls-tile-{{ currentTheme }}">
    <div class="ls-card-body">
      <div class="float-right">
        <ng-container *ngIf="showLoader">
          <app-loader></app-loader>
        </ng-container>
      </div>
      <app-table
        *ngIf="this.CompanyBOMs"
        [dataset]="this.CompanyBOMs"
        [headings]="this.tableHeadings"
        [recordsPerPage]="this.recordsPerPage"
        [rowStart]="this.rowStart"
        [rowEnd]="this.rowEnd"
        [rowCount]="this.rowCount"
        [orderBy]="this.orderBy"
        [orderByDirection]="this.orderDirection"
        [tableHeader]="this.tableHeader"
        (backButtonEvent)="back()"
        (addButtonEvent)="add()"
        (selectedRecord)="selectedRecord($event)"
        (orderChange)="orderChange($event)"
        (pageChange)="pageChange($event)"
        (showingRecordsEvent)="recordsPerPageChange($event)"
        (searchEvent)="searchEvent($event)">
      </app-table>
    </div>
  </div>

  <app-notification></app-notification>
  <app-modal-component></app-modal-component>

  <app-menu
  *ngIf="this.contextMenu"
  [contextShow]="this.contextMenu"
  [x]="this.contextMenuX"
  [y]="this.contextMenuY"
  (resetContext)="this.selectedRow = -1; this.contextMenu = false">
  <app-context-menu-boms [BOMID]="this.BOM.bomid" [Status]="this.BOM.status" (RemovingBOM)="RemoveBOM($event)"></app-context-menu-boms>
</app-menu>

<!--Add Modal - Which is actually for bom lines-->
<!--<button class="hide" data-toggle="modal" data-target="#addBOM" #openAddModal></button>-->
<!--<div class="modal fade" id="addBOM" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered" role="document">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title" id="modalContent">Upload BOM</h5>-->
<!--        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <form (submit)="saveBOMUpload()">-->
<!--          <div class="modal-body">-->
<!--            <div class="form-group">-->
<!--              <label class="control-label">File Name:&nbsp;{{filePreview}}</label>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="addBOMFile">-->
<!--                <span class="upload-button"><span class="mdi mdi-upload"></span>&nbsp;Upload</span>-->
<!--              </label>-->
<!--              &lt;!&ndash; <button class="btn btn-primary btn-sm" style="margin-top: -8px;" type="button" mat-button (click)="queueBOM($event)">Upload</button> &ndash;&gt;-->
<!--              <input id="addBOMFile" hidden #bomFile type="file" (change)="onFileChange($event.target.files)" required>-->
<!--            </div>-->
<!--        </div>-->
<!--      <div class="modal-footer bg-dark">-->
<!--        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeeditModal>Close</button>-->
<!--        <button type="submit" (click)="saveBOMUpload()" class="btn btn-primary btn-sm">Save</button>-->
<!--      </div>-->
<!--    </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<button class="hide" data-toggle="modal" data-target="#addBOM" #openAddModal></button>
<div class="modal fade" id="addBOM" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Create BOM</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <div class="form-group">
              <!-- <mat-form-field style="width: 100%">
                <mat-label>Quarter</mat-label> -->
                <p>Would like to create add a new quater?</p>
              <!-- </mat-form-field> -->
            </div>
          </div>
          <!-- <div class="form-group">
            <div class="form-group">
              <mat-form-field style="width: 100%">
                <mat-label>Quarter</mat-label>
                <mat-select [(ngModel)]="this.focusPeriodQuarter" name="quarter">
                  <mat-option (change)="periodQuarter(quarter.value)" *ngFor="let quarter of quarters" [value]="quarter.value">
                    {{quarter.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div> -->
          <!-- <div class="form-group">
            <div class="form-group">
              <mat-form-field style="width: 100%">
                <mat-label>Year</mat-label>
                <mat-select [(ngModel)]="this.focusPeriodYear" name="quarter">
                  <mat-option (change)="periodYear(year)" *ngFor="let year of years" [value]="year">
                    {{year}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div> -->
<!--          <mat-form-field style="width: 100%">-->
<!--            <mat-label>Status:</mat-label>-->
<!--            <mat-select [(ngModel)]="this.focusBOMStatus" [ngModelOptions]="{standalone: true}">-->
<!--&lt;!&ndash;              <mat-option disabled selected>Please select a status</mat-option>&ndash;&gt;-->
<!--              <mat-option (change)="setBomStatusFocus(status.BomStatusID)" *ngFor="let status of this.BOMStatuses; let x = index;"  [value]="(+x + +1)">-->
<!--                {{status.Name}}</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--          <div class="form-group" style="float: right">-->
<!--            <label for="addBOMFile">-->
<!--              <span class="upload-button"><span class="mdi mdi-upload"></span>&nbsp;Upload</span>-->
<!--            </label>-->
<!--            &lt;!&ndash; <button class="btn btn-primary btn-sm" style="margin-top: -8px;" type="button" mat-button (click)="queueBOM($event)">Upload</button> &ndash;&gt;-->
<!--            <input id="addBOMFile" hidden #bomFile type="file" (change)="onFileChange($event.target.files)" required>-->
<!--          </div>-->
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeAddModal>No</button>
          <button type="submit" #bomFile (click)="saveBOM(this.companyID)" class="btn btn-primary btn-sm">Yes</button>
          <!-- <button type="submit" #bomFile (click)="saveBOM(this.companyID, this.focusBOMStatus)" class="btn btn-primary btn-sm">Save</button> -->
        </div>
      </form>
    </div>
  </div>
</div>
