
<div>
    <div class="form-group">
        <div class="col-6">
          <label class="control-label">Submission Date:</label>
          <input #myInput [(ngModel)]="this.submissiondate" [ngModelOptions]="{standalone: true}"
          type="date" class="form-control" (change)="enddateselected($event.target.value)" required/>
        </div>
      </div>
      <mat-form-field class="width">
        <mat-label>Permits</mat-label>
        <mat-select [formControl]="permitsByDate" multiple (selectionChange)="permitselected($event.value)">
          <mat-option *ngFor="let permit of this.Permits" [value]="permit.permitID">{{permit.permitCode}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <br>
      <mat-label>SAD500 List:</mat-label><mat-slide-toggle  [(ngModel)]="this.complete" [ngModelOptions]="{standalone: true}" class="margin20">Completed</mat-slide-toggle>
      <mat-selection-list class="border" #SAD500s (selectionChange)="sad500selected(SAD500s.selectedOptions.selected)">
          <mat-list-option *ngFor="let sad of SAD500Lines" [value]="sad.SAD500LineID">{{sad.SAD500Line}}</mat-list-option>
      </mat-selection-list>
</div>