.capture-form {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 22px;
  background: rgba($color: #fff, $alpha: 0.8);
}

.capture-form-title {
  font-size: 24px;
}

.capture-form-subtitle {
  font-size: 12px !important;
}
