<div class="tile ls-tile-{{currentTheme}}" style="margin-top: 64px;">
  <h3>Attachment Name</h3>
  <br/>
  <form>
    <div class="form-group">
      <label for="">Label</label>
      <input type="text"
      class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
      placeholder="Field" />
    </div>
    <div class="form-group">
        <label for="">Label</label>
        <input type="text"
        class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
        placeholder="Field" />
      </div>
      <div class="form-group">
          <label for="">Label</label>
          <input type="text"
          class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
          placeholder="Field" />
        </div>
        <div class="form-group">
            <label for="">Label</label>
            <input type="text"
            class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
            placeholder="Field" />
          </div>
          <div class="form-group">
              <label for="">Label</label>
              <input type="text"
              class="form-control form-control-sm shadow-sm form-control-{{ currentTheme }}"
              placeholder="Field" />
            </div>
            <div class="form-group">
                <input type="submit"
                class="btn btn-primary"
                value="Finish" />
              </div>
  </form>
</div>
