<div #popCont class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}" style="cursor: pointer">
    <div class="card">
      <div class=" popBodyNav">
        <a (click)="Edit()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Edit</span></a>
        <a (click)="Supply()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Manage Supply</span></a>
        <a (click)="Sales()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Manage Sales</span></a>
        </div>
    </div>
</div>
