<html>

<head>
  <title>Users</title>
</head>

<body>
  <div class="container-scroller">
    <app-navbar></app-navbar>
    <div class="container-fluid page-body-wrapper">
      <app-sidebar></app-sidebar>
      <div class="main-panel">
        <div class="content-wrapper">
            <!-- Here is where the page content should go -->

          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">

                <app-searchbar></app-searchbar>

              </div>
            </div>
          </div>

          <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                  <button class="nav-search btn-light border-0 text-dark mdi mdi-account-search float-right" style="padding: 10px"></button>
                <br/>
                <h4 class="card-title">Users</h4>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th>Emp No</th>
                      <th>First Name</th>
                      <th>Surname</th>
                      <th>Email</th>
                      <th>Ext</th>
                      <th>Designation</th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of userList">
                        <td>{{user.empNo}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.surname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.extension}}</td>
                        <td>{{user.designation}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

            <!-- End of page Content -->
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</body>

</html>
