<mat-form-field [appearance]="appearance">
  <mat-label>
    CPC
  </mat-label>
  <input type="text" matInput [formControl]="query" [matAutocomplete]="cpcAuto" (focusout)="focusOut();">
  <mat-error *ngIf="query.hasError('required')">This field is required</mat-error>
  <mat-error *ngIf="query.hasError('incorrect')">An option has not been selected, <button class="text-button" type="button" (click)="query.setValue(null)">clear</button></mat-error>
</mat-form-field>
<mat-autocomplete #cpcAuto="matAutocomplete" [displayWith]="displayFn">
  <mat-option *ngFor="let cpc of cpcList" [value]="cpc">
    {{cpc.CPC}}
  </mat-option>
</mat-autocomplete>
