<div class="shadow tile ls-tile-{{ currentTheme }}">
    <div class="ls-card-body">
      <div class="float-right">
        <ng-container *ngIf="showLoader">
          <app-loader></app-loader>
        </ng-container>
      </div>
      <div class="col-md-3" style="padding-left:0px;"><span style="float:left; margin-right:5px;"></span>
        <h4 class="ls-text-{{ currentTheme }}" style="float:left; padding-top:7px;">Locations</h4><span style="margin-left:10px;"><button  class="btn-add btn"><i class="mdi mdi-plus"></i></button></span>
        </div>
      <br />
      <div class="row">
      <div class="col-md-4 col-sm-12" *ngFor="let country of dataResult">
        <div class="tile shadow-sm">
          <div class="location-country">
        <h4 (click)="popClick($event, country.countryID, country.name, 'country'); setSelectedRow(country.hash)" [ngClass]="{activeCountry: selectedRow === country.hash}" class="country-name">{{ country.name }}
        </h4>
      </div>
        <div class="locations-list">
        <div *ngFor="let region of country.regions">
          <p class="country-name" (click)="popClick($event, region.id, region.name, 'region'); setSelectedRow(region.hash)" [ngClass]="{activeRegion: selectedRow === region.hash}"><strong>{{ region.name }}</strong></p>
          <ul class="list-unstyled">
            <li *ngFor="let city of region.cities;" (click)="popClick($event, city.id, city.name, 'city'); setSelectedRow(city.hash)" class="location-city" [ngClass]="{active: selectedRow === city.hash}">
              {{city.name}}
            </li>
          </ul>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

<button class="hide" data-toggle="modal" data-target="#editGlossary" #openModal></button>
<div class="modal fade" id="editGlossary" tabindex="-1" role="dialog" aria-labelledby="uploadBackgroundLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadBackgroundLabel">Update Location</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="editLocation()">
      <div class="modal-body">
      <div class="form-group">
          <input type="text" placeholder="Help Name" class="form-control"
            [(ngModel)]="this.locationName" [ngModelOptions]="{standalone: true}" required/>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeModal>Close</button>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="contextOverlay" *ngIf="(contextMenu)" (click)="popOff()">
  <app-context-menu-location (editItem)="locationModal($event)" [ngStyle]="(contextMenu)?'' :'display:none;'" class="contextMenuDiv" *ngIf="(contextMenu)" [x]="contextMenuX" [y]="contextMenuY" [locationID]="locationID" [locationName]="locationName" [locationType]="locationType"></app-context-menu-location>
</div>
