<div class="shadow tile ls-tile-{{ currentTheme }}">
    <div class="ls-card-body">
      <div class="float-right">
        <ng-container *ngIf="showLoader">
          <app-loader></app-loader>
        </ng-container>
      </div>
      <button class="btn btn-primary float-right btn-sm"><i class="mdi mdi-google-maps menu-icon"></i>&nbsp;Add Location</button>
      <h4 class="card-title ls-text-{{ currentTheme }}">Locations</h4>
      <br />
      <div class="row">
      <div class="col-md-4 col-sm-12" *ngFor="let country of dataResult">
        <div class="tile shadow-sm">
          <div class="location-country">
        <h4 (click)="editModal(country.countryID, country.name, 'country')" class="country-name">{{ country.name }}&nbsp;<span class="mdi mdi-circle-edit-outline text-primary" matTooltip="Edit Country"
          matTooltipPosition="after"></span>
        </h4>
      </div>
        <div class="locations-list">
        <div *ngFor="let region of country.regions">
          <p class="country-name" (click)="editModal(region.id, region.name, 'region')"><strong>{{ region.name }}&nbsp;<span class="mdi mdi-circle-edit-outline text-primary" matTooltip="Edit Region"
            matTooltipPosition="after"></span></strong></p>
          <ul class="list-unstyled">
            <li *ngFor="let city of region.cities;" (click)="editModal(city.id, city.name, 'city')" class="location-city country-name" matTooltip="Edit City"
            matTooltipPosition="after">
                <span class="mdi mdi-circle-edit-outline text-primary float-right"></span>
              {{city.name}}
            </li>
          </ul>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>

<button class="hide" data-toggle="modal" data-target="#editGlossary" #openModal></button>
<div class="modal fade" id="editGlossary" tabindex="-1" role="dialog" aria-labelledby="uploadBackgroundLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadBackgroundLabel">Update Location</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="editLocation()">
      <div class="modal-body">
      <div class="form-group">
          <input type="text" placeholder="Help Name" class="form-control"
            [(ngModel)]="this.locationName" [ngModelOptions]="{standalone: true}" required/>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeModal>Close</button>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>
