<div class="shadow tile ls-tile-{{ currentTheme }}">
    <div class="ls-card-body">
      <div class="float-right">
        <ng-container *ngIf="showLoader">
          <app-loader></app-loader>
        </ng-container>
      </div>
      <app-table
        *ngIf="this.PermitTypes"
        [dataset]="this.PermitTypes"
        [headings]="this.tableHeadings"
        [recordsPerPage]="this.recordsPerPage"
        [rowStart]="this.rowStart"
        [rowEnd]="this.rowEnd"
        [rowCount]="this.rowCount"
        [tableHeader]="this.tableHeader"
        (backButtonEvent)="back()"
        (selectedRecord)="selectedRecord($event)"
        (orderChange)="orderChange($event)"
        (pageChange)="pageChange($event)"
        (showingRecordsEvent)="recordsPerPageChange($event)"
        (searchEvent)="searchEvent($event)">
      </app-table>
    </div>
  </div>

  <app-notification></app-notification>
  <app-modal-component></app-modal-component>

  <app-menu
  *ngIf="this.contextMenu"
  [contextShow]="this.contextMenu"
  [x]="this.contextMenuX"
  [y]="this.contextMenuY"
  (resetContext)="this.selectedRow = -1; this.contextMenu = false">
  <app-context-menu-permit-types [permitTypeID]="this.PermitType.permitTypeID" [permitTypeName]="this.PermitType.permitName"></app-context-menu-permit-types>
</app-menu>
