<a (click)="Bomlines()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Bom Lines</span></a>
<a (click)="BomLineErrors()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Bom Line Errors</span></a>
<a (click)="Items()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Items</span></a>
<a (click)="ItemErrors()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Item Errors</span></a>
<a (click)="ItemGroups()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Item Groups</span></a>
<a (click)="ItemGroupErrors()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Item Group Errors</span></a>
<a *ngIf="currentUser.designation.toUpperCase() == 'ADMIN'" (click)="RemoveBOM()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Remove BOM</span></a>

