<a (click)="Bomlines()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Bom Lines</span></a>
<a (click)="BomLineErrors()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Bom Line Errors</span></a>
<a (click)="BomLineErrors()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Items</span></a>
<a (click)="BomLineErrors()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Item Errors</span></a>
<a (click)="BomLineErrors()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Item Groups</span></a>
<a (click)="BomLineErrors()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Item Group Errors</span></a>

