<ng-keyboard-shortcuts [shortcuts]="shortcuts" *ngIf="this.shortcuts"></ng-keyboard-shortcuts>

<pdf-viewer
  class="viewer"
  [(src)]="pdf"
  [render-text]="true"
  [(zoom)]="zoom_to"
  [(page)]="page"
  [(rotation)]="rotation"
  [autoresize]="false"
  [fit-to-page]="false">
</pdf-viewer>
<div class="pdf-control-container" >
  <div class="pdf-control">
    <div class="row">
      <div class="col-4 text-left">
        <button class="btn btn-secondary btn-sm" matTooltip="Zoom out" matTooltipPosition="above" (click)="zoom_out()" [disabled]="this.zoom_to <= 0.4">
          <span class="mdi mdi-minus"></span>
        </button>
        &nbsp;
        <button class="btn btn-secondary btn-sm" matTooltip="Zoom in" matTooltipPosition="above" (click)="zoom_in()" [disabled]="this.zoom_to >= 1.6">
          <span class="mdi mdi-plus"></span>
        </button>
      </div>
      <div class="col-4">
        <div class="text-center">
          <button class="btn btn-secondary btn-sm" matTooltip="Previous Page" matTooltipPosition="above" (click)="pageChange(page - 1)" [disabled]="page === 1">
            <span class="mdi mdi-arrow-left"></span>
          </button>
          &nbsp;
            <span style="margin-right: 10px">{{page}}</span>
          <button class="btn btn-secondary btn-sm" matTooltip="Next Page" matTooltipPosition="above" (click)="pageChange(page + 1)">
            <span class="mdi mdi-arrow-right"></span>
          </button>
        </div>
      </div>
      <div class="col-4 text-right">
        <button class="btn btn-secondary btn-sm" matTooltip="Rotate" matTooltipPosition="above" (click)="rotatePDF(rotation + 90)">
          <span class="mdi mdi-rotate-left"></span>
        </button>
      </div>
    </div>
  </div>
</div>
