<div class="fh">
  <div class="col-lg-4 col-sm-12 m-auto d-flex align-items-center justify-content-center" style="height:100%;">
    <div class="text-left tile-frost tile shadow full-form">
            <div class="brand-logo">
              <img src="./../../../assets/dist/images/logo.png" alt="logo">
            </div>
            <h4 style="margin-bottom: 5px;margin-top:26px;">Forgot Password</h4>
            <h6 class="font-weight-light">Enter your email address so we can get you logged in!</h6>
            <form class="pt-3" id="forgotPasswordForm" (submit)="onRequestOtpSubmit()">
              <div class="form-group">
                <label for="exampleInputEmail">Email Address</label>
                <div class="input-group">
                  <div class="input-group-prepend bg-transparent">
                    <span class="input-group-text bg-transparent border-right-0">
                      <i class="mdi mdi-account-outline text-primary"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control form-control-lg border-left-0" id="txtEmail"
                    placeholder="Email Address" required [(ngModel)]="txtEmail" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="my-3">
                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                  [disabled]="requestPending">Request OTP</button>
              </div>
              <div class="my-2 text-center">
                <a routerLink="/" class="auth-link text-behance">Go back to login page</a>
              </div>
            </form>
          </div>
        </div>
      </div>
<app-notification></app-notification>
