.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px #f2f2f2 solid;
  transition: ease-in-out 0.3s;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.userRecord:hover>td>img {
  border: 1px #4d83ff solid;
  transition: ease-in-out 0.3s;
}

.form-control {
  border: 1px rgba(30, 30, 30, 0.2) solid;
}

.form-control:focus {
  border: 1px #4d83ff solid;

}

.active-page {
  background: #4d83ff;
  color: #f2f2f2;
}

.page-link {
  border: none;
  border-radius: 0;
}

.page-item {
  border: none;
  border-radius: 0;
}

.ls-card-body {
  width: 100%;
  min-height: 300px;
  padding: 25px;
}

.center {
  text-align:center;
  height: 300px;
}


.btn-add {
  width: 100px;
  height: 100px;
  top: 45%;
  padding: 3px 0px;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  box-shadow: 0 4px 8px 0 rgba(30, 144, 2, 0.68);
  background-color: #71c016;
  color:#fff;
}

.btn-add:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #62ab0e;
  transition: 0.3s;
  color:#fff;
}
.btn-add:active {
  border: 2px solid #79d90b;

}
.btn-add i:hover {
  color:#fff;
}

