<h3 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane">Invoice Lines</h3>
<div mat-dialog-content>
  <ng-container *ngIf="currentLinks.length > 0">
    <h5>Linked Lines</h5>
  </ng-container>
  <ng-container *ngFor="let item of currentLinks; let i = index">
    <button mat-button (click)="removeJoin(i)" style="margin: 0; padding: 0; width: 100%;">
      <mat-card class="linked">
        <mat-card-content>
          <div class="row">
            <div class="col-6">
              <p style="width: 100%;">
                <strong>Invoice No</strong> {{item.invoiceNo}} <br>
                <strong>Total Line Value</strong> {{item.totalLineValue}} <br>
                <strong>Product Code</strong> {{item.prodCode}} <br>
                <strong>Unit Price</strong> {{item.unitPrice}} <br>
              </p>
            </div>
            <div class="col-6">
              <p style="width: 100%;">
                <strong>Item</strong> {{item.items ? item.items.Name : '-'}} <br>
                <strong>Quantity</strong> {{item.quantity}} <br>
                <strong>Common Factor</strong> {{item.commonFactor}} <br>
                <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </button>
    <br>
    <br>
  </ng-container>
  <ng-container *ngIf="lines.length > 0">
    <br>
    <h5>Available Lines</h5>
  </ng-container>
  <ng-container *ngFor="let item of lines; let i = index">
    <button mat-button (click)="addJoin(i)" style="margin: 0; padding: 0; width: 100%;">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-6">
              <p style="width: 100%;">
                <strong>Invoice No</strong> {{item.invoiceNo}} <br>
                <strong>Total Line Value</strong> {{item.totalLineValue}} <br>
                <strong>Product Code</strong> {{item.prodCode}} <br>
                <strong>Unit Price</strong> {{item.unitPrice}} <br>
              </p>
            </div>
            <div class="col-6">
              <p style="width: 100%;">
                <strong>Item</strong> {{item.items ? item.items.Name : '-'}} <br>
                <strong>Quantity</strong> {{item.quantity}} <br>
                <strong>Common Factor</strong> {{item.commonFactor}} <br>
                <strong>Unit Of Measure</strong> {{item.unit ? item.unit.Description : '-'}}
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </button>
    <br>
    <br>
  </ng-container>
  <br>
</div>
