<div #popCont class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}" style="cursor: pointer">
  <div class="card">
    <div class=" popBodyNav">
      <a (click)="companyItems()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Group</span></a>
      <a (click)="AddtoGroup()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Add to Group</span></a>
      <!-- <a (click)="ItemValues()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Item Values</span></a> -->
      <a (click)="ItemParents()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Item Parents</span></a>
      <a (click)="AddtoParent()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Add to Parent item</span></a>
    </div>
  </div>
</div>
