
<ng-keyboard-shortcuts *ngIf="shortcuts" [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<br>
<ng-container *ngIf="data === null || !data">
  <button mat-raised-button class="bg-success text-light" (click)="submit(form)">Queue Creation</button>
</ng-container>
<ng-container *ngIf="data !== null && data">
  <button mat-raised-button class="bg-primary text-light" (click)="submit(form)">Queue Update</button>
</ng-container>
<br><br>

<form [formGroup]="form" (ngSubmit)="submit(form)">
  <div class="row">
    <div class="col-6">
      <mat-form-field appearance="fill" (mouseover)="updateHelpContext('form-c1-line-line-no')">
        <mat-label>
          Line No
        </mat-label>
        <input matInput type="text" formControlName="LineNo">
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" (mouseover)="updateHelpContext('form-c1-line-document-no')">
        <mat-label>
          Document No
        </mat-label>
        <input matInput type="number" formControlName="DocumentNo">
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" (mouseover)="updateHelpContext('form-c1-line-document-line-no')">
        <mat-label>
          Document Line No
        </mat-label>
        <input matInput type="text" formControlName="DocumentLineNo">
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-12">
      <ls-autocomplete-items [control]="form.controls.ItemID"></ls-autocomplete-items>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" (mouseover)="updateHelpContext('form-c1-line-component-value')">
        <mat-label>
          Component Value
        </mat-label>
          <input matInput type="text" formControlName="ComponentValue">
       </mat-form-field>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" (mouseover)="updateHelpContext('form-c1-line-raw-material-value')">
        <mat-label>
          Raw Material Value
        </mat-label>
          <input matInput type="text" formControlName="RawMaterialValue">
       </mat-form-field>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" (mouseover)="updateHelpContext('form-c1-line-reference')">
        <mat-label>
          Reference
        </mat-label>
          <input matInput type="text" formControlName="Reference">
       </mat-form-field>
      <br><br>
    </div>
    <!-- <div class="col-4" (mouseover)="updateHelpContext('form-c1-line-unit-of-measure')">
        <ls-autocomplete-units-of-measure [(control)]="form.controls.unitOfMeasureID"></ls-autocomplete-units-of-measure>
        <br><br>
    </div> -->
    <div class="col-8">
        <mat-form-field appearance="fill" (mouseover)="updateHelpContext('form-c1-line-total-cost')">
            <mat-label>
            Total Cost
            </mat-label>
            <input matInput type="number" formControlName="TotalCost">
        </mat-form-field>
        <br><br>
    </div>
    <div class="col-12">
      <mat-checkbox formControlName="Active">Active</mat-checkbox>
      <br><br>
  </div>
  </div>
</form>
