
<ng-keyboard-shortcuts *ngIf="shortcuts" [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<br>
<ng-container *ngIf="data === null || !data">
  <button mat-raised-button class="bg-success text-light" (click)="submit(form)">Queue Creation</button>
</ng-container>
<ng-container *ngIf="data !== null && data">
  <p>Use "ALT + A" to create or update the current line</p>
</ng-container>
<br><br>

<form [formGroup]="form" (ngSubmit)="submit(form)">
  <div class="row">
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Line No
        </mat-label>
        <input matInput type="text" formControlName="LineNo" (focusin)="updateHelpContext('form-c1-line-no')">
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Document No
        </mat-label>
        <input matInput type="number" formControlName="DocumentNo" (focusin)="updateHelpContext('form-c1-line-doc')">
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Document Line No
        </mat-label>
        <input matInput type="text" formControlName="DocumentLineNo" (focusin)="updateHelpContext('form-c1-line-doc-no')">
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-6">
      <ls-autocomplete-items [status]="status" [companyID]="companyID" [control]="form.controls.ItemID" [helpSlug]="'c1-line-item'"></ls-autocomplete-items>
      <br><br>
    </div>
    <div class="col-6">
      <ls-autocomplete-items [status]="status" [companyID]="companyID" [control]="form.controls.SupplierItemID" [label]="'Supplier Items'" [helpSlug]="'c1-line-supplier'"></ls-autocomplete-items>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Component Value
        </mat-label>
          <input matInput type="text" formControlName="ComponentValue" (focusin)="updateHelpContext('form-c1-line-component-value')">
       </mat-form-field>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Raw Material Value
        </mat-label>
          <input matInput type="text" formControlName="RawMaterialValue" (focusin)="updateHelpContext('form-c1-line-raw')">
       </mat-form-field>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Reference
        </mat-label>
          <input matInput type="text" formControlName="Reference" (focusin)="updateHelpContext('form-c1-line-reference')">
       </mat-form-field>
      <br><br>
    </div>
    <!-- <div class="col-4" >
        <ls-autocomplete-units-of-measure [(control)]="form.controls.unitOfMeasureID"></ls-autocomplete-units-of-measure>
        <br><br>
    </div> -->
    <div class="col-8">
        <mat-form-field appearance="fill" >
            <mat-label>
            Total Cost
            </mat-label>
            <input matInput type="number" formControlName="TotalCost" (focusin)="updateHelpContext('form-c1-line-total')">
        </mat-form-field>
        <br><br>
    </div>
    <div class="col-12">
      <mat-checkbox formControlName="Active">Active</mat-checkbox>
      <br><br>
  </div>
  </div>
</form>
