
.row {
  display: flex;

}
/*Side Nav*/
.side-div {
  // flex: 5%;
  width: 75px;
  margin-right: 20px;
  overflow: none;
}
.modal-message{
  font-size: 0.85rem !important;
}
.modal-white{
  background-color: white;
  color: black;
}
.padleft100{
padding-left: 100px;
}

.no-click-backdrop {
  pointer-events: none;
}

.imageposition{
  padding-left: 10px;
  width: 70px;
  height: 60px;
  position: absolute;
}

.modalcustom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}


// .side-div .collapse-sidebar {
//   position: absolute;
//   width:65px;
//   left: 10px !important;

// }
/*Main List Div*/
.list-div {
  padding-left: 0px;
  padding-right: 20px;
  left: 93px !important;
  // min-width: 1410px;
  width: calc(100% - 95px);
}

// @media (max-width: 1500px) {
//   .side-div {
//     flex: 6%;
//   }
//   .list-div {
//     padding-left: 0px;
//     padding-right: 15px;
//     width: calc(100% - 95px);
//   }
// }
// @media (max-width: 1350px) {
//   .side-div {
//     width: 93px;
//   }
//   .list-div {
//     padding-left: 0px;
//     padding-right: 10px;
//     left: 100px !important;
//     width: 92% !important;
//   }
// }
@media (max-width: 1200px) {
  .list-div {
    padding-left: 0px;
    padding-right: 15px;
    left: 100px !important;
    width: 91% !important;
  }
  // .side-div {
  // min-width: 80px;
  // margin-right:15px;
  // }

}
@media (max-width: 1040px) {
  .list-div {
    padding-left: 0px;
    padding-right: 15px;
    left: 100px !important;
    width: 90% !important;
  }
  // .side-div {
  // min-width: 80px;
  // margin-right:15px;
  // }

}
@media (max-width: 991px) {
  .list-div {
    padding-left: 0px;
    padding-right: 5px;
    max-width: calc(98% - 90px);
    left: 100px;
  }
  .side-div {
    min-width: 80px;
    margin-right:0px;
    }
}

.toggle-chat {
  position: fixed;
  bottom: 58px;
  right: 8px;
}
