<button mat-button (click)="openLink();" style="float: right;"><span class="mdi mdi-close"></span></button>
<h1 mat-dialog-title (click)="openLink();">Escalation Reason</h1>
<div mat-dialog-content (click)="openLink();">
    <p>{{reason}}</p>
</div>
<!-- <h1 mat-dialog-title>Escalate Capture</h1>
<div mat-dialog-content style="overflow: none !important;">
    <div style="text-align: center;">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <textarea [(ngModel)]="this.reason" [ngModelOptions]="{standalone: true}" matInput placeholder="Please enter a reason for this escalation"></textarea>
            </mat-form-field>
            <div mat-dialog-actions>
                <button mat-raised-button  (click)="onNoClick()">Cancel</button>
                <button mat-raised-button color="primary" [mat-dialog-close]="this.reason">Escalate</button>
            </div>
        </form>
    </div>
</div> -->
