<mat-form-field [appearance]="appearance">
  <mat-label>
    Units of Measure
  </mat-label>
  <input type="text" matInput [formControl]="query" [matAutocomplete]="cpcAuto" (focusout)="focusOut(trigger);" #trigger="matAutocompleteTrigger" (focusin)="updateHelpContext(helpSlug)">
  <mat-error *ngIf="query.hasError('noMatch')">Value does not match previous value: {{previousUnit}}</mat-error>
  <mat-error *ngIf="query.hasError('required')">This field is required</mat-error>
  <mat-error *ngIf="query.hasError('incorrect')">An option has not been selected, <button class="text-button" type="button" (click)="clear()">clear</button></mat-error>
</mat-form-field>
<mat-autocomplete #cpcAuto="matAutocomplete" [displayWith]="displayFn">
  <mat-option *ngFor="let item of list" [value]="item">
    {{item.name}}, {{item.description}}
  </mat-option>
</mat-autocomplete>
