.btn-add {
    width: 35px;
    height: 35px;
    padding: 3px 0px;
    border-radius: 18px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #71c016;
    color:#fff;
  }