<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <app-table
      *ngIf="this.dataset"
      [dataset]="this.dataset"
      [headings]="this.tableHeadings"
      [recordsPerPage]="this.displayRecords"
      [rowStart]="this.rowStart"
      [rowEnd]="this.rowEnd"
      [rowCount]="this.rowCount"
      [orderBy]="this.orderBy"
      [orderByDirection]="this.orderByDirection"
      [tableHeader]="this.tableHeader"
      [(selectedRecordIndex)]="this.recordIndex"
      (backButtonEvent)="back()"
      (selectedRecord)="selectedRecord($event)">
    </app-table>
  </div>
</div>

<button class="hide" data-toggle="modal" data-target="#addLine" #addModal></button>
<div class="modal fade" id="addLine" tabindex="-1" role="dialog" aria-labelledby="uploadBackgroundLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadBackgroundLabel">Edit SAD500 Line</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-form-sad500-line [updateSAD500Line]="this.currentRecord" (updateSADLine)="update($event)"></app-form-sad500-line>
      </div>
    </div>
  </div>
</div>

<button class="hide" data-toggle="modal" data-target="#deleteLine" #deleteModal></button>
<div class="modal fade" id="deleteLine" tabindex="-1" role="dialog" aria-labelledby="deleteLine" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadBackgroundLabel">Delete SAD500 Line</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-center">Are you sure?</p>
        <div class="text-center">
          <button class="btn btn-primary">Yes</button>&nbsp;
          <button class="btn btn-light">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-menu
  [contextShow]="this.contextMenuEnable"
  [x]="this.contextMenuX"
  [y]="this.contextMenuY"
  (resetContext)="this.recordIndex = -1; this.contextMenuEnable = false;">
  <app-context-menu-sadlines (editEvent)="addModal.click();" (deleteEvent)="deleteModal.click();"></app-context-menu-sadlines>
</app-menu>
<app-notification></app-notification>
