<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <app-table
      *ngIf="this.dataList"
      [(dataset)]="this.dataList"
      [headings]="this.tableHeadings"
      [(recordsPerPage)]="this.showingRecords"
      [(rowStart)]="this.rowStart"
      [(rowEnd)]="this.rowEnd"
      [(rowCount)]="this.rowCount"
      [orderBy]="this.orderBy"
      [orderByDirection]="this.orderDirection"
      [tableHeader]="this.tableHeader"
      (selectedRecord)="setClickedRow($event)"
      (orderChange)="orderChange($event)"
      (pageChange)="pageChange($event)"
      (showingRecordsEvent)="recordsPerPageChange($event)"
      (addButtonEvent)="addCompany()"
      (searchEvent)="searchBar($event)">
    </app-table>
  </div>
</div>

<!--Edit Modal-->
<button class="hide" data-toggle="modal" data-target="#editCompany" #openeditModal></button>
<div class="modal fade" id="editCompany" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Edit {{this.focusHelpName}}</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
      <div class="modal-body">
          <div class="modal-body">
              <div class="form-group">
                  <label class="control-label">Name:</label>
                  <input type="text" placeholder="Name" class="form-control"
                  [(ngModel)]="this.CompanyName" [ngModelOptions]="{standalone: true}"  required/>
                </div>
            <div class="form-group">
              <label class="control-label">Registration No:</label>
              <input type="text" placeholder="Registration No" class="form-control"
              [(ngModel)]="this.RegNo" [ngModelOptions]="{standalone: true}"  required/>
            </div>
            <div class="form-group">
              <label class="control-label">Registration Export No:</label>
              <input type="text" placeholder="Registration Export No" class="form-control"
              [(ngModel)]="this.ExportRegNo" [ngModelOptions]="{standalone: true}"  required/>
            </div>
            <div class="form-group">
              <label class="control-label">VAT No:</label>
              <input type="text" placeholder="Vat No" class="form-control"
              [(ngModel)]="this.VATNo" [ngModelOptions]="{standalone: true}"  required/>
            </div>
            </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeeditModal>Close</button>
        <button type="button" (click)="UpdateCompany()" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!--Add Modal-->
<button class="hide" data-toggle="modal" data-target="#addCompany" #openaddModal></button>
<div class="modal fade" id="addCompany" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Add</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form >
        <div class="modal-body">
            <div class="form-group">
                <label class="control-label">Name:</label>
                <input type="text" placeholder="Name" class="form-control"
                [(ngModel)]="this.CompanyName" [ngModelOptions]="{standalone: true}"  required/>
            </div>
            <div class="form-group">
              <label class="control-label">Registration No:</label>
              <input type="text" placeholder="Registration No" class="form-control"
              [(ngModel)]="this.RegNo" [ngModelOptions]="{standalone: true}"  required/>
            </div>
            <div class="form-group">
              <label class="control-label">Registration Export No:</label>
              <input type="text" placeholder="Registration Export No" class="form-control"
              [(ngModel)]="this.ExportRegNo" [ngModelOptions]="{standalone: true}"  required/>
            </div>
            <div class="form-group">
              <label class="control-label">VAT No:</label>
              <input type="text" placeholder="Vat No" class="form-control"
              [(ngModel)]="this.VATNo" [ngModelOptions]="{standalone: true}"  required/>
            </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeaddModal>Close</button>
        <button type="button" (click)="addCompany()"  class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<app-notification></app-notification>
<app-modal-component></app-modal-component>
<div class="contextOverlay" *ngIf="(contextMenu)" (click)="popOff()">
<app-companies-context-menu (EditCompony)="EditCompony(this.focusCompanyID, $event)" [ngStyle]="(contextMenu)?'' :'display:none;'" class="contextMenuDiv" *ngIf="(contextMenu)" [x]="contextMenuX" [y]="contextMenuY" [companyID]="focusCompanyID" [companyName]="focusHelpName"></app-companies-context-menu>
</div>
