
<div mat-dialog-content class="overflow: hidden">
  <div class="text-center">
    <label *ngIf="this.file === undefined" for="attachDocument" style="margin-top: 20%;">
      <span class="upload-attachment">
          <span class="mdi mdi-file-upload"></span>
      </span>
      <br><br><br>
      Upload Document
    </label>
  </div>
    <input id="attachDocument" (change)="inputFileChange($event.target.files)" type="file" hidden/>
  <div class="row" style="overflow: hidden">
    <div style=" width: 58% ;overflow-y: auto; position: relative; overflow-y: auto; height: 65vh;" ngClass="{'col-7': this.file, 'col-12': !this.filePreview}">
        <app-pdf-viewer
        class="fill-div"
        *ngIf="this.filePreview"
        [pdf]="this.filePreview"
        >
        </app-pdf-viewer>
    </div>
    <div class="col-5 bg-light" style="overflow-y: auto;margin: 0; max-height:67vh; padding: 24px" *ngIf="this.displayPreview">
      <h5 class="modal-title" id="modalContent" style="color:black">Capture Permit</h5>
        <form [formGroup]="form" class="bg-light" style="padding: 24px; width: 100%;">
            <div *ngIf="this.file !== undefined" class="split-pdf">
                  <!-- <mat-form-field appearance="fill">
                    <mat-label>Pages</mat-label>
                    <input matInput type="text" placeholder="Pages eg. (1-3, 5)">
                    <mat-hint>eg. (1-3, 5)</mat-hint> -->
                    <!-- <mat-error *ngIf="section.control.hasError('required')">
                      Pages is <strong>required, format: 1-3, 5</strong>
                    </mat-error> -->
                    <!-- <mat-error *ngIf="section.control.hasError('pattern')">
                      Incorrect format <strong>eg. (1-3, 5)</strong>
                    </mat-error> -->
                    <!-- <mat-error *ngIf="section.control.hasError('format')">
                      Incorrect Format <strong>make sure ranges are valid</strong>
                    </mat-error> -->
                  <!-- </mat-form-field> -->

            </div>
            <mat-form-field class="form-group">
              <mat-label>Permit Code:</mat-label>
              <input matInput type="text" placeholder="Code"
              [formControl]="this.form.controls.PermitCode"  required/>
              <mat-error *ngIf="this.form.controls.PermitCode.hasError('required')">
                Permit Code is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          <mat-form-field class="form-group">
            <mat-label>Start Date:</mat-label>
            <input hidden [matDatepicker]="startPicker" [formControl]="this.form.controls.dateStart">
            <input matInput type="text" [textMask]="mask"
            [ngModel]="this.form.controls.dateStart.value | date : this.form.controls.dateStart.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}" (change)='toDate($event.target.value, this.form.controls.DateStart)'  required/>
            <mat-error *ngIf="this.form.controls.dateStart.hasError('required')">
              Start Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-group">
            <mat-label>End Date:</mat-label>
            <input hidden [matDatepicker]="endPicker" [formControl]="this.form.controls.dateEnd">
            <input matInput type="text" [textMask]="mask" [ngModel]="this.form.controls.dateEnd.value | date : this.form.controls.dateEnd.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.form.controls.DateEnd)'required/>
            <mat-error *ngIf="this.form.controls.dateEnd.hasError('required')">
              End Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-group">
            <mat-label>Import Start Date:</mat-label>
            <input hidden [matDatepicker]="importStartPicker" [formControl]="this.form.controls.importdateStart">
            <input matInput type="text" [textMask]="mask"
            [ngModel]="this.form.controls.importdateStart.value | date : this.form.controls.importdateStart.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.form.controls.ImportDateStart)' required/>
            <mat-error *ngIf="this.form.controls.importdateStart.hasError('required')">
              Import Start Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="importStartPicker"></mat-datepicker-toggle>
            <mat-datepicker #importStartPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-group">
            <mat-label>Import End Date:</mat-label>
            <input hidden [matDatepicker]="importEndPicker" [formControl]="this.form.controls.importdateEnd">
            <input matInput type="text" [textMask]="mask"
            [ngModel]="this.form.controls.importdateEnd.value | date : this.form.controls.importdateEnd.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.form.controls.ImportDateEnd)' required/>
            <mat-error *ngIf="this.form.controls.importdateEnd.hasError('required')">
              Import End Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="importEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #importEndPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-group">
            <mat-label>Export Start Date:</mat-label>
            <input hidden [matDatepicker]="exportStartPicker" [formControl]="this.form.controls.exportdateStart">
            <input matInput type="text" [textMask]="mask"
            [ngModel]="this.form.controls.exportdateStart.value | date : this.form.controls.exportdateStart.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.form.controls.ExportDateStart)' required/>
            <mat-error *ngIf="this.form.controls.exportdateStart.hasError('required')">
              Export Start Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="exportStartPicker"></mat-datepicker-toggle>
            <mat-datepicker #exportStartPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-group" style="margin-bottom: 0px;">
            <mat-label>Export End Date:</mat-label>
            <input hidden [matDatepicker]="exportEndPicker" [formControl]="this.form.controls.exportdateEnd">
            <input matInput type="text" [textMask]="mask"
            [ngModel]="this.form.controls.exportdateEnd.value | date : this.form.controls.exportdateEnd.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.form.controls.ExportDateEnd)' required/>
            <mat-error *ngIf="this.form.controls.exportdateEnd.hasError('required')">
              Export End Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="exportEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #exportEndPicker></mat-datepicker>
          </mat-form-field>
        </form>
      </div>
  </div>

  <div class="split-overlay" *ngIf="processing" ><mat-spinner></mat-spinner></div>
 </div>
 <div class="form-group text-right" style="margin-bottom: 5px;" *ngIf="this.file !== undefined">
  <button class="btn btn-light btn-sm" (click)="dismiss()" [disabled]="processing">Cancel</button>
  <button type="button" (click)="formSubmit()"class="btn btn-primary btn-sm" [disabled]="processing">Submit</button>
</div>
