
<div mat-dialog-content class="overflow: hidden">
  <div class="text-center">
    <label *ngIf="this.file === undefined" for="attachDocument" style="margin-top: 20%;">
      <span class="upload-attachment">
          <span class="mdi mdi-file-upload"></span>
      </span>
      <br><br><br>
      Upload Document
    </label>
  </div>
    <input id="attachDocument" (change)="inputFileChange($event.target.files)" type="file" hidden/>
  <div class="row" style="overflow: hidden">
    <div style=" width: 58% ;overflow-y: auto; position: relative; overflow-y: auto; height: 65vh;" ngClass="{'col-7': this.file, 'col-12': !this.filePreview}">
        <app-pdf-viewer
        class="fill-div"
        *ngIf="this.filePreview"
        [pdf]="this.filePreview"
        >
        </app-pdf-viewer>
    </div>
    <div class="col-5 bg-light" style="overflow-y: auto;margin: 0; max-height:67vh; padding: 24px" *ngIf="this.displayPreview && this.permitTypeID === 1" >
      <h5 class="modal-title" id="modalContent" style="color:black">Capture Permit</h5>
        <form [formGroup]="form" class="bg-light" style="padding: 24px; width: 100%;">
            <div *ngIf="this.file !== undefined" class="split-pdf">
                  <!-- <mat-form-field appearance="fill">
                    <mat-label>Pages</mat-label>
                    <input matInput type="text" placeholder="Pages eg. (1-3, 5)">
                    <mat-hint>eg. (1-3, 5)</mat-hint> -->
                    <!-- <mat-error *ngIf="section.control.hasError('required')">
                      Pages is <strong>required, format: 1-3, 5</strong>
                    </mat-error> -->
                    <!-- <mat-error *ngIf="section.control.hasError('pattern')">
                      Incorrect format <strong>eg. (1-3, 5)</strong>
                    </mat-error> -->
                    <!-- <mat-error *ngIf="section.control.hasError('format')">
                      Incorrect Format <strong>make sure ranges are valid</strong>
                    </mat-error> -->
                  <!-- </mat-form-field> -->

            </div>
            <mat-form-field class="form-group" style="margin-bottom: 0;">
              <mat-label>Permit Code:</mat-label>
              <input matInput type="text" placeholder="Code"
              [formControl]="this.form.controls.PermitCode"  required/>
              <mat-error *ngIf="this.form.controls.PermitCode.hasError('required')">
                Permit Code is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <div class="col-12" style="padding-left: 0; margin-top: 0;">
              <ls-autocomplete-tariffs [tariffHeading]="1" [(control)]="exportTariff" [helpSlug]="'form-customs-worksheet-line-tariff-description'" appearance="standard"></ls-autocomplete-tariffs>
              <br><br>
            </div>
          <!-- <mat-form-field class="form-group">
            <mat-label>Start Date:</mat-label>
            <input hidden [matDatepicker]="startPicker" [formControl]="this.form.controls.dateStart">
            <input matInput type="text" [textMask]="mask"
            [ngModel]="this.form.controls.dateStart.value | date : this.form.controls.dateStart.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}" (change)='toDate($event.target.value, this.form.controls.dateStart)'  required/>
            <mat-error *ngIf="this.form.controls.dateStart.hasError('required')">
              Start Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field> -->
          <mat-form-field class="form-group">
            <mat-label>Permit Date:</mat-label>
            <input hidden [matDatepicker]="endPicker" [formControl]="this.form.controls.permitDate">
            <input matInput type="text" [textMask]="mask" [ngModel]="this.form.controls.permitDate.value | date : this.form.controls.permitDate.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.form.controls.permitDate)'required/>
            <mat-error *ngIf="this.form.controls.permitDate.hasError('required')">
              Permit Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-group">
            <mat-label>Import Start Date:</mat-label>
            <input hidden [matDatepicker]="importStartPicker" [formControl]="this.form.controls.importdateStart">
            <input matInput type="text" [textMask]="mask"
            [ngModel]="this.form.controls.importdateStart.value | date : this.form.controls.importdateStart.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.form.controls.importdateStart)' required/>
            <mat-error *ngIf="this.form.controls.importdateStart.hasError('required')">
              Import Start Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="importStartPicker"></mat-datepicker-toggle>
            <mat-datepicker #importStartPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-group">
            <mat-label>Import End Date:</mat-label>
            <input hidden [matDatepicker]="importEndPicker" [formControl]="this.form.controls.importdateEnd">
            <input matInput type="text" [textMask]="mask"
            [ngModel]="this.form.controls.importdateEnd.value | date : this.form.controls.importdateEnd.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.form.controls.importdateEnd)' required/>
            <mat-error *ngIf="this.form.controls.importdateEnd.hasError('required')">
              Import End Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="importEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #importEndPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-group">
            <mat-label>Export Start Date:</mat-label>
            <input hidden [matDatepicker]="exportStartPicker" [formControl]="this.form.controls.exportdateStart">
            <input matInput type="text" [textMask]="mask"
            [ngModel]="this.form.controls.exportdateStart.value | date : this.form.controls.exportdateStart.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.form.controls.exportdateStart)' required/>
            <mat-error *ngIf="this.form.controls.exportdateStart.hasError('required')">
              Export Start Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="exportStartPicker"></mat-datepicker-toggle>
            <mat-datepicker #exportStartPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="form-group" style="margin-bottom: 0px;">
            <mat-label>Export End Date:</mat-label>
            <input hidden [matDatepicker]="exportEndPicker" [formControl]="this.form.controls.exportdateEnd">
            <input matInput type="text" [textMask]="mask"
            [ngModel]="this.form.controls.exportdateEnd.value | date : this.form.controls.exportdateEnd.value !== null?'yyyy/MM/dd' : ''"
            [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.form.controls.exportdateEnd)' required/>
            <mat-error *ngIf="this.form.controls.exportdateEnd.hasError('required')">
              Export End Date is <strong>required</strong>
            </mat-error>
            <mat-datepicker-toggle matSuffix [for]="exportEndPicker"></mat-datepicker-toggle>
            <mat-datepicker #exportEndPicker></mat-datepicker>
          </mat-form-field>
          <div class="col-12" style="padding-left: 0;">
            <ls-autocomplete-tariffs [tariffHeading]="2" [(control)]="importTariffs" [helpSlug]="'form-customs-worksheet-line-tariff-description'" appearance="standard"></ls-autocomplete-tariffs>
            <br><br>
          </div>
          <mat-card *ngFor="let item of selectedImportTariffs; let i = index" (click)="removeTariff(i)" matTooltip="Click to remove" style="margin: 10px;">
            <mat-card-content>
              <small class="text-muted"><strong>{{item.subHeading == null ? item.itemNumber: item.subHeading}}{{item.subHeading ? item.subHeading.length < 8 && item.subHeading != null ? '.00' : '' : ''}}</strong></small>
              <p>
                <strong>Price</strong>:&nbsp;{{item.price}}<br/>
                <strong>Quantity</strong>:&nbsp;{{item.quantity}}
              </p>
            </mat-card-content>
          </mat-card>

          <!-- <mat-chip-list>
            <mat-chip *ngFor="let item of selectedImportTariffs; let i = index" (click)="removeTariff(i)"><mat-icon>clear</mat-icon>&nbsp;{{item.subHeading == null ? item.itemNumber: item.subHeading}}{{item.subHeading ? item.subHeading.length < 8 && item.subHeading != null ? '.00' : '' : ''}}</mat-chip>
          </mat-chip-list> -->
          <br>
          <ng-container *ngIf="selectedImportTariffs.length > 0">

          </ng-container>

          <!--Changes made from here-->
            <!-- <mat-form-field>
              <mat-label>
                Tariff
              </mat-label>
              <input type="text" matInput [formControl]="importTariffs" [matAutocomplete]="cpcAuto"
              (focusout)="focusOut(trigger);" #trigger="matAutocompleteTrigger" (focusin)="updateHelpContext(helpSlug)"> -->
              <!-- <mat-hint>Sub Heading / Item Number</mat-hint> -->
              <!-- <mat-error *ngIf="importTariffs.hasError('required')">This field is required</mat-error>
              <mat-error *ngIf="importTariffs.hasError('incorrect')">An option has not been selected, <button class="text-button" type="button" (click)="importTariffs.setValue(null)">clear</button></mat-error>
            </mat-form-field>
            <mat-autocomplete #cpcAuto="matAutocomplete"  [displayWith]="displayFn">
              <mat-option *ngFor="let tariff of tarifflist" [value]="tariff">
                {{tariff.subHeading == null ? tariff.itemNumber: tariff.subHeading}}{{tariff.subHeading ? tariff.subHeading.length < 8 && tariff.subHeading != null ? '.00' : '' : ''}}</mat-option>
            </mat-autocomplete> -->
            <!-- <mat-chip-list #chipList aria-label="Tarrif selection">
              <mat-chip *ngFor="let tariff of selectedTariffs" [selectable]="selectable"
                [removable]="removable" (removed)="remove(tariff)">
                {{tariff.itemNumber}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list> -->
          <!-- </mat-form-field> -->


        </form>
      </div>

    <div class="col-5 bg-light"style="overflow-y: auto;margin: 0; max-height:67vh; padding: 24px" *ngIf="this.displayPreview && this.permitTypeID === 2" >
      <h5 class="modal-title" id="modalContent" style="color:black">Capture PRCC</h5>
      <form>
        <mat-form-field class="form-group">
          <mat-label>PRCC Number:</mat-label>
          <input matInput type="text" placeholder="Code"
          [formControl]="this.prccForm.controls.prccNumber"  required/>
          <mat-error *ngIf="this.prccForm.controls.prccNumber.hasError('required')">
            PRCC Number is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Custom Value:</mat-label>
          <input matInput type="number" placeholder="Code"
          [formControl]="this.prccForm.controls.prccCustomValue"  required/>
          <mat-error *ngIf="this.prccForm.controls.prccCustomValue.hasError('required')">
            Custome Value is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Reg No:</mat-label>
          <input matInput type="text" placeholder="Code"
          [formControl]="this.prccForm.controls.prccRegNo"  required/>
          <mat-error *ngIf="this.prccForm.controls.prccRegNo.hasError('required')">
            Reg No is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>File No:</mat-label>
          <input matInput type="text" placeholder="Code"
          [formControl]="this.prccForm.controls.prccFileNo"  required/>
          <mat-error *ngIf="this.prccForm.controls.prccFileNo.hasError('required')">
            File No is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Start Date:</mat-label>
          <input hidden [matDatepicker]="prccStartDate" [formControl]="this.prccForm.controls.prccStartDate">
          <input matInput type="text" [textMask]="mask" [ngModel]="this.prccForm.controls.prccStartDate.value | date : this.prccForm.controls.prccStartDate.value !== null?'yyyy/MM/dd' : ''"
          [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.prccForm.controls.prccStartDate)'required/>
          <mat-error *ngIf="this.prccForm.controls.prccStartDate.hasError('required')">
            Start Date is <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="prccStartDate"></mat-datepicker-toggle>
          <mat-datepicker #prccStartDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>End Date:</mat-label>
          <input hidden [matDatepicker]="prccEndDate" [formControl]="this.prccForm.controls.prccEndDate">
          <input matInput type="text" [textMask]="mask" [ngModel]="this.prccForm.controls.prccEndDate.value | date : this.prccForm.controls.prccEndDate.value !== null?'yyyy/MM/dd' : ''"
          [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.prccForm.controls.prccEndDate)'required/>
          <mat-error *ngIf="this.prccForm.controls.prccEndDate.hasError('required')">
            End Date is <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="prccEndDate"></mat-datepicker-toggle>
          <mat-datepicker #prccEndDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Import Start Date:</mat-label>
          <input hidden [matDatepicker]="prccImportStartDate" [formControl]="this.prccForm.controls.prccImportStartDate">
          <input matInput type="text" [textMask]="mask" [ngModel]="this.prccForm.controls.prccImportStartDate.value | date : this.prccForm.controls.prccImportStartDate.value !== null?'yyyy/MM/dd' : ''"
          [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.prccForm.controls.prccImportStartDate)'required/>
          <mat-error *ngIf="this.prccForm.controls.prccImportStartDate.hasError('required')">
            Import Start Date is <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="prccImportStartDate"></mat-datepicker-toggle>
          <mat-datepicker #prccImportStartDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-label>Import End Date:</mat-label>
          <input hidden [matDatepicker]="prccImportEndDate" [formControl]="this.prccForm.controls.prccImportEndDate">
          <input matInput type="text" [textMask]="mask" [ngModel]="this.prccForm.controls.prccImportEndDate.value | date : this.prccForm.controls.prccImportEndDate.value !== null?'yyyy/MM/dd' : ''"
          [ngModelOptions]="{standalone: true}"  (change)='toDate($event.target.value, this.prccForm.controls.prccImportEndDate)'required/>
          <mat-error *ngIf="this.prccForm.controls.prccImportEndDate.hasError('required')">
            Import End Date is <strong>required</strong>
          </mat-error>
          <mat-datepicker-toggle matSuffix [for]="prccImportEndDate"></mat-datepicker-toggle>
          <mat-datepicker #prccImportEndDate></mat-datepicker>
        </mat-form-field>
      </form>

    </div>

    <div class="col-5 bg-light"style="overflow-y: auto;margin: 0; max-height:67vh; padding: 24px" *ngIf="this.displayPreview && this.permitTypeID === 3" >
      <h5 class="modal-title" id="modalContent" style="color:black">Capture EPC</h5>
      <form>
        <mat-form-field class="form-group">
          <mat-label>EPC Code:</mat-label>
          <input matInput type="text" placeholder="Code"
          [formControl]="this.epcForm.controls.epcCode"  required/>
          <mat-error *ngIf="this.epcForm.controls.epcCode.hasError('required')">
            EPC Code is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div class="col-12" style="padding-left: 0;">
          <ls-autocomplete-tariffs [tariffHeading]="2" [(control)]="this.epcForm.controls.epcTariffs" [helpSlug]="'form-customs-worksheet-line-tariff-description'" appearance="standard"></ls-autocomplete-tariffs>
          <br><br>
        </div>
        <mat-card *ngFor="let item of selectedImportTariffs; let i = index" (click)="removeTariff(i)" matTooltip="Click to remove" style="margin: 10px;">
          <mat-card-content>
            <small class="text-muted"><strong>{{item.Subheading == null ? item.itemNumber: item.Subheading}}{{item.Subheading ? item.Subheading.length < 8 && item.Subheading != null ? '.00' : '' : ''}}</strong></small>
            <p>
              <strong>Tariff</strong>:&nbsp;{{item.SubHeading}}<br/>
              <strong>Item</strong>:&nbsp;{{item.Name}}<br/>
            </p>
          </mat-card-content>
        </mat-card>
        <br>
        <ng-container *ngIf="selectedImportTariffs.length > 0">

        </ng-container>
      </form>
    </div>
  </div>

  <div class="split-overlay" *ngIf="processing" ><mat-spinner></mat-spinner></div>
 </div>
 <div class="form-group text-right" style="margin-bottom: 5px; margin-top: 20px;" *ngIf="this.file !== undefined">
  <button class="btn btn-light btn-sm" (click)="dismiss()" [disabled]="processing" style="margin-right: 5px; margin-left: 5px;">Cancel</button>
  <button type="button" (click)="formSubmit()"class="btn btn-primary btn-sm" [disabled]="processing" style="margin-right: 5px; margin-left: 5px;">Submit</button>
</div>
