<ngx-extended-pdf-viewer
  *ngIf="displayPDF"
  [src]="pdfSRC"
  [height]="'100vh'"
  [useBrowserLocale]="true"
  [showZoomButtons]="false"
  [showSpreadButton]="false"
  [showSidebarOnLoad]="false"
  [showSidebarButton]="false"
  [showSecondaryToolbarButton]="false"
  [showScrollingButton]="false"
  [showRotateButton]="false"
  [showPropertiesButton]="false"
  [showPrintButton]="false"
  [showPresentationModeButton]="false"
  [showPagingButtons]="false"
  [showOpenFileButton]="false"
  [showHandToolButton]="false"
  [showFindButton]="false"
  [showDownloadButton]="false"
  [showBookmarkButton]="false">
</ngx-extended-pdf-viewer>
