
<div class="shadow tile ls-tile-{{ currentTheme }}">
    <div class="ls-card-body">
      <div class="float-right">
        <ng-container *ngIf="showLoader">
          <app-loader></app-loader>
        </ng-container>
      </div>
      <app-table
        *ngIf="dataList"
        [(dataset)]="dataList"
        [headings]="tableHeadings"
        [(recordsPerPage)]="showingRecords"
        [(rowStart)]="rowStart"
        [(rowEnd)]="rowEnd"
        [(rowCount)]="rowCount"
        [orderBy]="orderBy"
        [orderByDirection]="orderDirection"
        [tableHeader]="tableHeader"
        (selectedRecord)="setClickedRow($event)"
        (orderChange)="orderChange($event)"
        (pageChange)="pageChange($event)"
        (showingRecordsEvent)="recordsPerPageChange($event)"
        (addButtonEvent)="Add()"
        (searchEvent)="searchBar($event)"
        (backButtonEvent)="router.navigate(['companies', 'localreceipts'])">
      </app-table>
    </div>
  </div>

  <!--Edit Modal-->
  <button class="hide" data-toggle="modal" data-target="#editOEM" #openeditModal></button>
  <div class="modal fade" id="editOEM" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalContent">Edit </h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
        <div class="modal-body">
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label">Transaction Name:</label>
                <input type="text" placeholder="Name" class="form-control"
                [(ngModel)]="this.SelectedReceipt.Name" [ngModelOptions]="{standalone: true}"  required/>
              </div>
            </div>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeeditModal>Close</button>
          <button type="button" (click)="EditLocalTransaction(false)" class="btn btn-primary btn-sm">Save</button>
          <button type="button" (click)="EditLocalTransaction(true)" class="btn btn-danger btn-sm">Delete</button>
        </div>
      </form>
      </div>
    </div>
  </div>

  <!--Add Modal-->
  <button class="hide" data-toggle="modal" data-target="#addBulk" #openAddModal></button>
  <div class="modal fade" id="addBulk" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalContent">Upload Local Receipts</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <mat-tab-group #tabGroup>
          <mat-tab label="Add Single"  >
            <form>
              <div class="modal-body">

                <div class="form-group">
                  <input type="text" placeholder="Transaction Name" class="form-control"
                    [(ngModel)]="focusTransactionName" [ngModelOptions]="{standalone: true}" required/>
                </div>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="Bulk Import">
            <form>
                <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label">File Name:&nbsp;{{filePreview}}</label>
                  </div>
                  <div class="form-group">
                    <label for="addBulkFile">
                      <span class="upload-button"><span class="mdi mdi-upload"></span>&nbsp;Upload</span>
                    </label>
                    <!-- <button class="btn btn-primary btn-sm" style="margin-top: -8px;" type="button" mat-button (click)="queueBOM($event)">Upload</button> -->
                    <input id="addBulkFile" hidden #uploadFile type="file" (change)="onFileChange($event.target.files)" required>
                  </div>
              </div>
          </form>
        </mat-tab>
        </mat-tab-group>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeAddModal>Close</button>
          <button type="submit" (click)="saveBulkUpload()" class="btn btn-primary btn-sm">Save</button>
        </div>
      </div>
    </div>
  </div>


  <app-notification></app-notification>
  <app-modal-component></app-modal-component>
  <div class="contextOverlay" *ngIf="(contextMenu)" (click)="popOff()">
    <app-quarters-supply-context-menu (EditQuarterSupply)="EditLocalTransaction(true)" (bulkUploadOut)="addBulkImport()" [ngStyle]="(contextMenu)?'' :'display:none;'" class="contextMenuDiv" *ngIf="(contextMenu)" [x]="contextMenuX" [y]="contextMenuY" ></app-quarters-supply-context-menu>
  </div>

