  <div class="shadow tile ls-tile-{{ currentTheme }}">
    <div class="ls-card-body">
      <div class="float-right">
        <ng-container *ngIf="showLoader">
          <app-loader></app-loader>
        </ng-container>
      </div>
      <app-table
        *ngIf="this.items"
        [dataset]="this.items"
        [headings]="this.tableHeadings"
        [recordsPerPage]="this.showingRecords"
        [rowStart]="this.rowStart"
        [rowEnd]="this.rowEnd"
        [rowCount]="this.rowCount"
        [orderBy]="this.orderBy"
        [orderByDirection]="this.orderDirection"
        [tableHeader]="this.tableHeader"
        (orderChange)="orderChange($event)"
        (pageChange)="pageChange($event)"
        (showingRecordsEvent)="recordsPerPageChange($event)"
        (searchEvent)="searchEvent($event)">
      </app-table>
    </div>
  </div>

  <app-notification></app-notification>
  <app-modal-component></app-modal-component>
