.floating-btn-container {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.floating-btn {
  background-color: rgb(54, 89, 244);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: rgb(54, 89, 244);
  border: none;
  outline: none;
  color: #FFF;
  font-size: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
