.floating-btn-container {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 99999;
  transition: ease-in-out 0.5s;
}

.floating-btn-container:hover {
  right: 5px;
  bottom: 5px;
  transition: ease-in-out 0.5s;
}

.floating-btn {
  background-color: rgb(54, 89, 244);
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background: #f47442;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: .3s;
}

.floating-btn {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-animation-name: spin;
  -webkit-animation-duration: 10000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 10000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 10000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
