<ng-keyboard-shortcuts [shortcuts]="shortcuts" *ngIf="this.shortcuts"></ng-keyboard-shortcuts>
<br><br>
<div class="capture-header">
  <div class="float-right" style="margin-top: -24px !important">
    <div class="indicator-wrapper" (click)="this.toggleLines = false;">
    <button #invoiceTooltip="matTooltip" matTooltip="Invoice"
    matTooltipPosition="before" class="indicator-btn" [ngClass]="{'indicator-active': !this.toggleLines}"></button>
    </div>
    <div class="indicator-wrapper" (click)="this.toggleLines = true;">
    <button #invoiceLinesTooltip="matTooltip" matTooltip="Invoice Lines"
    matTooltipPosition="before" class="indicator-btn bg-warning" [ngClass]="{'indicator-active': this.toggleLines}"></button>
  </div>
  </div>
  <h1 class="capture-form-title text-dark">
    <span *ngIf="this.toggleLines">Invoice Lines</span>
    <span *ngIf="!this.toggleLines">Invoice</span>
  </h1>
</div>
<span [ngClass]="{'hide': this.toggleLines}">
  <br>
<form (submit)="submit(); $event.preventDefault()" [formGroup]="InvForm" *ngIf="this.form !== undefined" style="padding: 24px; border-radius: 10px; background: #f2f2f2;overflow-y: auto;">
  <div class="form-group" *ngIf="this.form.invoiceNo != undefined">
    <div class="row">
      <div class="col-md-12">
        <input type="text" formControlName="control1"
        [focus]="this.focusMainForm"
        [(ngModel)]="this.form.invoiceNo.value"
        class="form-control form-control-sm shadow-sm form-control-light"
        (mouseover)="updateHelpContext('form-invoice-invoiceno')"
        [ngClass]="{'form-control-invalid': this.form.invoiceNo.error}"
        placeholder="Invoice No" />
        <div *ngIf="this.form.invoiceNo.error" class="input-group mb-3 invalid-control-label">
          <p *ngIf="this.form.invoiceNo.OBit == false || this.form.invoiceNo.OBit == null" style="width: inherit" >
            {{this.form.invoiceNo.error}}
            <button (click)="OverrideinvoiceNoClick()" class="btn btn-outline-secondary Obutton" type="button">Overide</button>
          </p>
          <input formControlName="control1a"
          [(ngModel)]="this.form.invoiceNo.OReason"  *ngIf="this.form.invoiceNo.OBit == true" [disabled]="disabledinvoiceNo" type="text" class="form-control" placeholder="Override Reason" aria-label="Override Reason" aria-describedby="basic-addon2">
          <div *ngIf="this.form.invoiceNo.OBit == true"  class="input-group-append ">
            <button (click)="OverrideinvoiceNoExcept()" [disabled]="disabledinvoiceNo"  class="btn btn-outline-secondary" type="button" style="font-size: 18px;">&#10004;</button>
            <button (click)="UndoOverrideinvoiceNo()" class="btn btn-outline-secondary" type="button" style="font-size: 22px;">&times;</button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <br/>
        <mat-form-field class="datepicker" appearance="outline">
          <input formControlName="control2"
          matInput [matDatepicker]="invoiceDate" [focus]="this.focusMainForm"
          [(ngModel)]="this.form.invoiceDate.value"
          (mouseover)="updateHelpContext('form-invoice-invoicedate')"
          [ngClass]="{'form-control-invalid': this.form.invoiceDate.error !== null}"
          placeholder="Invoice Date" />

          <mat-datepicker-toggle matPrefix [for]="invoiceDate"></mat-datepicker-toggle>
          <mat-datepicker #invoiceDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="form-group" *ngIf="this.form.fromCompany != undefined">
    <input formControlName="control3"
    (keyup)="filterFromCompany()" [(ngModel)]="this.form.fromCompany.value"
    [ngClass]="{'form-control-invalid': this.form.fromCompany.error}" type="text" placeholder="From Company" aria-label="From Company"
    class="form-control form-control-sm shadow-sm form-control-light"
    (mouseover)="updateHelpContext('form-invoice-from-company')"
    [matAutocomplete]="fromCompanyIDAuto">
    <mat-autocomplete #fromCompanyIDAuto="matAutocomplete">
      <mat-option *ngFor="let unit of this.fromCompanyList" [value]="unit.name" (onSelectionChange)="selectedFromCompany(unit.companyID)">
        {{unit.name}}
      </mat-option>
    </mat-autocomplete>
    <p class="invalid-control-label" *ngIf="this.form.fromCompany.error">{{this.form.fromCompany.error}}</p>
    </div>
  <div class="form-group" *ngIf="this.form.currencyID != undefined">
    <input formControlName="control4"
    (keyup)="filterCurrency()" [(ngModel)]="this.currencyQuery"
    [ngClass]="{'form-control-invalid': this.form.currencyID.error}" type="text" placeholder="Currency" aria-label="Currency"
    class="form-control form-control-sm shadow-sm form-control-light"
    (mouseover)="updateHelpContext('form-invoice-unit-of-measure')"
    [matAutocomplete]="unitOfMeasureAuto">
    <mat-autocomplete #unitOfMeasureAuto="matAutocomplete">
      <mat-option *ngFor="let unit of this.currencies" [value]="unit.code" (onSelectionChange)="selectedCurrency(unit.currencyID)">
        {{unit.name}}, {{unit.code}}
      </mat-option>
    </mat-autocomplete>
    <p class="invalid-control-label" *ngIf="this.form.currencyID.error"></p>
    </div>

  <div class="form-group" *ngIf="this.form.cooID">
    <input formControlName="control5"
    [(ngModel)]="this.countryQuery" type="text"
    class="form-control form-control-sm shadow-sm form-control-light"
    (keyup)="filterCountries()"
    placeholder="COO" aria-label="COOID"
    [formControl]="cooControl"
    [matAutocomplete]="cooAuto"
    (mouseover)="updateHelpContext('form-customs-worksheet-line-coo')">
    <mat-autocomplete #cooAuto="matAutocomplete" >
      <mat-option *ngFor="let country of countriesList" [value]="country.code"
      (onSelectionChange)="selectedCountry(country.countryID)">
        {{country.code}} - {{country.name}}
      </mat-option>
    </mat-autocomplete>
      <p class="invalid-control-label" *ngIf="this.form.cooID.error !== null">{{this.form.cooID.error}}</p>
  </div>
  <div class="form-group" *ngIf="this.form.incoType != undefined">
    <label for="quantityValue">Inco Type</label>
      <input formControlName="control6"
      [(ngModel)]="this.incoTypeQuery" type="text"
      [ngClass]="{'form-control-invalid': this.form.incoType.error !== null && this.form.incoType.error !== undefined}"
      class="form-control form-control-sm shadow-sm form-control-light"
      (keyup)="filterIncoType()"
      placeholder="INCO Term Type" aria-label="IncoType"
      [formControl]="myControl"
      [matAutocomplete]="incoTypeAuto"
      (mouseover)="updateHelpContext('form-invoice-incotype')">

      <mat-autocomplete #incoTypeAuto="matAutocomplete" >
        <mat-option *ngFor="let inco of incoTermsList" [value]="inco.description"
        (onSelectionChange)="selectedIncoType(inco.incoTermTypeID)">
        {{inco.name}} - {{inco.description}}
        </mat-option>
      </mat-autocomplete>
      <p class="invalid-control-label" *ngIf="this.form.incoType.error !== null && this.form.incoType.error !== undefined">{{this.form.incoType.error}}</p>
  </div>
  </form>
</span>
  <span style="display: none" [ngClass]="{'show': this.toggleLines}">
    <br>
      <div style="padding: 0 24px; background: #f2f2f2;border-radius: 10px;" class="line-list">
          <button mat-raised-button class="float-right bg-primary text-light" *ngIf="this.lines !== -1" (click)="newLine();" style="margin-top: 12px; margin-bottom: 12px;">Add New Line</button>
          <p *ngIf="!this.sad500CreatedLines" style="font-size: 16px;">No Invoice Lines Added</p>
          <p *ngIf="this.sad500CreatedLines">
            <button (click)="prevLine()"  style="margin-top: 12px; margin-bottom: 12px;" mat-button *ngIf="this.sad500LineQueue.length !== 0 || this.sad500CreatedLines.length !== 0" [disabled]="this.sad500LineQueue.length === 1 && this.lines <= 0 || this.linePreview === 0"><span class="mdi mdi-chevron-left"></span></button>
            <span class="badge badge-transparent" *ngIf="this.lines > -1">Line {{ this.lines + 1 }} of {{ this.sad500CreatedLines.length }}</span>
            <span class="badge badge-transparent" *ngIf="this.lines === -1" style="margin-top: 12px; margin-bottom: 12px;">New Line</span>
          &nbsp;
          <button (click)="nextLine()" style="margin-top: 12px; margin-bottom: 12px;" mat-button *ngIf="this.sad500LineQueue.length !== 0 || this.sad500CreatedLines.length !== 0" [disabled]="this.sad500LineQueue.length === 1 && this.lines <= 0 || this.linePreview === 0"><span class="mdi mdi-chevron-right"></span></button>
          &nbsp;<span>{{this.lineState}}</span>
        </p>
        <div class="line-errors" *ngIf="this.lineErrors.length > 0">
            <button style="margin-bottom: 12px; width:24px; height: 24px;padding: 4px !important" class="btn btn-danger btn-sm" *ngFor="let item of this.lineErrors" (click)="specificLine(this.sad500CreatedLines.indexOf(item))">{{this.sad500CreatedLines.indexOf(item) + 1}}</button>
        </div>
      </div>
      <br>
      <app-form-invoice-lines [(showLines)]="this.toggleLines" (submitLine)="addToQueue($event)" (updateLine)="updateLine($event)" [focusSADLine]="focusLineForm" [(updateSAD500Line)]="focusLineData" (linesValid) ="CathLinesValid($event)"></app-form-invoice-lines>
  </span>
  <app-notification></app-notification>
