<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <app-table
      *ngIf="this.userList"
      [dataset]="this.userList"
      [headings]="this.tableHeadings"
      [recordsPerPage]="this.showingRecords"
      [rowStart]="this.rowStart"
      [rowEnd]="this.rowEnd"
      [rowCount]="this.rowCount"
      [orderBy]="this.orderBy"
      [orderByDirection]="this.orderDirection"
      [tableHeader]="this.tableHeader"
      (selectedRecord)="selectedRecord($event)"
      (orderChange)="orderChange($event)"
      (pageChange)="pageChange($event)"
      (showingRecordsEvent)="recordsPerPageChange($event)"
      (addButtonEvent)="addNewUser()"
      (searchEvent)="searchEvent($event)">
    </app-table>
  </div>
</div>

<!--Edit Modal-->
<button class="hide" data-toggle="modal" data-target="#editUser" #openModal></button>
<div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Edit {{this.selectedFirstName}} {{this.selectedSurName}}</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="updateUser($event)" enctype="multipart/form-data">
      <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Emp No:</label>
              <input type="text" placeholder="Emp No" class="form-control"
              [(ngModel)]="this.EmpNo" [ngModelOptions]="{standalone: true}"  required/>
            </div>
        <div class="form-group">
          <label class="control-label">First Name:</label>
          <input type="text" placeholder="First Name" class="form-control"
          [(ngModel)]="this.selectedFirstName" [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="form-group">
          <label class="control-label">Surname:</label>
          <input type="text" placeholder="Surname" class="form-control"
          [(ngModel)]="this.selectedSurName" [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="form-group">
          <label class="control-label">Email:</label>
          <input type="text" placeholder="Email" class="form-control"
          [(ngModel)]="this.selectedEmail" [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="form-group">
          <label class="control-label">Extension:</label>
          <input type="text" placeholder="Extension" class="form-control"
          [(ngModel)]="this.Extension" [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="form-group">
            <label class="control-label">Designation:</label>
            <select class="form-control" [selectedIndex]="selectedDesignationIndex" (change)="onDesignationChange($event.target.value)">
              <option *ngFor="let des of this.designations" [value]="des.designationID" [selected]="des.designationID === selectedDesignation">{{des.name}}</option>
            </select>
          </div>
        <div class="form-group">
          <label class="control-label">Status:</label>
          <select class="form-control" (change)="onStatusChange($event.target.value)">
            <option *ngFor="let stat of this.statusList" [value]="stat.id" [selected]="stat.id === this.selectedStatus">{{stat.name}}</option>
          </select>
        </div>
        <div class="form-group">
            <label class="control-label">Profile Image:</label>
          <div class="row" style="margin-left:0px;">
            <label for="editUserImage" class="col-md-10" style="height:18px;padding: 14px;">
              <span class="upload-button"><span class="mdi mdi-upload"></span>&nbsp;Upload</span>
            </label>
            <input hidden id="editUserImage" type="file" placeholder="Profile Image" class="form-control text-right col-md-10"
             (change)="onFileChange($event.target.files); readFile($event)"/>
            <div class="col-md-2 text-center" *ngIf="this.preview !== undefined && this.preview !== null"><img class="profile-image shadow" src="{{preview}}" ></div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeModal>Close</button>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!--Add Modal-->
<button class="hide" data-toggle="modal" data-target="#AddUser" #openAddModal></button>
<div class="modal fade" id="AddUser" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Add</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="addUser($event)" enctype="multipart/form-data">
      <div class="modal-body">
          <div class="form-group">
              <label class="control-label">Employee Number:</label>
              <input type="text" placeholder="Employee Number" maxlength="5"  class="form-control"
              [(ngModel)]="this.EmployeeNumb" [ngModelOptions]="{standalone: true}"  required/>
            </div>
        <div class="form-group">
          <label class="control-label">First Name:</label>
          <input type="text" placeholder="First Name" class="form-control"
          [(ngModel)]="this.selectedFirstName" [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="form-group">
          <label class="control-label">Surname:</label>
          <input type="text" placeholder="Surname" class="form-control"
          [(ngModel)]="this.selectedSurName" [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="form-group">
          <label class="control-label">Email:</label>
          <input type="text" placeholder="Email" class="form-control"
          [(ngModel)]="this.selectedEmail" [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="form-group">
          <label class="control-label">Extension:</label>
          <input type="text" placeholder="Extension" class="form-control"
          [(ngModel)]="this.Extension" [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="form-group">
          <label class="control-label">Password:</label>
          <input type="password" placeholder="Password" class="form-control"
          [(ngModel)]="this.password" [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="form-group">
          <label class="control-label">Confirm Password:</label>
          <input type="password" placeholder="Confirm Password" class="form-control"
          [(ngModel)]="this.confirmpassword" [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="form-group">
            <label class="control-label">Designation:</label>
            <select class="form-control" [selectedIndex]="selectedDesignationIndex" (change)="onDesignationChange($event.target.value)">
              <option selected value="-1" [disabled]="disableDesSelect">Select a designation</option>
              <option *ngFor="let des of this.designations" [value]="des.designationID">{{des.name}}</option>
            </select>
          </div>
        <div class="form-group">
            <label class="control-label">Profile Image:</label>
          <div class="row" style="margin-left:0px;">
            <label for="addUserImage" class="col-md-10" style="height:18px;padding: 14px;">
              <span class="upload-button"><span class="mdi mdi-upload"></span>&nbsp;Upload</span>
            </label>
            <input hidden id="addUserImage" type="file" class="form-control text-right col-md-10"
             (change)="onFileChange($event.target.files); readFile($event)"/>
            <div class="col-md-2 text-center" *ngIf="this.preview !== undefined && this.preview !== null"><img class="profile-image shadow" src="{{preview}}" ></div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeAddModal>Close</button>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="contextOverlay" *ngIf="(contextMenu)" (click)="popOff()">
  <app-context-menu-user
    *ngIf="(contextMenu)"
    [ngStyle]="(contextMenu) ? '': 'display:none;'" class="contextMenuDiv"
    [x]="contextMenuX"
    [y]="contextMenuY"
    [userID]="currentUserID"
    [userName]="currentUserName"
    (editUser)="editUser($event)">
  </app-context-menu-user>
</div>

<app-notification></app-notification>
<app-modal-component></app-modal-component>
