  <div class="shadow tile ls-tile-{{ currentTheme }}">
    <div class="ls-card-body">
      <div class="float-right">
        <ng-container *ngIf="showLoader">
          <app-loader></app-loader>
        </ng-container>
      </div>
      <app-table
        *ngIf="dataList"
        [(dataset)]="dataList"
        [headings]="tableHeadings"
        [(recordsPerPage)]="rowCountPerPage"
        [(rowStart)]="rowStart"
        [(rowEnd)]="rowEnd"
        [(rowCount)]="rowCount"
        [orderBy]="orderBy"
        [orderByDirection]="orderDirection"
        [tableHeader]="tableHeader"
        (selectedRecord)="selectedRecord($event)"
        (orderChange)="orderChange($event)"
        (pageChange)="pageChange($event)"
        (showingRecordsEvent)="recordsPerPageChange($event)"
        (searchEvent)="searchBar($event)"
        (addButtonEvent)="addButton()"
        (backButtonEvent)="backToCompanies()">
      </app-table>
    </div>
  </div>

<button class="hide" data-toggle="modal" data-target="#addItem" #openAddModal></button>
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Upload Items</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">File Name:&nbsp;{{filePreview}}</label>
          </div>
          <div class="form-group">
            <label for="addItemFile">
              <span class="upload-button"><span class="mdi mdi-upload"></span>&nbsp;Upload</span>
            </label>
            <!-- <button class="btn btn-primary btn-sm" style="margin-top: -8px;" type="button" mat-button (click)="queueBOM($event)">Upload</button> -->
            <input id="addItemFile" hidden #itemFile type="file" (change)="onFileChange($event.target.files)" required>
          </div>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeAddModal>Close</button>
          <button type="submit" (click)="saveItemUpload()" class="btn btn-primary btn-sm">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

  <!--Add Modal group-->
<button class="hide" data-toggle="modal" data-target="#addtogroup" #openaddGroupModal></button>
<div class="modal fade" id="addtogroup" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Add to Item Group</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form >
      <div class="modal-body">
        <div class="row">
          <form class="form-group add-scroll col-md-11 text-center">
              <h5 class="control-label">Items list:</h5>
                <input type="text"
                class="form-control shadow-sm  mb-2 mr-sm-2 form-control-sm ml-auto form-control-{{ currentTheme }}"
                placeholder="Search" (keyup)="searchitemsBar()" [(ngModel)]="itemsfilter" [ngModelOptions]="{standalone: true}" />

                <table id="dtOrder" class="table table-hover table-striped table-{{ currentTheme }}">
                  <thead>
                    <tr>
                      <th scope="col">
                        <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfo')">
                          <p class="headerText">Item</p>
                          <span class="headerSpan">
                            <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address1_ASC')?'order-active':'order-not-active'"></i>
                            <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address1_DESC')?'order-active':'order-not-active'"></i>
                          </span>
                        </button>
                      </th>
                      <th scope="col">
                          <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                            <p class="headerText">Description</p>
                            <span class="headerSpan">
                              <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address2_ASC')?'order-active':'order-not-active'"></i>
                              <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address2_DESC')?'order-active':'order-not-active'"></i>
                            </span>
                          </button>
                        </th>
                        <th scope="col">
                            <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                              <p class="headerText">Tariff</p>
                              <span class="headerSpan">
                                <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'POBox_ASC')?'order-active':'order-not-active'"></i>
                                <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'POBox_DESC')?'order-active':'order-not-active'"></i>
                              </span>
                            </button>
                          </th>
                          <th scope="col">
                              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                                <p class="headerText">Type</p>
                                <span class="headerSpan">
                                  <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'AddressType_ASC')?'order-active':'order-not-active'"></i>
                                  <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'AddressType_DESC')?'order-active':'order-not-active'"></i>
                                </span>
                              </button>
                            </th>
                    </tr>
                  </thead>
                  <tbody class="modal-list-rights" *ngIf="(!noitemData)">
                    <tr *ngFor="let item of items; let i=index" (click)="addtoGroup(item.groupID, item.itemID)" class="right-list-row"  >
                      <td>{{item.item}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.tariff}}</td>
                      <td>{{item.type}}</td>
                    </tr>
                  </tbody>
                  <tbody class="tbodyPop" *ngIf="(noitemData)" >
                    <tr>
                      <td scope="col"></td>
                      <td scope="col">No data to display..</td>
                      <td scope="col"></td>
                    </tr>
                  </tbody>
                </table>
                <nav aria-label="Pagination" class="float-right" style="margin-top:8px;">
                  <ul class="pagination pagination-sm">
                    <li class="page-item">
                      <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="itemsprevPageState" type="button"
                        (click)="itemspageChange(itemsprevPage)">Prev</button>
                    </li>
                    <li *ngFor="let page of itemsshowingPages" class="page-item">
                      <button [class.active-page]="itemsactivePage == page.page"
                        class="page-link btn-primary btn page-btn-{{ currentTheme }}" [ngClass]="(activePage)?'page-btn-active':''"
                        type="button" (click)="itemspageChange(page.page)">{{page.page}}</button>
                    </li>
                    <li class="page-item">
                      <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="itemsnextPageState" type="button"
                        (click)="itemspageChange(itemsnextPage)">Next</button>
                    </li>
                  </ul>
                </nav>
                <br />
                <p class="ls-text-{{ currentTheme }}">Showing {{ itemsrowStart }} to {{ +itemsrowStart + +itemsshowingRecords - 1 }} of {{ itemsrowCount }}</p>
          </form>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeaddGroupModal>Close</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!--Add Modal group-->
<button class="hide" data-toggle="modal" data-target="#addtoParent" #openaddParentModal></button>
<div class="modal fade" id="addtoParent" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Add to Item Group</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form >
      <div class="modal-body">
        <div class="row">
          <form class="form-group add-scroll col-md-11 text-center">
              <h5 class="control-label">Items list:</h5>
                <input type="text"
                class="form-control shadow-sm  mb-2 mr-sm-2 form-control-sm ml-auto form-control-{{ currentTheme }}"
                placeholder="Search" (keyup)="searchitemsBar()" [(ngModel)]="itemsfilter" [ngModelOptions]="{standalone: true}" />

                <table id="dtOrder" class="table table-hover table-striped table-{{ currentTheme }}">
                  <thead>
                    <tr>
                      <th scope="col">
                        <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfo')">
                          <p class="headerText">Item</p>
                          <span class="headerSpan">
                            <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address1_ASC')?'order-active':'order-not-active'"></i>
                            <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address1_DESC')?'order-active':'order-not-active'"></i>
                          </span>
                        </button>
                      </th>
                      <th scope="col">
                          <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                            <p class="headerText">Description</p>
                            <span class="headerSpan">
                              <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address2_ASC')?'order-active':'order-not-active'"></i>
                              <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address2_DESC')?'order-active':'order-not-active'"></i>
                            </span>
                          </button>
                        </th>
                        <th scope="col">
                            <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                              <p class="headerText">Tariff</p>
                              <span class="headerSpan">
                                <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'POBox_ASC')?'order-active':'order-not-active'"></i>
                                <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'POBox_DESC')?'order-active':'order-not-active'"></i>
                              </span>
                            </button>
                          </th>
                          <th scope="col">
                              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                                <p class="headerText">Type</p>
                                <span class="headerSpan">
                                  <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'AddressType_ASC')?'order-active':'order-not-active'"></i>
                                  <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'AddressType_DESC')?'order-active':'order-not-active'"></i>
                                </span>
                              </button>
                            </th>
                    </tr>
                  </thead>
                  <tbody class="modal-list-rights" *ngIf="(!noitemData)">
                    <tr *ngFor="let item of itemparents; let i=index" (click)="addtoParent(item.itemID)" class="right-list-row"  >
                      <td>{{item.item}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.tariff}}</td>
                      <td>{{item.type}}</td>
                    </tr>
                  </tbody>
                  <tbody class="tbodyPop" *ngIf="(noitemData)" >
                    <tr>
                      <td scope="col"></td>
                      <td scope="col">No data to display..</td>
                      <td scope="col"></td>
                    </tr>
                  </tbody>
                </table>
                <nav aria-label="Pagination" class="float-right" style="margin-top:8px;">
                  <ul class="pagination pagination-sm">
                    <li class="page-item">
                      <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="itemsprevPageState" type="button"
                        (click)="itemspageChange(itemsprevPage)">Prev</button>
                    </li>
                    <li *ngFor="let page of itemsshowingPages" class="page-item">
                      <button [class.active-page]="itemsactivePage == page.page"
                        class="page-link btn-primary btn page-btn-{{ currentTheme }}" [ngClass]="(activePage)?'page-btn-active':''"
                        type="button" (click)="itemspageChange(page.page)">{{page.page}}</button>
                    </li>
                    <li class="page-item">
                      <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="itemsnextPageState" type="button"
                        (click)="itemspageChange(itemsnextPage)">Next</button>
                    </li>
                  </ul>
                </nav>
                <br />
                <p class="ls-text-{{ currentTheme }}">Showing {{ itemsrowStart }} to {{ +itemsrowStart + +itemsshowingRecords - 1 }} of {{ itemsrowCount }}</p>
              <!-- </div> -->
          </form>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeaddParentModal>Close</button>
      </div>
    </form>
    </div>
  </div>
</div>

  <app-notification></app-notification>
  <app-modal-component></app-modal-component>
  <div class="contextOverlay" *ngIf="(contextMenu)" (click)="popOff()">
  <app-context-menu-company-items (addtoParent)="OpenParent($event)" (addtoGroup)="OpenGroup($event)" [ngStyle]="(contextMenu)?'' :'display:none;'" class="contextMenuDiv" *ngIf="(contextMenu)" [x]="contextMenuX" [y]="contextMenuY" [groupID]="focusItemGroupID" [itemID]="focusItemID" [item]="focusItemName"></app-context-menu-company-items>
  </div>
