  <div class="shadow tile ls-tile-{{ currentTheme }}">
    <div class="ls-card-body">
      <div class="float-right">
        <ng-container *ngIf="showLoader">
          <app-loader></app-loader>
        </ng-container>
      </div>
      <app-table
        *ngIf="dataList"
        [(dataset)]="dataList"
        [headings]="tableHeadings"
        [(recordsPerPage)]="rowCountPerPage"
        [(rowStart)]="rowStart"
        [(rowEnd)]="rowEnd"
        [(rowCount)]="rowCount"
        [orderBy]="orderBy"
        [orderByDirection]="orderDirection"
        [tableHeader]="tableHeader"
        (selectedRecord)="selectedRecord($event)"
        (orderChange)="orderChange($event)"
        (pageChange)="pageChange($event)"
        (showingRecordsEvent)="recordsPerPageChange($event)"
        (searchEvent)="searchBar($event)"
        (backButtonEvent)="backToCompanies()"
        (addButtonEvent)="addItem()">

      </app-table>
    </div>
  </div>

<!-- <button class="hide" data-toggle="modal" data-target="#addItem" #openAddModal></button>
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Upload Items</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">File Name:&nbsp;{{filePreview}}</label>
          </div>
          <div class="form-group">
            <label for="addItemFile">
              <span class="upload-button"><span class="mdi mdi-upload"></span>&nbsp;Upload</span>
            </label>
             --<button class="btn btn-primary btn-sm" style="margin-top: -8px;" type="button" mat-button (click)="queueBOM($event)">Upload</button> --
            <input id="addItemFile" hidden #itemFile type="file" (change)="onFileChange($event.target.files)" required>
          </div>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeAddModal>Close</button>
          <button type="submit" (click)="saveItemUpload()" class="btn btn-primary btn-sm">Save</button>
        </div>
      </form>
    </div>
  </div>
</div> -->

  <!--Add Modal group-->
<button class="hide" data-toggle="modal" data-target="#addtogroup" #openaddGroupModal></button>
<div class="modal fade" id="addtogroup" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document"  style="max-width: none !important; min-width: 60%">
    <div class="modal-content" style="width: 50% !important;  margin: 0 auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Add to Item Group</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form >
        <!--Dark theme on Modal Table-->
      <div class="modal-body ls-tile-{{ currentTheme }}">
        <div class="row">
          <form class="form-group add-scroll col-md-12 text-center" style="padding: 5px;">
              <h5 class="control-label">Items list:</h5>
                <input type="text"
                class="form-control shadow-sm  mb-2 mr-sm-2 form-control-sm ml-auto form-control-{{ currentTheme }}"
                placeholder="Search" (keyup)="searchitemsBar()" [(ngModel)]="itemsfilter" [ngModelOptions]="{standalone: true}" />

                <table id="dtOrder" class="table table-hover table-striped table-{{ currentTheme }}">
                  <thead>
                    <tr>
                      <th scope="col">
                        <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfo')">
                          <p class="headerText">Item</p>
                          <span class="headerSpan">
                            <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address1_ASC')?'order-active':'order-not-active'"></i>
                            <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address1_DESC')?'order-active':'order-not-active'"></i>
                          </span>
                        </button>
                      </th>
                      <th scope="col">
                          <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                            <p class="headerText">Description</p>
                            <span class="headerSpan">
                              <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address2_ASC')?'order-active':'order-not-active'"></i>
                              <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address2_DESC')?'order-active':'order-not-active'"></i>
                            </span>
                          </button>
                        </th>
                        <th scope="col">
                            <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                              <p class="headerText">Tariff</p>
                              <span class="headerSpan">
                                <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'POBox_ASC')?'order-active':'order-not-active'"></i>
                                <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'POBox_DESC')?'order-active':'order-not-active'"></i>
                              </span>
                            </button>
                          </th>
                          <th scope="col">
                              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                                <p class="headerText">Type</p>
                                <span class="headerSpan">
                                  <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'AddressType_ASC')?'order-active':'order-not-active'"></i>
                                  <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'AddressType_DESC')?'order-active':'order-not-active'"></i>
                                </span>
                              </button>
                            </th>
                    </tr>
                  </thead>
                  <tbody class="modal-list-rights" *ngIf="(!noitemData)">
                    <tr *ngFor="let item of items; let i=index" (click)="addtoGroup(item.groupID, item.ItemID)" class="right-list-row"  >
                      <!--Fields Mispelled-->
                      <td>{{item.Item}}</td>
                      <td>{{item.Description}}</td>
                      <td>{{item.Tariff}}</td>
                      <td>{{item.ItemType}}</td>
                    </tr>
                  </tbody>
                  <tbody class="tbodyPop" *ngIf="(noitemData)" >
                    <tr>
                      <td scope="col"></td>
                      <td scope="col">No data to display..</td>
                      <td scope="col"></td>
                    </tr>
                  </tbody>
                </table>
                <nav aria-label="Pagination" class="float-right" style="margin-top:8px;">
                  <ul class="pagination pagination-sm">
                    <li class="page-item">
                      <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="itemsprevPageState" type="button"
                        (click)="itemspageChange(itemsprevPage)">Prev</button>
                    </li>
                    <li *ngFor="let page of itemsshowingPages" class="page-item">
                      <button [class.active-page]="itemsactivePage == page.page"
                        class="page-link btn-primary btn page-btn-{{ currentTheme }}" [ngClass]="(activePage)?'page-btn-active':''"
                        type="button" (click)="itemspageChange(page.page)">{{page.page}}</button>
                    </li>
                    <li class="page-item">
                      <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="itemsnextPageState" type="button"
                        (click)="itemspageChange(itemsnextPage)">Next</button>
                    </li>
                  </ul>
                </nav>
                <br />
                <p class="ls-text-{{ currentTheme }}">Showing {{ itemsrowStart }} to {{ +itemsrowStart + +itemsshowingRecords - 1 }} of {{ this.itemsrowCount }}</p>
          </form>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeaddGroupModal>Close</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!--Add Modal group-->
<button class="hide" data-toggle="modal" data-target="#addtoParent" #openaddParentModal></button>
<div class="modal fade" id="addtoParent" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: none !important; min-width: 60%">
    <div class="modal-content" style="width: 50% !important; margin: 0 auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Add to Parent Item</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form >
        <!--Dark theme on Modal Table-->
      <div class="modal-body ls-tile-{{ currentTheme }}">
        <div class="row">
          <form class="form-group add-scroll col-md-12 text-center" style="padding: 5px;">
              <h5 class="control-label">Items list:</h5>
                <input type="text"
                class="form-control shadow-sm  mb-2 mr-sm-2 form-control-sm ml-auto form-control-{{ currentTheme }}"
                placeholder="Search" (keyup)="searchitemsBar()" [(ngModel)]="itemsfilter" [ngModelOptions]="{standalone: true}" />

                <table id="dtOrder" class="table table-hover table-striped table-{{ currentTheme }}">
                  <thead>
                    <tr>
                      <th scope="col">
                        <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfo')">
                          <p class="headerText">Item</p>
                          <span class="headerSpan">
                            <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address1_ASC')?'order-active':'order-not-active'"></i>
                            <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address1_DESC')?'order-active':'order-not-active'"></i>
                          </span>
                        </button>
                      </th>
                      <th scope="col">
                          <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                            <p class="headerText">Description</p>
                            <span class="headerSpan">
                              <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address2_ASC')?'order-active':'order-not-active'"></i>
                              <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'Address2_DESC')?'order-active':'order-not-active'"></i>
                            </span>
                          </button>
                        </th>
                        <th scope="col">
                            <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                              <p class="headerText">Tariff</p>
                              <span class="headerSpan">
                                <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'POBox_ASC')?'order-active':'order-not-active'"></i>
                                <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'POBox_DESC')?'order-active':'order-not-active'"></i>
                              </span>
                            </button>
                          </th>
                          <th scope="col">
                              <button class="headerBtn btn bg-transparent btn-sort ls-text-{{ currentTheme }}" (click)="updateSort('CompanyAddInfoType')">
                                <p class="headerText">Type</p>
                                <span class="headerSpan">
                                  <i class="headerChevrons mdi mdi-chevron-up ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'AddressType_ASC')?'order-active':'order-not-active'"></i>
                                  <i class="headerChevrons mdi mdi-chevron-down ls-text-{{ currentTheme }}" [ngClass]="(orderIndicator === 'AddressType_DESC')?'order-active':'order-not-active'"></i>
                                </span>
                              </button>
                            </th>
                    </tr>
                  </thead>
                  <tbody class="modal-list-rights" *ngIf="(!noitemData)">
                    <tr *ngFor="let item of items; let i=index" (click)="addtoParent(item.ItemID)" class="right-list-row"  >
                      <!--Fields Mispelled-->
                      <td>{{item.Item}}</td>
                      <td>{{item.Description}}</td>
                      <td>{{item.Tariff}}</td>
                      <td>{{item.ItemType}}</td>
                    </tr>
                  </tbody>
                  <tbody class="tbodyPop" *ngIf="(noitemData)" >
                    <tr>
                      <td scope="col"></td>
                      <td scope="col">No data to display..</td>
                      <td scope="col"></td>
                    </tr>
                  </tbody>
                </table>
                <nav aria-label="Pagination" class="float-right" style="margin-top:8px;">
                  <ul class="pagination pagination-sm">
                    <li class="page-item">
                      <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="itemsprevPageState" type="button"
                        (click)="itemspageChange(itemsprevPage)">Prev</button>
                    </li>
                    <li *ngFor="let page of itemsshowingPages" class="page-item">
                      <button [class.active-page]="itemsactivePage == page.page"
                        class="page-link btn-primary btn page-btn-{{ currentTheme }}" [ngClass]="(activePage)?'page-btn-active':''"
                        type="button" (click)="itemspageChange(page.page)">{{page.page}}</button>
                    </li>
                    <li class="page-item">
                      <button class="page-link btn-primary btn page-btn-{{ currentTheme }}" [disabled]="itemsnextPageState" type="button"
                        (click)="itemspageChange(itemsnextPage)">Next</button>
                    </li>
                  </ul>
                </nav>
                <br />
                <p class="ls-text-{{ currentTheme }}">Showing {{ itemsrowStart }} to {{ +itemsrowStart + +itemsshowingRecords - 1 }} of {{ itemsrowCount }}</p>
              <!-- </div> -->
          </form>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeaddParentModal>Close</button>
      </div>
    </form>
    </div>
  </div>
</div>


<!--Add Item-->
<button class="hide" data-toggle="modal" data-target="#addCompany" #openAddModal></button>
<div class="modal fade" id="addCompany" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Add Item</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Item:</label>
            <input type="text" placeholder="Item" class="form-control"
             [(ngModel)]="this.newItem.item" [ngModelOptions]="{standalone: true}"  required/>
          </div>
          <div class="form-group">
            <label class="control-label">Item Description:</label>
            <textarea type="text" placeholder="Item Description" class="form-control"
             [(ngModel)]="this.newItem.description" [ngModelOptions]="{standalone: true}"  required></textarea>
          </div>
          <div class="form-group">
            <ls-autocomplete-tariffs [control]="tariffControl"></ls-autocomplete-tariffs>
              <!--<label class="control-label">Tariff:</label>
              <select class="form-control" (change)="onTariffChange($event.target.value)">
                <option *ngFor="let tariffX of this.tarifflist" [value]="tariffX.id" [selected]="tariffX.id === this.tariffID">{{tariffX.subHeading}}</option>
              </select>-->
          </div>
          <div class="form-group">
              <label class="control-label">Type:</label>
              <select class="form-control" (change)="onTypeChange($event.target.value)" [formControl]="typeControl">
                <option *ngFor="let type of this.itemTypes" [value]="type.itemTypeID" [selected]="type.itemTypeID === this.newItem.itemtypeID">{{type.itemType}} - {{type.description}}</option>
              </select>
          </div>
          <div class="form-group">
            <label class="control-label">Class:</label>
            <select class="form-control" (change)="onClassChange($event.target.value)" [formControl]="classControl">
              <option *ngFor="let class of this.itemClasses" [value]="class.ItemClassID" [selected]="class.ItemClassID === this.newItem.itemClassID"><a><span>{{class.Name}} - {{class.Description}}</span></a></option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Usage:</label>
            <select class="form-control" (change)="onUsageChange($event.target.value)" [formControl]="usageControl">
              <option *ngFor="let use of this.usages" [value]="use.UsageTypeID" [selected]="use.UsageTypeID === this.newItem.usageTypeID">{{use.Name}} - {{use.Description}}</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Vulnerable:</label>
            <select class="form-control" (change)="onVulnerablestateChange($event.target.value)" [formControl]="vulnerableControl">
              <option *ngFor="let state of this.YESNO" [value]="state.value">{{state.title}}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="checkbox" [(ngModel)]="this.newItem.qualify521" [ngModelOptions]="{standalone: true}" style="height: 15px; width: 15px; margin: 0px 10px"/>
            <label class="control-label">Qualifies for 521</label>
          </div>
          <div class="form-group">
            <input type="checkbox" [(ngModel)]="this.newItem.qualify536" [ngModelOptions]="{standalone: true}" style="height: 15px; width: 15px; margin: 0px 10px"/>
            <label class="control-label">Qualifies for 536</label>
          </div>
          <div class="form-group">
            <input type="checkbox" [(ngModel)]="this.newItem.qualifyPI" [ngModelOptions]="{standalone: true}" style="height: 15px; width: 15px; margin: 0px 10px"/>
            <label class="control-label">Qualifies for PI</label>
          </div>
          <!--<div class="row ">
            <form class="form-group add-scroll col-md-6 text-center">
                <h5 class="control-label">Available Services</h5>
                <div class="modal-list-service" style="border: inset;">
                  <ul class="service-list">
                    <li (click)="addNewservice(service.serviceID, service.serviceName, true, service.serviceID)" *ngFor="let service of returnedservices"><a><span>{{service.serviceName}}</span></a></li>
                  </ul>
                </div>
            </form>
            <form class="form-group add-scroll col-md-6 text-center">
              <h5 class="control-label">Assigned Services</h5>
              <div class="modal-add-service" style="border: inset;">
                <ul class="service-list">
                  <li (click)="removeservice(iservice.itemServiceID, iservice.serviceName, true)" *ngFor="let iservice of itemservicelist"><a><span>{{iservice.serviceName}}</span></a></li>
                </ul>
              </div>
            </form>
          </div>-->
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeAddModal>Close</button>
          <button type="button" (click)="AddItem()" class="btn btn-primary btn-sm">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--Edit Modal-->
<button class="hide" data-toggle="modal" data-target="#editCompany" #openeditModal></button>
<div class="modal fade" id="editCompany" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Edit Item</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
          <div class="modal-body">
            <div class="form-group">
              <label class="control-label">Item:</label>
              <input type="text" placeholder="Item" class="form-control"
               [(ngModel)]="this.newItem.item" [ngModelOptions]="{standalone: true}"  required/>
            </div>
            <div class="form-group">
              <label class="control-label">Item Description:</label>
              <textarea type="text" placeholder="Item Description" class="form-control"
               [(ngModel)]="this.newItem.description" [ngModelOptions]="{standalone: true}"  required></textarea>
            </div>
            <div class="form-group">
              <ls-autocomplete-tariffs [control]="tariffControl"></ls-autocomplete-tariffs>
              <!--<label class="control-label">Tariff:</label>
              <select class="form-control" (change)="onTariffChange($event.target.value)">
                <option *ngFor="let tariffX of this.tarifflist" [value]="tariffX.id" [selected]="tariffX.id === this.tariffID">{{tariffX.subHeading}}</option>
              </select>-->
            </div>
            <div class="form-group">
                <label class="control-label">Type:</label>
                <select class="form-control" (change)="onTypeChange($event.target.value)">
                  <option *ngFor="let type of this.itemTypes" [value]="type.itemTypeID" [selected]="type.itemTypeID === this.newItem.itemtypeID">{{type.itemType}} - {{type.description}}</option>
                </select>
            </div>
            <div class="form-group">
              <label class="control-label">Class:</label>
              <select class="form-control" (change)="onClassChange($event.target.value)">
                <option *ngFor="let class of this.itemClasses" [value]="class.ItemClassID" [selected]="class.ItemClassID === this.newItem.itemClassID"><a><span>{{class.Name}} - {{class.Description}}</span></a></option>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">Usage:</label>
              <select class="form-control" (change)="onUsageChange($event.target.value)">
                <option *ngFor="let use of this.usages" [value]="use.UsageTypeID" [selected]="use.UsageTypeID === this.newItem.usageTypeID">{{use.Name}} - {{use.Description}}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">Vulnerable:</label>
              <select class="form-control" (change)="onVulnerablestateChange($event.target.value)" [formControl]="vulnerableControl">
                <option *ngFor="let state of this.YESNO" [value]="state.value">{{state.title}}</option>
              </select>
            </div>
            <div class="form-group">
              <input type="checkbox" [(ngModel)]="this.newItem.qualify521" [ngModelOptions]="{standalone: true}" style="height: 15px; width: 15px; margin: 0px 10px"/>
              <label class="control-label">Qualifies for 521</label>
            </div>
            <div class="form-group">
              <input type="checkbox" [(ngModel)]="this.newItem.qualify536" [ngModelOptions]="{standalone: true}" style="height: 15px; width: 15px; margin: 0px 10px"/>
              <label class="control-label">Qualifies for 536</label>
            </div>
            <div class="form-group">
              <input type="checkbox" [(ngModel)]="this.newItem.qualifyPI" [ngModelOptions]="{standalone: true}" style="height: 15px; width: 15px; margin: 0px 10px"/>
              <label class="control-label">Qualifies for PI</label>
            </div>

            <!--<div class="row ">
              <form class="form-group add-scroll col-md-6 text-center">
                  <h5 class="control-label">Available Services</h5>
                  <div class="modal-list-service" style="border: inset;">
                    <ul class="service-list">
                      <li (click)="addNewservice(service.serviceID, service.serviceName)" *ngFor="let service of returnedservices"><a><span>{{service.serviceName}}</span></a></li>
                    </ul>
                  </div>
              </form>
              <form class="form-group add-scroll col-md-6 text-center">
                <h5 class="control-label">Assigned Services</h5>
                <div class="modal-add-service" style="border: inset;">
                  <ul class="service-list">
                    <li (click)="removeservice(iservice.itemServiceID, iservice.serviceName)" *ngFor="let iservice of itemservicelist"><a><span>{{iservice.serviceName}}</span></a></li>
                  </ul>
                </div>
              </form>
            </div>-->
        </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeeditModal>Close</button>
        <button type="button" (click)="UpdateItem(false)" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>
<!--Delete Modal -->
<button class="hide" data-toggle="modal" data-target="#removeItem" #openRemoveModal></button>
<div class="modal fade" id="removeItem" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Remove Item</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <p>Are you sure you want to remove this item?</p>
        </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeRemoveModal>Close</button>
        <button type="button" (click)="UpdateItem(true)" class="btn btn-primary btn-sm">Remove</button>
      </div>
    </form>
    </div>
  </div>
</div>



  <app-notification></app-notification>
  <app-modal-component></app-modal-component>
  <div class="contextOverlay" *ngIf="(contextMenu)" (click)="popOff()">
  <app-context-menu-company-items
  (addtoParent)="OpenParent($event)"
  (addtoGroup)="OpenGroup($event)"
  [ngStyle]="(contextMenu)?'' :'display:none;'"
  class="contextMenuDiv"
  *ngIf="(contextMenu)"
  [x]="contextMenuX"
  [y]="contextMenuY"
  [groupID]="focusItemGroupID"
  [itemID]="focusItemID"
  [item]="focusItemName"
  (edit)="editItem($event)"
  (remove)="removeItem($event)"></app-context-menu-company-items>
  </div>
