<div mat-dialog-content class="overflow: hidden">
  <div class="text-center">
    <label *ngIf="this.file === undefined" for="attachDocument" style="margin-top: 20%;">
      <span class="upload-attachment">
          <span class="mdi mdi-file-upload"></span>
      </span>
      <br><br><br>
      Upload Document
    </label>
  </div>
    <input id="attachDocument" (change)="inputFileChange($event.target.files)" type="file" hidden/>
  <div class="row" style="overflow: hidden">
    <div style=" width: 58% ;overflow-y: auto; position: relative; overflow-y: auto; height: 80vh;" ngClass="{'col-7': this.file, 'col-12': !this.filePreview}">
        <app-pdf-viewer
        class="fill-div"
        *ngIf="this.filePreview"
        [pdf]="this.filePreview"
        >
        </app-pdf-viewer>
    </div>
<!--
  <div class="pdf-control-container col-7" *ngIf="this.displayPreview">
    <div class="pdf-control">
      <div class="row">
        <div class="col-4 text-left">
          <button class="btn btn-secondary btn-sm" matTooltip="Zoom out" matTooltipPosition="above" (click)="zoom_out()" [disabled]="this.zoom_to <= 0.4">
            <span class="mdi mdi-minus"></span>
          </button>
          &nbsp;
          <button class="btn btn-secondary btn-sm" matTooltip="Zoom in" matTooltipPosition="above" (click)="zoom_in()" [disabled]="this.zoom_to >= 1.6">
            <span class="mdi mdi-plus"></span>
          </button>
        </div>
        <div class="col-4">
          <div class="text-center">
            <button class="btn btn-secondary btn-sm" matTooltip="Previous Page" matTooltipPosition="above" (click)="pageChange(page - 1)" [disabled]="page === 1">
              <span class="mdi mdi-arrow-left"></span>
            </button>
            &nbsp;
              <span style="margin-right: 10px">{{page}}</span>
            <button class="btn btn-secondary btn-sm" matTooltip="Next Page" matTooltipPosition="above" (click)="pageChange(page + 1)">
              <span class="mdi mdi-arrow-right"></span>
            </button>
          </div>
        </div>
        <div class="col-4 text-right">
          <button class="btn btn-secondary btn-sm" matTooltip="Rotate" matTooltipPosition="above" (click)="rotatePDF(rotation + 90)">
            <span class="mdi mdi-rotate-left"></span>
          </button>
        </div>
      </div>
    </div>
  </div> -->
    <div class="col-5 bg-light" style="overflow-y: auto;margin: 0; max-height: 80vh;padding: 24px" *ngIf="this.displayPreview">
        <form class="bg-light" style="padding: 24px; width: 100%;">
            <div *ngIf="this.file !== undefined" class="split-pdf">
              <div class="form-group text-right">
                <button (click)="addSection()" class="btn btn-primary btn-sm">Add Section</button>
              </div>
              <div *ngFor="let section of this.requestData.sections; let i = index">
                <button mat-button (click)="removeSection(section)">REMOVE</button>

                <div class="form-group form-inline">
                  <input type="number" placeholder="Start" class="form-control form-control-sm" [value]="section.pages.start" [(ngModel)]="section.pages.start" [ngModelOptions]="{standalone: true}" required>
                  <input type="number" placeholder="End"  class="form-control form-control-sm" [value]="section.pages.end" [(ngModel)]="section.pages.end" [ngModelOptions]="{standalone: true}" required>
                  <input type="number" placeholder="Skip"  class="form-control form-control-sm" [value]="section.pages.skip" [(ngModel)]="section.pages.skip" [ngModelOptions]="{standalone: true}" required>
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Name" disabled="disabled"  class="form-control form-control-sm" [value]="section.name" [(ngModel)]="section.name" [ngModelOptions]="{standalone: true}" required>
                </div>
              <div class="form-group">
                <select class="form-control form-control-sm" (change)="typeChange(i, $event.target.value)">
                  <option disabled selected>Please select a type</option>
                  <option *ngFor="let type of this.transactionTypes; let x = index;"  [value]="x">{{type.description}}</option>
                </select>
              </div>
              </div>
              <hr>
            </div>
        </form>
        <div class="form-group text-right" style="padding: 24px">
            <button class="btn btn-light btn-sm" (click)="dismiss()" [disabled]="processing">Cancel</button>
            <button type="button" (click)="formSubmit()"class="btn btn-primary btn-sm" [disabled]="processing">Submit</button>
          </div>
      </div>
  </div>
  <div class="split-overlay" *ngIf="processing" ><mat-spinner></mat-spinner></div>
</div>

