<mat-form-field [appearance]="appearance">
  <mat-label>
    {{label}}
  </mat-label>
  <input type="text" matInput [formControl]="query" [matAutocomplete]="cpcAuto" (focusout)="focusOut(trigger);" #trigger="matAutocompleteTrigger" (focusin)="updateHelpContext(helpSlug)">
  <mat-hint>Name, Description</mat-hint>
  <mat-error *ngIf="query.hasError('required')">This field is required</mat-error>
  <mat-error *ngIf="query.hasError('incorrect')">An option has not been selected, <button class="text-button" type="button" (click)="query.setValue(null)">clear</button> or <button class="text-button" type="button" (click)="createItem()">create item</button></mat-error>
</mat-form-field>
<mat-autocomplete #cpcAuto="matAutocomplete" [displayWith]="displayFn">
  <mat-option *ngFor="let item of list" [value]="item"><!--{{item.Tariff !== '' && item.Tariff !== null ? item.Tariff + ', ' : ''}}-->{{item.Name}}, {{item.Description}}</mat-option>
</mat-autocomplete>
