<h1 mat-dialog-title>SAD500Line</h1>
<div mat-dialog-content>
  <hr>
  <div class="row">
    <div class="col-sm-6">
        <p><strong>CPC:</strong></p>
        <p><strong>Customs Value:</strong></p>
        <p><strong>Line No:</strong></p>
        <p><strong>Product Code:</strong></p>
        <p><strong>Tariff:</strong></p>
        <p><strong>Unit Of Measure:</strong></p>
        <p><strong>Value:</strong></p>
    </div>
    <div class="col-sm-6 text-right">
        <p>{{data.cpc}}</p>
        <p>{{data.customsValue}}</p>
        <p>{{data.lineNo}}</p>
        <p>{{data.productCode}}</p>
        <p>{{data.tariff}}</p>
        <p>{{data.unitOfMeasure}}</p>
        <p>{{data.value}}</p>
    </div>
  </div>

</div>
