<nav  class="sidebar sidebar-offcanvas offset-sidebar shadow ls-tile-{{ currentTheme }}" id="sidebar"
  [ngClass]="(collapse)? 'collapse-sidebar' : '' ">
  <ul class="nav bg-transparent" style="padding:22px 10px 22px 12px;">
    <li *ngIf="showusers" class="nav-item ls-btn-hover-{{ currentTheme }}"
    (mouseover)="updateHelpContext('sidebar-users-link')"
    matTooltip="Users" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
    <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/users" [routerLinkActive]="['active-item']" >
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>

    <li *ngIf="showdesignation" class="nav-item ls-btn-hover-{{ currentTheme }}"
    (mouseover)="updateHelpContext('sidebar-designations-link')"
    matTooltip="Designations" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
    <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/designations" [routerLinkActive]="['active-item']">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">Designations</span>
      </a>
    </li>
    <li *ngIf="showrights" class="nav-item ls-btn-hover-{{ currentTheme }}"
    (mouseover)="updateHelpContext('sidebar-rights-link')"
    matTooltip="Rights" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
    <a class="nav-link ls-text-{{ currentTheme }}" routerLink="/rights" [routerLinkActive]="['active-item']">
        <i class="mdi mdi-file-document-box-outline menu-icon"></i>
        <span class="menu-title">Rights</span>
      </a>
    </li>
    <li *ngIf="showbackgrounds" class="nav-item ls-btn-hover-{{ currentTheme }}"
    (mouseover)="updateHelpContext('sidebar-backgrounds-link')"
    matTooltip="Backgrounds" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
    <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/backgrounds" [routerLinkActive]="['active-item']">
        <i class="mdi mdi-image menu-icon"></i>
        <span class="menu-title">Backgrounds</span>
      </a>
    </li>
    <li *ngIf="showhelpglossary" class="nav-item ls-btn-hover-{{ currentTheme }}"
    (mouseover)="updateHelpContext('sidebar-help-glossary-link')"
    matTooltip="Help Glossary" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
    <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/helpglossary" [routerLinkActive]="['active-item']">
      <i class="mdi mdi-help-box menu-icon"></i>
      <span class="menu-title">Help Glossary</span>
    </a>
  </li>
  <li *ngIf="showunitofmeasures" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-units-measure-link')"
  matTooltip="Units Of Measure" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/unitsofmeasure" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-scale menu-icon"></i>
    <span class="menu-title">Units Of Measure</span>
  </a>
</li>
<li *ngIf="showlocations" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-locations-link')"
  matTooltip="Locations" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/locations" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-google-maps menu-icon"></i>
    <span class="menu-title">Locations</span>
  </a>
  </li>
  <li *ngIf="showcompanies" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-companies-link')"
  matTooltip="Companies" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/companies" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-office-building menu-icon"></i>
    <span class="menu-title">Companies</span>
  </a>
  </li>
  <li *ngIf="showservices" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-services-link')"
  matTooltip="Services" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/services" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-wrench menu-icon"></i>
    <span class="menu-title">Services</span>
  </a>
  </li>
  <li *ngIf="showtariffs" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-tariffs-link')"
  matTooltip="Tariffs" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/tariffs" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-percent menu-icon"></i>
    <span class="menu-title">Tariffs</span>
  </a>
  </li>
  <li *ngIf="showitems" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-items-link')"
  matTooltip="Items" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/items" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-basket menu-icon"></i>
    <span class="menu-title">Items</span>
  </a>
  </li>
  <li *ngIf="showdesignation" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-designations-link')"
  matTooltip="Exchang Rates" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/exchangrates" [routerLinkActive]="['active-item']">
      <i class="mdi mdi-currency-usd menu-icon"></i>
      <span class="menu-title">Exchang Rates</span>
    </a>
  </li>
  <li *ngIf="showescalations" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-escalations-link')"
  matTooltip="Escalation Queue" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/escalations" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-account-alert"></i>
    <span class="menu-title">Escalation Queue</span>
  </a>
  </li>
  <li *ngIf="showcompanies" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-linking-link')"
  matTooltip="Transaction Linking" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/transaction-linking/queue" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-link"></i>
    <span class="menu-title">Transaction Linking</span>
  </a>
  </li>
  <li *ngIf="showcapturequeue" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-capture-queue-link')"
  matTooltip="Capture Queue Overview" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/capture-queue" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-view-list menu-icon"></i>
    <span class="menu-title">Capture Queue Overview</span>
  </a>
  </li>
  <li *ngIf="showreportqueues" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-reportqueues-link')"
  matTooltip="Reports Queues" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/reportsqueues" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-file-find menu-icon"></i>
    <span class="menu-title">Reports Queues</span>
  </a>
  </li>
  <li *ngIf="showCapturer" class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-showCapturer-link')"
  matTooltip="Start Capturing" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" (click)="loadCaptureScreen()" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-checkbox-multiple-marked-circle-outline menu-icon"></i>
    <span class="menu-title">Start Capturing</span>
  </a>
  </li>
  <!-- <li class="nav-item ls-btn-hover-{{ currentTheme }}"
  <li class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-places-link')"
  matTooltip="AddressTypes" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/addresstypes" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
    <span class="menu-title">Address Types</span>
  </a>
  </li>
  <li class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-contact-types-link')"
  matTooltip="ContactTypes" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/contacttypes" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-phone menu-icon"></i>
    <span class="menu-title">Contact Types</span>
  </a>
  </li>
  <li class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-company-add-info-types-link')"
  matTooltip="CompanyAddInfoTypes" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/companyaddinfotypes" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-home-modern menu-icon"></i>
    <span class="menu-title">Company Add Info Types</span>
  </a>
  </li>
  <li class="nav-item ls-btn-hover-{{ currentTheme }}"
  (mouseover)="updateHelpContext('sidebar-currencies-link')"
  matTooltip="Currencies" matTooltipPosition="above" [matTooltipDisabled]="!collapse">
  <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/currencies" [routerLinkActive]="['active-item']">
    <i class="mdi mdi-home-modern menu-icon"></i>
    <span class="menu-title">Currencies</span>
  </a>
  </li>-->
  </ul>
</nav>
