.offset-sidebar {
  margin-top: 25px;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: auto;
  height: calc(100% - 50px);
}

.nav-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
}

.sidebar .nav:not(.sub-menu)>.nav-item {
  border: none;
  outline: none;
}

.offcanvas-sidebar-show {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
}

.active-item {
  background: #f2f2f2;
  color: #3877ff !important;
  border-radius: 5px;
}

.active-item i,
span {
  color: #3877ff;
}
// Eathon Maritz
// 17-07-19
// Allows for sidebar collapsing
.collapse-sidebar {
  width: 65px !important;

}
.collapse-sidebar .nav-item span {
  display: none;
}
.collapse-sidebar .nav-item {
  width: 40px;
  height: 40px;

}
.collapse-sidebar .nav-item .nav-link {
  width: 40px;
  height: 40px;
  border-radius:50%;
}
.col-lg-1 .sidebar {
  margin: 0px !important;
}
