<nav class="sidebar sidebar-offcanvas offset-sidebar shadow ls-tile-{{ currentTheme }}" id="sidebar" [ngClass]="(collapse)? 'collapse-sidebar' : '' ">
  <ul class="nav bg-transparent" style="padding:22px">
    <li class="nav-item ls-btn-hover-{{ currentTheme }}" (mouseenter)="showSnackBar('Users navigation item')">
      <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/users">
        <i class="mdi mdi-account menu-icon"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>
    <li class="nav-item ls-btn-hover-{{ currentTheme }}" (mouseenter)="showSnackBar('Designations navigation item')">
      <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/designations">
        <i class="mdi mdi-view-headline menu-icon"></i>
        <span class="menu-title">Designations</span>
      </a>
    </li>
    <li class="nav-item ls-btn-hover-{{ currentTheme }}" (mouseenter)="showSnackBar('User Rights navigation item')">
      <a class="nav-link ls-text-{{ currentTheme }}" routerLink="/rights">
        <i class="mdi mdi-file-document-box-outline menu-icon"></i>
        <span class="menu-title">User Rights</span>
      </a>
    </li>
    <li class="nav-item ls-btn-hover-{{ currentTheme }}" (mouseenter)="showSnackBar('Backgrounds navigation item')">
      <a class="nav-link ls-text-{{ currentTheme }} ls-btn-hover-{{ currentTheme }}" routerLink="/backgrounds">
        <i class="mdi mdi-account-key menu-icon"></i>
        <span class="menu-title">Backgrounds</span>
      </a>
    </li>
  </ul>
</nav>
