 <div class="text-left tile-frost tile shadow full-form">
            <div class="brand-logo">
              <img src="./../../../assets/dist/images/logo.png" alt="logo">
            </div>
            <h4 style="margin-bottom: 5px;margin-top:26px;">Welcome Back!</h4>
            <h6 class="font-weight-light">Happy to see you again</h6>
            <form class="pt-3" id="forgotPasswordForm" (submit)="onLoginSubmit()">
              <div class="form-group">
                <label>
                  <!--for="exampleInputEmail" -->Email Address</label>
                <div class="input-group">
                  <div class="input-group-prepend bg-transparent">
                    <span class="input-group-text bg-transparent border-right-0">
                      <i class="mdi mdi-account-outline text-primary"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control form-control-lg border-left-0" placeholder="Email Address"
                    required [(ngModel)]="txtEmail" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="form-group">
                <label>
                  <!--for="exampleInputEmail"-->Password</label>
                <div class="input-group">
                  <div class="input-group-prepend bg-transparent">
                    <span class="input-group-text bg-transparent border-right-0">
                      <i class="mdi mdi-lock-outline text-primary"></i>
                    </span>
                  </div>
                  <input type="password" class="form-control form-control-lg border-left-0" placeholder="Password"
                    required [(ngModel)]="txtPassword" [ngModelOptions]="{standalone: true}">
                    <div class="input-group-append bg-light">
                        <span class="input-group-text bg-transparent border-right-0">
                          <i class="mdi mdi-eye text-primary"></i>
                        </span>
                      </div>
                </div>
              </div>
              <div class="my-3">
                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                  [disabled]="pendingRequest">Login</button>
              </div>
              <div class="my-2 text-center">
                <a routerLink="/account/forgotpassword" class="auth-link text-behance">Forgot Password?</a>
              </div>
            </form>
          </div>
<app-notification></app-notification>
