<h1 mat-dialog-title>Assign Duty Value</h1>
<div mat-dialog-content style="overflow: none !important;">
    <div style="text-align: center;">
        <form class="example-form">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Duty Value" [(ngModel)]="this.data.duty" [ngModelOptions]="{standalone: true}"/>
            </mat-form-field>
            <div mat-dialog-actions>
              <button mat-raised-button  (click)="onNoClick()">Cancel</button>
              <button mat-raised-button color="primary" [mat-dialog-close]="this.data">Assign</button>
          </div >
        </form>
    </div>
</div>

