.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px #f2f2f2 solid;
  transition: ease-in-out 0.3s;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.userRecord:hover>td>img {
  border: 1px #4d83ff solid;
  transition: ease-in-out 0.3s;
}

.form-control {
  border: 1px rgba(30, 30, 30, 0.2) solid;
}

.form-control:focus {
  border: 1px #4d83ff solid;

}

.active-page {
  background: #4d83ff;
  color: #f2f2f2;
}

.page-link {
  border: none;
  border-radius: 0;
}

.page-item {
  border: none;
  border-radius: 0;
}

td {
  overflow-x: auto;
}

.btn-sort {
  padding: 0;
  margin: 0;
  width: 115%;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.btn-sort>p {
  display: inline
}

.btn-sort:hover {
  color: #4d83ff;
}

.hover-pointer {
  cursor: pointer;
}

.order-active {
  color: #4d83ff !important;
}

.order-not-active {
  color: #333333;
}
table {
  width: 100%;
  .mat-header-cell {
    color: #000;
    font-size: 14px;
    font-weight:600px;
  }
}
.table {
  overflow-x: auto;
  width: 100% ;
}

.btn-add {
  width: 35px;
  height: 35px;
  padding: 3px 0px;
  border-radius: 18px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #71c016;
  color:#fff;
}

.btn-add:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #62ab0e;
  transition: 0.3s;
  color:#fff;
}
.btn-add:active {
  border: 2px solid #79d90b;

}
.btn-add i:hover {
  color:#fff;
}
.ls-card-body {
  width: 100%;
  padding: 25px;
}
.contextOverlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1000;
  cursor: pointer;
}
td {
  // border: 1px solid transparent !important;
}
tr.active {
  background-color:#b3c9ff !important;
  box-shadow: 0 0.75rem 1.2rem rgba(0, 0, 0, 0.301) !important;
  border: 1px solid transparent !important;
  td {
    border: 1px solid transparent !important;
  }
}

.right-list {
  background-color: #f0f1f5;
  border: 2px solid #b9b8b8;
  border-right: 2px solid #b9b8b8;
  border-bottom: 2px solid #b9b8b8;
  margin-right: 2px;
  padding-right: 20px;
  padding-left:5px;
}
.right-list:hover {
  cursor: pointer;
}
.right-list li {
  text-align: left;
  list-style-type: none;
  border-bottom: 1px solid #888888;
}

.right-list-row:hover  {
  background-color: #5085fa !important;
  color: white !important;

}

.right-list li a svg {
  color: white;
}
// .right-list li:hover {
//   border: 1px solid #5085fa;
//   border-bottom-left-radius: 10px;
//   border-top-left-radius: 10px;
//   background-color: #88ADFE;
//   color: #fff;
//   transition: 0.1s;
// }
.modal-list-rights .right-list {
  padding-right: 0px;
}
.modal-size {
  max-width:  1000px !important;
}
.modal-dialog {
  height:600px !important;
}
.modal-content {
  height: 100%;
}

.modal-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-body {
  margin-bottom: 64px;
}

.right-list li a {
  border: none;
  background-color: transparent;
  color: #5085fa;
}
.right-list li:hover {
  background-color: #5085fa;
  :first-child {
    color: #fff;
  }

}

.width{
  width: 480px !important;
}
.right-list li:hover {
  color: #5085fa
}
.right-list li:active {
  background-color: #5085fa;
  color: #fff;
}
.right-list button {
  height: 25px;
  width: 25px;
  color:#5085fa;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: 0px;
  margin:2px;
}
.right-list button:hover {
  background-color: #A1FFFF;
  border: 1px solid transparent;
  // :first-child{
  //   color:rgb(14, 179, 14);
  // }
}
.right-list button i {
  color: #5085fa;
  padding-bottom: 3px;
}

.add-scroll {
  border: none !important;
    /* width */
  ::-webkit-scrollbar {
    width: 20px;
  }
}

.add-scroll .modal-list-rights {
  direction: rtl;
  text-align: left;
  height: 200px;
  // border: 2px solid #dadada;
  outline: none;
}
.checkpos{
  left: 900px;
  position: relative;
}

.border{
  border: solid #e7e7e7 !important;
  border-radius: 5px;
}
.margin20 {
  margin-left: 20px;
}
.mat-slider {
  width: 300px;
}
.mat-title-card {
margin-bottom: 15px;
}
.data {
  .row {
    button {
      font-size: 16px;
      font-weight: 500;
    }
    margin-bottom: 5px;
  }
}

