<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <app-table
      *ngIf="this.CompanyServiceClaims"
      [dataset]="this.CompanyServiceClaims"
      [headings]="this.tableHeadings"
      [recordsPerPage]="this.recordsPerPage"
      [rowStart]="this.rowStart"
      [rowEnd]="this.rowEnd"
      [rowCount]="this.rowCount"
      [orderBy]="this.orderBy"
      [orderByDirection]="this.orderDirection"
      [tableHeader]="this.tableHeader"
      (backButtonEvent)="back()"
      (selectedRecord)="selectedRecord($event)"
      (orderChange)="orderChange($event)"
      (pageChange)="pageChange($event)"
      (showingRecordsEvent)="recordsPerPageChange($event)"
      (searchEvent)="searchEvent($event)"
      (addButtonEvent)="addServiceClaim()">
    </app-table>
  </div>
</div>

<app-notification></app-notification>
<app-modal-component></app-modal-component>

<app-menu
*ngIf="this.contextMenu"
[contextShow]="this.contextMenu"
[x]="this.contextMenuX"
[y]="this.contextMenuY"
(resetContext)="this.selectedRow = -1; this.contextMenu = false">
<app-context-menu-service-claims (populatecompanyService)="populatecompanyService($event)" (reportscompanyService)="reportscompanyService($event)" [companyID]="this.companyID" [companyName]="this.companyName" [companyServiceID]="this.ServiceClaim.companyServiceID" [companyServiceClaimID]="this.ServiceClaim.companyServiceClaimNumber" [serviceID]=" this.ServiceClaim.serviceID" [serviceName]="this.ServiceClaim.serviceName"></app-context-menu-service-claims>
</app-menu>

<!--populate Modal-->
<button class="hide" data-toggle="modal" data-target="#populate" #openPopulateModal></button>
<div class="modal fade modal-maxsize" id="populate" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
<div class="modal-dialog modal-size modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="modalContent">Populate Claim Data</h5>
      <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form>
        <div class="modal-body">
          <div class="row"> <!--Export Data-->
            <mat-form-field class="col-md-4">
              <mat-label>Export Date Range:</mat-label>
              <input required matInput [matDatepicker]="exportStartDate">
              <mat-datepicker-toggle matSuffix [for]="exportStartDate"></mat-datepicker-toggle>
              <mat-datepicker #exportStartDate></mat-datepicker>
              <!-- <mat-error *ngIf="email.invalid">Export Start Date is required</mat-error> -->
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>To:</mat-label>
              <input required matInput [matDatepicker]="exportEndDate">
              <mat-datepicker-toggle matSuffix [for]="exportEndDate"></mat-datepicker-toggle>
              <mat-datepicker #exportEndDate></mat-datepicker>
              <mat-hint>Warning: </mat-hint>
            </mat-form-field>
            <mat-form-field class="offset-md-1 col-md-2">
              <mat-label>Extension Days</mat-label>
              <mat-select required [(value)]="this.selectedExtensionDays">
                <mat-option *ngFor="let day of extensionDays" [value]="day.value" >
                  {{day.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row"><!--Import Data-->
            <mat-form-field class="col-md-4">
              <mat-label>Lookback Days</mat-label>
              <mat-select>
                <mat-option *ngFor="let day of lookBackDays" [value]="day.value">
                  {{day.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md-4">
              <mat-label>Claim Date:</mat-label>
              <input matInput [matDatepicker]="claimDate">
              <mat-datepicker-toggle matSuffix [for]="claimDate"></mat-datepicker-toggle>
              <mat-datepicker #claimDate></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-md-3">
              <mat-label>Permits</mat-label>
              <mat-select [formControl]="permitsByDate" multiple (selectionChange)="permitselected($event.value)">
                <mat-option *ngFor="let permit of this.Permits" [value]="permit.permitID">{{permit.permitCode}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group text-right">
            <input hidden #myInput [(ngModel)]="this.submissiondate" [ngModelOptions]="{standalone: true}">
            <button mat-raised-button color="primary" (click)="generateClaimRequest()">Generate</button>
          </div>
          <br>
          <hr/>
          <br>
          <mat-card class="mat-title-card offset-md-3 col-md-6 text-center ls-text-"><label style="
            font-size: 20px;
            font-weight: 600;
        ">Claim Imports by Component</label></mat-card>
          <div class="data" *ngIf="importComponents">
            <div class="row" >
              <!-- <label class="col-md-2 text-center">Component Code</label> -->
              <button mat-button color="primary" class="col-md-2 text-center" >Component Code</button>
              <button mat-button color="primary" class="col-md-2 text-center">Total Import Quantity</button>
              <button mat-button color="primary" class="col-md-2 text-center">Total Export Quantity</button>
              <button mat-button color="primary" class="col-md-2 text-center">Total Duty</button>
              <button mat-button color="primary" class="col-md-2 text-center">Total Shortfall</button>
              <!-- <label class="col-md-2 text-center">Total Import Quantity</label>
              <label class="col-md-2 text-center">Total Export Quantity</label>
              <label class="col-md-2 text-center">Total Duty</label> -->
            </div>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let component of importComponents">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <label class="col-md-2 text-center">{{component.data.code}}</label>
                    <label class="col-md-2 text-center">{{component.data.importQuantity}}</label>
                    <label class="col-md-2 text-center">{{component.data.exportQuantity}}</label>
                    <label class="col-md-2 text-center">{{component.data.totalDuty}}</label>
                    <label class="col-md-2 text-center">{{component.data.totalShortfallQuantity}}</label>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div #exports width="100%">
                  <table mat-table [dataSource]="selectProducts" class="mat-elevation-z8" multiTemplateDataRows>
                    <ng-container matColumnDef="rowNum">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.rowNum}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="prodCode">
                      <th mat-header-cell *matHeaderCellDef> Product Code </th>
                      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="quantityPer">
                      <th mat-header-cell *matHeaderCellDef> Quantity Per </th>
                      <td mat-cell *matCellDef="let element"> {{element.quantityPer}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="exportedQuantity">
                      <th mat-header-cell *matHeaderCellDef> Exported Quantity </th>
                      <td mat-cell *matCellDef="let element"> {{element.quantityExported}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totalExportedQuantity">
                      <th mat-header-cell *matHeaderCellDef> Total Exported Quantity </th>
                      <td mat-cell *matCellDef="let element"> {{element.totalExportQuantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                                      [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)"
                                      [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" 
                    class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-divider style="margin:10px;"></mat-divider>
                  <mat-card class="mat-title-card offset-md-3 col-md-6 text-center ls-text-">
                    <label style="font-size: 14px;font-weight: 600;">Suggested Shortfall Items</label>
                  </mat-card>
                  <mat-divider style="margin:10px;"></mat-divider>
                  <table mat-table [dataSource]="shortfallSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="rowNum">
                      <th mat-header-cell *matHeaderCellDef> No. </th>
                      <td mat-cell *matCellDef="let element"> {{element.rowNum}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="prodCode">
                      <th mat-header-cell *matHeaderCellDef> Component Code </th>
                      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="quantityPer">
                      <th mat-header-cell *matHeaderCellDef> Quantity Per </th>
                      <td mat-cell *matCellDef="let element"> {{element.quantityPer}} </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="exportedQuantity">
                      <th mat-header-cell *matHeaderCellDef> Exported Quantity </th>
                      <td mat-cell *matCellDef="let element"> {{element.quantityExported}} </td>
                    </ng-container>
                    <ng-container matColumnDef="totalExportedQuantity">
                      <th mat-header-cell *matHeaderCellDef> Total Exported Quantity </th>
                      <td mat-cell *matCellDef="let element"> {{element.totalExportQuantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button color="accent"><mat-icon>arrow_upward</mat-icon></button>
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <button mat-icon-button color="accent"><mat-icon>arrow_upward</mat-icon></button>
                      </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <mat-action-row>
                  <button mat-button color="warn" (click)="cancelRow()">Cancel</button>
                  <button mat-button color="primary" (click)="saveRow()">Save</button>
                </mat-action-row>
              </mat-expansion-panel> 
            </mat-accordion>
            <mat-paginator [length]="length"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="pageSizeOptions"
                        (page)="pageEvent = $event"
                        color="primary">
            </mat-paginator>
          </div>
      </div>
    <div class="modal-footer bg-dark">
      <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closePopulateModal>Close</button>
      <button type="button" (click)="polulateLines()" class="btn btn-primary btn-sm">Save</button>
    </div>
  </form>
  </div>
</div>
</div>
<button class="hide" data-toggle="modal" data-target="#create" #openCreateModal></button>
<div class="modal fade modal-maxsize" id="create" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
<div class="modal-dialog modal-size modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="modalContent">Create new Service Claim</h5>
      <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form >
        <div class="modal-body">
          <div class="row">
            <mat-form-field class="col-md-3">
            <mat-label>Services</mat-label>
            <mat-select [formControl]="selectedCompanyServiceID" (selectionChange)="createCompanyServiceSelected($event.value)">
              <mat-option *ngFor="let service of companyServiceList" [value]="service.componyServiceID">{{service.serviceName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="col-md-4">
            <mat-label>Claim Date:</mat-label>
            <input matInput [min]="minClaimDate" [matDatepicker]="createClaimDate" [(ngModel)]="this.selectedClaimDate" [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle matSuffix [for]="createClaimDate"></mat-datepicker-toggle>
            <mat-datepicker #createClaimDate></mat-datepicker>
          </mat-form-field>
          </div>
        </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeCreateModal>Close</button>
        <button type="button" (click)="createCompanyServiceClaim()" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
  </div>
</div>
</div>


