<div class="chat-overlay" *ngIf="this.enableChat && this.showChat"></div>

<div class="chat-container" *ngIf="this.enableChat && this.showChat">
  <div class="row vh-100">
    <div class="col-sm-3">
      <div class="chat-tile">
        <div class="chat-tile-header">
          <h5>Users</h5>
        </div>
        <div class="chat-body user-list">
          <div class="chat-user-group">
            <mat-accordion [multi]="true" *ngIf="this.contactList">
              <mat-expansion-panel
                *ngFor="let contact of this.contactList"
                class="mat-elevation-z0"
                style="background: #f2f2f2"
                [expanded]="true">

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{contact.designation}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <app-chat-user-tile *ngFor="let user of contact.users" [user]="user"></app-chat-user-tile>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div class="chat-tile-footer">
          <div class="row" style="height: auto !important;">
            <div class="col-sm-2">
                <div class="image-container">
                    <img class="chat-profile-image" src="./../../../../assets/dist/images/default.svg"/>
                    <span class="online-status online shadow-sm"></span>
                    &nbsp;
                  </div>
            </div>
            <div class="col-sm-10">
                <p>{{currentUser.firstName}}&nbsp;{{currentUser.surname}}</p>
                <p class="chat-user-email">{{currentUser.email}}</p>
                <p class="chat-user-des">{{currentUser.designation}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="chat-tile">
        <div class="chat-tile-header">
          <h5>Ashton Robertson (Consultant)</h5>
        </div>
        <div class="chat-body">

        </div>
        <div class="chat-tile-footer">
          <form>
            <div class="form-group">
              <button mat-mini-fab class="send-button bg-primary text-light"><span class="mdi mdi-send"></span>
              </button>
              <input type="text" class="form-control shadow" placeholder="type a message..."/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
