@import '~ngx-toastr/toastr.css';
@import './assets/dist/vendors/mdi/css/materialdesignicons.min.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/cdk/overlay-prebuilt.css';


.badge {
  border-radius: 5px;
}

.tile-frost {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

select.form-control {
  outline: none;
}

.collapse-sidebar .menu-title {
  display: none !important;
  transition: visibility 0s, opacity 0.5s linear;
}

.collapse-sidebar .nav .nav-item .nav-link {
  padding-right: 5px !important;
}

.btn-filter {
  background: transparent;
  display: none;
  border: none;
  border-radius: 5px;
  padding: 0;
}

.btn-sort {
  overflow-x: auto;
}


.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.fh {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tile {
  border-radius: 5px !important;
  padding: 25px;
  width: 100%;
  background: #fff;
}

.main {
  padding: 10px 20px 10px 10px;
}

.main-mini {
  padding-top: 10px;
}

.sidebar .nav .nav-item .nav-link {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.nav {
  overflow-x: auto;
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px #f2f2f2 solid;
  transition: ease-in-out 0.3s;
}

.userRecord:hover>td>img {
  border: 1px #4d83ff solid;
  transition: ease-in-out 0.3s;
}

.form-control {
  border: 1px rgba(30, 30, 30, 0.2) solid;
}

.form-control:focus {
  border: 1px #4d83ff solid;

}

.active-page {
  background: #4d83ff;
  color: #f2f2f2;
}

.page-link {
  border: none;
  border-radius: 0;
}

.page-item {
  border: none;
  border-radius: 0;
}

td {
  overflow-x: auto;
}

.btn-sort {
  padding: 0;
  margin: 0;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
}

.btn-sort>p {
  display: inline
}

.btn-sort:hover {
  color: #4d83ff;
}

.hover-pointer {
  cursor: pointer;
}

.order-active {
  color: #4d83ff !important;
}

.order-not-active {
  color: #333333;
}

.table {
  overflow-x: auto;
}

.ls-card-body {
  width: 100%;
  padding: 25px;
}

.headerText {
  text-align: center;
  margin-right: 10px !important;

}

button p .headerText {
  font-size: 0.95rem;
}

.headerBtn {
  overflow-y: hidden;
  overflow-x: hidden;
  text-align: center;
}

.headerChevrons {
  margin-left: -5px !important;
}

.headerSpan {
  display: inline-block !important;
}

.modal {
  border: none;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none !important;
}

.text-button {
  background: transparent;
  color: blue;
  border: none;
  padding: 0;
  margin: 0;

}

.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}

.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}

.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}

.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5;
}

.btn-toggle>.handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}

.btn-toggle.active {
  transition: background-color 0.25s;
}

.btn-toggle.active>.handle {
  left: 1.6875rem;
  transition: left 0.25s;
}

.btn-toggle.active:before {
  opacity: 0.5;
}

.btn-toggle.active:after {
  opacity: 1;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}

.btn-toggle.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}

.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}

.btn-toggle.active {
  background-color: #29b5a8;
}

.btn-toggle.btn-lg {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}

.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}

.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle.btn-lg:before {
  content: 'Off';
  left: -5rem;
}

.btn-toggle.btn-lg:after {
  content: 'On';
  right: -5rem;
  opacity: 0.5;
}

.btn-toggle.btn-lg>.handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left 0.25s;
}

.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}

.btn-toggle.btn-lg.active>.handle {
  left: 2.8125rem;
  transition: left 0.25s;
}

.btn-toggle.btn-lg.active:before {
  opacity: 0.5;
}

.btn-toggle.btn-lg.active:after {
  opacity: 1;
}

.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.6875rem;
  width: 3.875rem;
}

.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}

.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}

.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}

.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle.btn-sm:before {
  content: 'Off';
  left: -0.5rem;
}

.btn-toggle.btn-sm:after {
  content: 'On';
  right: -0.5rem;
  opacity: 0.5;
}

.btn-toggle.btn-sm>.handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}

.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}

.btn-toggle.btn-sm.active>.handle {
  left: 1.6875rem;
  transition: left 0.25s;
}

.btn-toggle.btn-sm.active:before {
  opacity: 0.5;
}

.btn-toggle.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}

.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}

.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
}

.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}

.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}

.btn-toggle.btn-xs:before {
  content: 'Off';
  left: 0;
}

.btn-toggle.btn-xs:after {
  content: 'On';
  right: 0;
  opacity: 0.5;
}

.btn-toggle.btn-xs>.handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left 0.25s;
}

.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}

.btn-toggle.btn-xs.active>.handle {
  left: 1.125rem;
  transition: left 0.25s;
}

.btn-toggle.btn-xs.active:before {
  opacity: 0.5;
}

.btn-toggle.btn-xs.active:after {
  opacity: 1;
}

.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.275rem;
  width: 1.55rem;
}

.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}

.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}

.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}

.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}

.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}

.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}

.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}

.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}


tr td {
  font-size: 1.01rem !important;
}

tr {
  cursor: pointer;
}

p {
  font-size: 1.05rem !important;
}

.pagination-sm .page-link {
  font-size: 1.01rem !important;
}

.footer {
  font-size: 0.95rem;
}

.sidebar-offcanvas {
  overflow: none !important;
}

.btn-add {
  width: 35px;
  height: 35px;
  padding: 3px 0px;
  border-radius: 18px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #71c016;
  color: #fff;
}

.btn-add:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #62ab0e;
  transition: 0.3s;
  color: #fff;
}

.btn-add:active {
  border: 2px solid #79d90b;

}

.btn-add i:hover {
  color: #fff;
}

.modal-body {
  max-height: 70vh !important;
  overflow-y: auto !important;
}

.tile {
  overflow-x: auto;
  width: 100%;
  transition: ease-in-out 0.5s;
  background: #fff;
}

.form-control-invalid {
  border: 3px solid #ff695e !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.invalid-control-label {
  padding: 16px;
  background: #ff695e;
  color: white;
  border-radius: 5px;
  font-size: 12px !important;
  font-weight: 700;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.small-text {
  font-size: 12px !important;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.capture-snackbar {
  background: #4d83ff;
  color: #fff;
  text-align: center;
}

.capture-snackbar-error {
  background: #F55347;
  color: #fff;
  text-align: center;
}

.splitter .mat-dialog-container {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  max-height: 100vh !important;
}

.splitter .mat-dialog-content {
  padding: 0 !important;
  margin: 0 !important;
  max-height: 100vh !important;
  overflow: hidden !important;
}

// /* width */
// ::-webkit-scrollbar {
//   width: 8px !important;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #e0eaff;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #4d83ff;
//   border-radius: 24px;
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #4d83ff;
// }

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

body:hover::-webkit-scrollbar-thumb {
  background: transparent;
}

body.scrolling::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:horizontal:hover,
::-webkit-scrollbar-thumb:vertical:hover {
  background: transparent;
}

::-webkit-scrollbar-thumb:horizontal:active,
::-webkit-scrollbar-thumb:vertical:active {
  background: transparent;
}

.mat-option.mat-active {
  background: rgba(77, 130, 255, 0.3) !important;

}

.mat-option:hover {
  background: rgba(77, 130, 255, 0.3) !important;
}

.minimal-card {
  box-shadow: none !important;
  padding: 0;
}

.key {
  background: #d5d9e0;
  border-radius: 5px;
}

// body
// {
// cursor: url('/src/assets/pattern.png'), url('/src/assets/pattern.png'), auto;
// }

// body
// {
// cursor: url('./assets/pattern.png'), url('./assets/pattern.png'), auto;
// }

.snackbar-notification {
  background: #4d83ff;
  color: #fff;
}
