@import '~ngx-toastr/toastr.css';
@import './assets/dist/vendors/mdi/css/materialdesignicons.min.css';

.badge {
  border-radius: 5px;
}

.tile-frost {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

select.form-control {
  outline: none;
}

.collapse-sidebar .menu-title {
  display: none !important;
  transition: visibility 0s, opacity 0.5s linear;
}

.collapse-sidebar .nav .nav-item .nav-link {
  padding-right: 5px !important;
}

.btn-filter {
  background: transparent;
  display: none;
  border: none;
  border-radius: 5px;
  padding: 0;
}

.btn-sort {
  overflow-x: auto;
}


.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.fh {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.tile {
  border-radius: 5px !important;
  padding: 25px;
  width: 100%;
}

.main {
  padding: 25px;
  padding-left: 10px;
}

.sidebar .nav .nav-item .nav-link {
  padding-left: 10px;
  padding-right: 10;
  text-align: center;
}

.nav {
  overflow-x: auto;
}
