@import '~ngx-toastr/toastr.css';

body {
  background: url('./assets/dist/images/background1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.badge {
  border-radius: 5px;
}

.tile-frost {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

select.form-control {
  outline: none;
}
