@import '~ngx-toastr/toastr.css';

body {
  background: url('./assets/dist/images/background1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.badge {
  border-radius: 5px;
}

.tile-frost {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

select.form-control {
  outline: none;
}

.collapse-sidebar .menu-title{
  display: none !important;
  transition: visibility 0s, opacity 0.5s linear;
}

.collapse-sidebar .nav .nav-item .nav-link {
  padding-right: 5px !important;
}

.btn-filter {
  background: transparent;
  width: 100%;
  display: none;
  border: 2px solid;
  border-radius: 5px;
}

.btn-filter-dark {
  color: #f2f2f2;
  border-color: #f2f2f2;
}

.btn-filter-light {
  color: #333333;
  border-color: #333333;
}

.btn-filter-blue {
  color: #f2f2f2;
  border-color: #333333;
}

.btn-filter-dark:hover {
  background: rgba($color: #f2f2f2, $alpha: 0.2)
}

.btn-filter-light:hover {
  background: rgba($color: #333333, $alpha: 0.2)
}

.btn-filter-blue:hover {
  background: rgba($color: #f2f2f2, $alpha: 0.2)
}

.btn-sort {
  overflow-x: auto;
}
