/* Theme Colors BEGIN */

$primaryAccent: #4d83ff;

$blueTheme: #c4dbff;
$blueThemeText: #121212;

$lightTheme: #f2f2f2;
$lightThemeText: #121212;

$darkTheme: #121212;
$darkThemeText: #f2f2f2;

$pinkTheme: #fdb5fd;
$pinkThemeText: #222222;

$greenTheme: #c4ffbc;
$greenThemeText: #222222;

$peachTheme: #ffd6b5;
$peachThemeText: #121212;

/* END Theme Colors */

.ls-bg-item {
  width: 100%;
  height: 100px;
  cursor: pointer;
}

.ls-bg {
  border-radius: 10px;
  border: none;
}

.ls-tile-dark {
  background: rgba($color: $darkTheme, $alpha: 0.8) !important;
  border-color: rgba($color: $darkTheme, $alpha: 0.8) !important;
  color: $darkThemeText
}

.ls-tile-light {
  background: rgba($color: $lightTheme, $alpha: 0.8) !important;
  border-color: rgba($color: $lightTheme, $alpha: 0.8) !important;
  color: $lightThemeText !important;
}

.ls-tile-blue {
  background: rgba($color: $blueTheme, $alpha: 0.8) !important;
  border-color: rgba($color: $blueTheme, $alpha: 0.8) !important;
  color: $blueThemeText !important;
}

.ls-tile-pink {
  background: rgba($color: $pinkTheme, $alpha: 0.8) !important;
  border-color: rgba($color: $pinkTheme, $alpha: 0.8) !important;
  color: $pinkThemeText;
}

.ls-tile-green {
  background: rgba($color: $greenTheme, $alpha: 0.8) !important;
  border-color: rgba($color: $greenTheme, $alpha: 0.8) !important;
  color: $greenThemeText !important;
}

.ls-tile-peach {
  background: rgba($color: $peachTheme, $alpha: 0.8) !important;
  border-color: rgba($color: $peachTheme, $alpha: 0.8) !important;
  color: $peachThemeText !important;
}

.ls-text-dark {
  color: $darkThemeText !important;
}

.ls-text-light {
  color: $lightThemeText !important;
}

.ls-text-blue {
  color: $blueThemeText !important;
}

.ls-text-pink {
  color: $pinkThemeText !important;
}

.ls-text-green {
  color: $greenThemeText !important;
}

.ls-text-peach {
  color: $peachThemeText !important;
}

.ls-btn-hover-dark,
.ls-btn-hover-light,
.ls-btn-hover-blue,
.ls-btn-hover-pink,
.ls-btn-hover-green,
.ls-btn-hover-peach {
  transition: ease-in-out 0.5s;
}

.ls-btn-hover-dark:hover {
  background: rgba($color: #f2f2f2, $alpha: 0.2);
  transition: ease-in-out 0.5s;
}

.ls-btn-hover-light:hover,
.ls-btn-hover-blue:hover,
.ls-btn-hover-green:hover,
.ls-btn-hover-pink:hover,
.ls-btn-hover-peach:hover {
  background: rgba($color: #000000, $alpha: 0.2);
  transition: ease-in-out 0.5s;
}

// Light table
.table-light,
.table-light>th,
.table-light>td {
  background-color: transparent;
  color: $lightThemeText;
}

.table-light.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba($color: $lightTheme, $alpha: .7)
}

.table-light.table-hover tbody tr:hover {
  color: $lightThemeText;
  background-color: rgba($color: $lightTheme, $alpha: .5)
}

// Dark Table
.table-dark,
.table-dark>th,
.table-dark>td {
  background-color: transparent;
  color: $darkThemeText;
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba($color: $darkTheme, $alpha: .7)
}

.table-dark.table-hover tbody tr:hover {
  color: $darkThemeText;
  background-color: rgba($color: $darkTheme, $alpha: 1);
}

// Blue Table
.table-blue,
.table-blue>th,
.table-blue>td {
  background-color: transparent;
  color: $blueThemeText;
}

.table-blue.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba($color: $blueTheme, $alpha: .7);
}

.table-blue.table-hover tbody tr:hover {
  color: $blueThemeText;
  background-color: rgba($color: $blueTheme, $alpha: 1);
}

// Pink Table
.table-pink,
.table-pink>th,
.table-pink>td {
  background-color: transparent;
  color: $pinkThemeText;
}

.table-pink.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba($color: $pinkTheme, $alpha: .7)
}

.table-pink.table-hover tbody tr:hover {
  color: $pinkThemeText;
  background-color: rgba($color: $pinkTheme, $alpha: 1)
}

// Green Table
.table-green,
.table-green>th,
.table-green>td {
  background-color: transparent;
  color: $greenThemeText;
}

.table-green.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba($color: $greenTheme, $alpha: .7)
}

.table-green.table-hover tbody tr:hover {
  color: $greenThemeText;
  background-color: rgba($color: $greenTheme, $alpha: 1)
}

// Peach Table
.table-peach,
.table-peach>th,
.table-peach>td {
  background-color: transparent;
  color: $peachThemeText;
}

.table-peach.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba($color: $peachTheme, $alpha: .7)
}

.table-peach.table-hover tbody tr:hover {
  color: $peachThemeText;
  background-color: rgba($color: $peachTheme, $alpha: 1)
}

// Buttons

.btn-filter-dark {
  color: $darkThemeText;
  border-color: $darkThemeText;
}

.btn-filter-light {
  color: $lightThemeText;
  border-color: $blueThemeText;
}

.btn-filter-blue {
  color: $blueThemeText;
  border-color: $blueThemeText;
}

.btn-filter-dark:hover {
  background: rgba($color: #f2f2f2, $alpha: 0.2)
}

.btn-filter-light:hover {
  background: rgba($color: #333333, $alpha: 0.2)
}

.btn-filter-blue:hover {
  background: rgba($color: #f2f2f2, $alpha: 0.2)
}

.page-btn-light {
  background: $lightTheme;
  box-shadow: none;
}

.page-btn-light .page-btn-active {
  background: $primaryAccent;
  color: $lightTheme;
  box-shadow: none;
}

.page-btn-light:hover {
  background: $primaryAccent;
  color: $lightTheme;
}

.page-btn-light[disabled] {
  background: $lightTheme;
  color: $lightThemeText;
}

.page-btn-dark {
  background: $darkTheme;
  color: $darkThemeText;
  box-shadow: none;
}

.page-btn-dark:hover {
  background: $primaryAccent;
  color: $darkThemeText;
}

.page-btn-dark[disabled] {
  background: $darkTheme;
  box-shadow: none;
}

.page-btn-dark[disabled]:hover {
  background: $darkTheme;
  box-shadow: none;
}

.page-btn-dark .page-btn-active {
  background: $primaryAccent;
  color: $lightTheme;
  box-shadow: none;
}

.form-control-dark {
  background: #121212 !important;
  color: #f2f2f2 !important;
}

.form-control-dark:focus {
  background: #333333;
  color: #f2f2f2;
}

.modal {
  border: none;
}

.modal-header {
  background: $primaryAccent;
  color: $darkThemeText;
  border-radius: 0;
}

.modal-footer {
  background: $darkTheme;
  color: $darkThemeText;
  border-radius: 0;
}

.upload-button {
  height: 18px;
  background: #4d83ff;
  color: #c4dbff;
  padding: 8px 14px;
  border-radius: 3px;
  font-size: 14px;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.upload-button:hover {
  background: #2e5abe;
  transition: ease-in-out 0.3s;
}

/* Context menu */

.contextmenu{
  position: absolute;
  z-index: 99999999999 !important;

}
.contextmenu .card {
  border:2px solid #4d83ff;
  border-radius: 5px;
  background-color: #4d83ff;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.contextOverlay {
  position: fixed !important;
  display: block !important;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  z-index: 1000 !important;
  cursor: pointer;
}
.context-item {
  color:#fff !important;
  border-radius: 5px !important;
}
.context-item:hover {
  background-color: #F5F5F5 !important;
  color:#4d83ff !important;
  transition: 0.3s !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
