<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <app-table
      *ngIf="this.items"
      [dataset]="this.items"
      [headings]="this.tableHeadings"
      [recordsPerPage]="this.recordsPerPage"
      [rowStart]="this.rowStart"
      [rowEnd]="this.rowEnd"
      [rowCount]="this.rowCount"
      [orderBy]="this.orderBy"
      [orderByDirection]="this.orderDirection"
      [tableHeader]="this.tableHeader"
      (backButtonEvent)="back()"
      (selectedRecord)="selectedRecord($event)"
      (orderChange)="orderChange($event)"
      (pageChange)="pageChange($event)"
      (showingRecordsEvent)="recordsPerPageChange($event)"
      (searchEvent)="searchEvent($event)"
      (addButtonEvent)="add()">
    </app-table>
  </div>
</div>

<button class="hide" data-toggle="modal" data-target="#addItem" #openAddModal></button>
<div class="modal fade" id="addItem" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalContent">Upload Items</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">File Name:&nbsp;{{filePreview}}</label>
          </div>
          <div class="form-group">
            <label for="addItemFile">
              <span class="upload-button"><span class="mdi mdi-upload"></span>&nbsp;Upload</span>
            </label>
            <!-- <button class="btn btn-primary btn-sm" style="margin-top: -8px;" type="button" mat-button (click)="queueBOM($event)">Upload</button> -->
            <input id="addItemFile" hidden #itemFile type="file" (change)="onFileChange($event.target.files)" required>
          </div>
        </div>
        <div class="modal-footer bg-dark">
          <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeAddModal>Close</button>
          <button type="submit" (click)="saveItemUpload()" class="btn btn-primary btn-sm">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>

<app-notification></app-notification>
<app-modal-component></app-modal-component>
