<div #popCont class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}" style="cursor: pointer">
    <div class="card">
      <div class=" popBodyNav">
        <a (click)="Edit()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">Remove</span></a>
        <a (click)="C1Receipts()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">View Supplier C1s</span></a>
        <a (click)="SMDReceipts()" class="nav-link ls-text-{{ currentTheme }} context-item"><span class="menu-title">View Supplier SMDs</span></a>
        </div>
    </div>
</div>
