<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <app-table
      *ngIf="this.tableData"
      [dataset]="this.tableData"
      [headings]="this.tableHeadings"
      [tableHeader]="this.tableHeader"
      [recordsPerPage]="this.recordsPerPage"
      [rowStart]="this.requestModel.rowStart"
      [rowEnd]="this.requestModel.rowEnd"
      (selectedRecord)="selectedRecord($event)"
      (pageChangeEvent)="pageChange($event)"
      (searchEvent)="searchEvent($event)"
      (addButtonEvent)="addCaptureInfoModal()"
      (backButtonEvent)="backToCompanies()">
    </app-table>
  </div>
</div>

<app-menu
  [contextShow]="this.contextMenu"
  [x]="this.contextMenuX"
  [y]="this.contextMenuY"
  (resetContext)="this.selectedRow = -1; this.contextMenu = false">
  <app-context-menu-capture-info (editCaptureInfo)="editCaptureInfo()" (removeCaptureInfo)="removeCapture($event)"></app-context-menu-capture-info>
</app-menu>

<app-notification></app-notification>

<!-- Edit Capture Info -->
<button class="hide" data-toggle="modal" data-target="#editGlossary" #openEditModal></button>
<div class="modal fade" id="editGlossary" tabindex="-1" role="dialog" aria-labelledby="uploadBackgroundLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadBackgroundLabel">Edit</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="editInfo()">
      <div class="modal-body">
      <div class="form-group">
          <input type="text" placeholder="Information" class="form-control"
            [(ngModel)]="this.captureInfo.info" [ngModelOptions]="{standalone: true}" required/>
        </div>
        <div class="form-group">
            <select class="form-control" [selectedIndex]="doctypeSelectedIndex" (change)="onDoctypeChange($event.target.value)" *ngIf="this.doctypeResponse !== undefined">
              <option *ngFor="let doctype of this.doctypeResponse.doctypes" [value]="doctype.doctypeID">{{doctype.name}}</option>
            </select>
          </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeEditModal>Close</button>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>

<!-- Add Capture Info -->
<button class="hide" data-toggle="modal" data-target="#addCaptureInfo" #openAddModal></button>
<div class="modal fade" id="addCaptureInfo" tabindex="-1" role="dialog" aria-labelledby="uploadBackgroundLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadBackgroundLabel">Add</h5>
        <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (submit)="addCapture()">
      <div class="modal-body">
      <div class="form-group">
          <input type="text" placeholder="Information" class="form-control"
            [(ngModel)]="this.requestModelAddInfo.info" [ngModelOptions]="{standalone: true}" required/>
        </div>
        <div class="form-group">
          <select class="form-control" [selectedIndex]="doctypeSelectedIndex" (change)="onDoctypeChange($event.target.value)" *ngIf="this.doctypeResponse !== undefined">
            <option value="-1" selected>Please select a document type</option>
            <option *ngFor="let doctype of this.doctypeResponse.doctypes" [value]="doctype.doctypeID">{{doctype.name}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer bg-dark">
        <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal" #closeAddModal>Close</button>
        <button type="submit" class="btn btn-primary btn-sm">Save</button>
      </div>
    </form>
    </div>
  </div>
</div>
