.row, .col-6 {
  height: 95vh;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.company-container {
  position: absolute;
  bottom: auto;
  right: 0;
  top: 0;
  width: 256px;
  text-align: center;
  z-index: 9999;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: none;
}

.show-company-container {
  opacity: 0.8;
  display: block;
  transition: ease-in-out 0.3s;
}

.company-info:hover {
  background: rgba($color: #f2f2f2, $alpha: 0.9);
  transition: ease-in-out 0.3s;
}

.company-info {
  padding: 24px;
  border-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgba($color: #f2f2f2, $alpha: 0.5);
  transition: ease-in-out 0.3s;
}

.company-bottom .active {
  z-index: 0;
}

.exit-container {
  position: fixed;
  top: 24px;
  right: 24px;
}

.reader-line {
  background: rgba($color: #ffee00, $alpha: 0.5);
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  padding: 48px;
  z-index: 9999999999999;
}

.reader-line-dragger {
  position: absolute;
  top: 24px;
  right: 24px;
}

.capture-right {
  border-radius: 0 !important;
}

.shortcut-highlighter-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
  left: 24px;
}

.shortcut-highlighter {
  margin: auto;
  padding: 24px;
  width: 164px;
  text-align: center;
  border-radius: 24px;
  background: rgba($color: #4d83ff, $alpha: 0.8);
  color: #f2f2f2 !important;
}
