<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>

<div class="dock dock-left d-flex" [ngClass]="{'hide-dock': !this.showDocks, 'hover-dock': !this.showDocks}">
  <div class="">
  <span *ngFor="let attach of this.attachmentListShowing">
    <button tabindex="-1" mat-mini-fab *ngIf="attach !== undefined"
      style="cursor: pointer;margin-bottom: 24px"
      [ngClass]="{statusNone: attach.statusID === 1, 'bg-warning': attach.statusID === 2,
      statusRed: attach.statusID === 3, statusGreen: attach.statusID === 4, statusYellow: attach.attachmentID === this.attachmentID}"
      [matTooltip]="attach.name + ' (' + attach.fileType + ')' + ' - ' + attach.tooltip"
      matTooltipPosition="after"
      (click)="previewCapture(attach.file, attach.attachmentID)">{{ attach.fileType[0] }}
    </button>
    <br>
  </span>
  <span *ngIf="this.attachmentList">
  <button tabindex="-1" mat-mini-fab
  *ngIf="this.attachmentList.length > 4"
  (click)="moreAttachments()"
  style="cursor: pointer;margin-bottom: 24px"
  class="bg-primary text-light"
  matTooltip="More"
  matTooltipPosition="after"><span class="mdi mdi-apps"></span></button>
</span>
</div>
</div>
<div class="dock dock-top-left" [ngClass]="{'hide-dock': !this.showDocks, 'hover-dock': !this.showDocks}">
    <div class="float-left">
      <button tabindex="-1" style="z-index: 99999999999999;" mat-mini-fab (click)="exitCaptureScreen()" class="bg-danger text-light" matTooltip="Close without submitting" matTooltipPosition="below">
        <span class="mdi mdi-close"></span>
      </button>
      &nbsp;&nbsp;
      <button tabindex="-1" style="z-index: 99999999999999;" mat-mini-fab type="button" (click)="submitCapture(false, false, false, 'Submit', 'This attachment will be assessed and reviewed')" class="bg-success text-light" matTooltip="Submit and close" matTooltipPosition="below">
          <span class="mdi mdi-check"></span>
      </button>
      &nbsp;&nbsp;
      <button tabindex="-1" style="z-index: 99999999999999;" mat-mini-fab type="button" (click)="submitCapture(false, true, false, 'Save Progress', 'The entered data will be stored, but not submitted for assessment')" class="bg-primary text-light" matTooltip="Save Progress" matTooltipPosition="below">
        <span class="mdi mdi-content-save"></span>
      </button>
      <ng-container *ngIf="escalated">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button tabindex="-1" style="z-index: 99999999999999;" mat-mini-fab type="button" (click)="submitCapture(false, false, true, 'Resolve Escalation', 'Flag escalation as resolved and send back to capturer')" class="bg-info text-light" matTooltip="Resolve Escalation" matTooltipPosition="below">
          <span class="mdi mdi-chevron-right"></span>
        </button>
        &nbsp;&nbsp;
        <button tabindex="-1" style="z-index: 99999999999999;" mat-mini-fab class="bg-info text-light" (click)="toggleReason()" matTooltip="View Escalation Reason" matTooltipPosition="below"><span class="mdi mdi-eye" ></span>
        </button>
      </ng-container>
      &nbsp;&nbsp;
      <button tabindex="-1" style="z-index: 99999999999999;" mat-mini-fab class="bg-warning text-dark" (click)="toggelEscalate()" matTooltip="Escalate Attachment" matTooltipPosition="below"><span class="mdi mdi-exclamation"></span></button>
    </div>
</div>
<div class="dock dock-top" [ngClass]="{'hide-dock': !this.showDocks, 'hover-dock': !this.showDocks}">
    <div class="text-center">
      <button tabindex="-1" style="z-index: 99999999999999;" mat-mini-fab (click)="companyInfo()" class="bg-primary text-light" matTooltip="Company Information" matTooltipPosition="below"><span class="mdi mdi-information-variant"></span></button>&nbsp;&nbsp;
      <button tabindex="-1" style="z-index: 99999999999999;" mat-mini-fab (click)="this.showHelp = !this.showHelp" class="bg-primary text-light" matTooltip="Help" matTooltipPosition="below"><span class="mdi mdi-help"></span></button>&nbsp;&nbsp;
      <button tabindex="-1" style="z-index: 99999999999999;" mat-mini-fab (click)="fileIsMissing();" class="bg-warning text-darak" matTooltip="File is Missing" matTooltipPosition="below"><span class="mdi mdi-file-hidden"></span></button>
    </div>
</div>
<div class="row" [style.backgroundImage]="'url(' + currentBackground + ')'">
<div class="col-6 bg-light" style="overflow-y: auto; padding-top: 64px; padding-bottom: 64px;">
  <div class="reader-line" ngDraggable [inBounds]="true" [lockAxis]="'x'" [position]="{ x: this.currentReaderPOS.x, y: this.currentReaderPOS.y }">
    <span class="mdi mdi-drag" style="position: absolute; right: 14px; top: 1px;"></span>
  </div>
  <app-document-viewer [focus]="this.focusPDF" [(source)]="PDFSource"></app-document-viewer>
</div>
<div class="col-6 capture-right tile justify-items-center align-items-center" style="padding: 48px 0;overflow-y: auto;">
  <app-view-capture-transaction
    *ngIf="captureData && currentDoctype"
    [(capture)]="captureData"
    [(currentDoctype)]="currentDoctype"></app-view-capture-transaction>
  <div class="company-container" [ngClass]="{'show-company-container': this.companyShowToggle}">
    <div class="company-info shadow text-left" *ngIf="this.companyInfoList !== undefined">
      <div *ngFor="let info of this.companyInfoList.captureInfo" class="info-item">
        <p>{{info.info}}</p>
      </div>
      <div class="info-item bg-transparent text-muted" *ngIf="this.noCaptureInformation">
        <p>No Capture Info</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="shortcutView" *ngIf="this.showHelp">
  <div class="overlay" (click)="this.showHelp = false;">
    <img src="./../../../assets/svg/keyboard-shortcuts/CaptureLines.png" />
  </div>
</div>

<app-notification></app-notification>

<button tabindex="-1" class="hide" data-toggle="modal" data-target="#timeout" #opentimeoutModal></button>
<div class="modalcustom fade no-click-backdrop" id="timeout" tabindex="-1" role="dialog" aria-labelledby="modalContent" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div  class="modal-header modal-white">
        <h5 class="modal-title modal-white" id="modalContent">Warning!</h5>
        <button tabindex="-1" type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form >
      <div class="modal-body">
        <div class="row" style="height: auto;">
            <img class="imageposition" src="../../../assets/dist/images/warning.png" alt="warning"/>
          <p class="modal-message padleft100">Due to inactivity you will be logged out in {{count}} seconds</p>
          <p class="modal-message padleft100">Click "Extend Session" button to continue working</p>
        </div>
      </div>
      <div class="modal-footer modal-white">
        <button tabindex="-1" style="color: white; background-color: rgb(103, 150, 252)" (click)="ResetSessionTimer()" type="button" class="btn btn-sm" data-dismiss="modal" #closetimeoutModal>Extend Session</button>
      </div>
    </form>
    </div>
  </div>
</div>
