<ng-keyboard-shortcuts *ngIf="shortcuts" [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<br>
<ng-container *ngIf="data === null">
  <button mat-raised-button class="bg-success text-light" (click)="submit(form)">Queue Creation</button>
</ng-container>
<ng-container *ngIf="data !== null">
  <p><small>Use "<span class="key">ALT</span> + <span class="key">A</span>" to create or update the current line</small></p>
</ng-container>
<br><br>
<ng-container *ngIf="unsavedChanges">
  <mat-card class="bg-warning">
    <mat-card-content>
      <p><strong>WARNING</strong> You have unsaved changes</p>
      <small>When finished press <strong>ALT + A</strong> to save changes</small>
    </mat-card-content>
  </mat-card>
  <br><br>
</ng-container>
<form [formGroup]="form" (ngSubmit)="submit(form)">
  <div class="row">
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Common Factor
        </mat-label>
        <input matInput type="text" formControlName="commonFactor" #startLineForm (focusin)="updateHelpContext('form-customs-worksheet-line-commonfactor')" #startLineForm>
        <button mat-icon-button type="button" *ngIf="form.controls.commonFactorOBit.value" matSuffix (click)="undoOverride('commonFactor')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>
        <mat-hint *ngIf="form.controls.commonFactorOBit.value">OVERRIDE: {{form.controls.commonFactorOReason.value}}</mat-hint>
        <button mat-icon-button type="button" *ngIf="!form.controls.commonFactorOBit.value && form.controls.commonFactor.errors?.incorrect" matSuffix (click)="overrideDialog('commonFactor', 'Common Factor')" matTooltip="Override"><mat-icon>remove_circle</mat-icon></button>
        <mat-error *ngIf="!form.controls.commonFactorOBit.value  && form.controls.commonFactor.errors?.incorrect">{{getError('commonFactor')}}</mat-error>
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Customs Value
        </mat-label>
        <input matInput type="text" formControlName="custVal" (focusin)="updateHelpContext('form-customs-worksheet-line-custval')">
        <button mat-icon-button type="button" *ngIf="form.controls.custValOBit.value" matSuffix (click)="undoOverride('custVal')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>
        <mat-hint *ngIf="form.controls.custValOBit.value">OVERRIDE: {{form.controls.custValOReason.value}}</mat-hint>
        <button *ngIf="form.controls.custValError.value && !form.controls.custValOBit.value" mat-icon-button type="button" matSuffix (click)="overrideDialog('custVal', 'Customs Value')" matTooltip="Override"><mat-icon>remove_circle</mat-icon></button>
        <mat-error *ngIf="form.controls.custValError.value && !form.controls.custValOBit.value">{{form.controls.custValError.value}}</mat-error>
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Invoice Line Number
        </mat-label>
        <input matInput type="number" formControlName="invLineNumb" #startLineForm (focusin)="updateHelpContext('form-customs-worksheet-line-invLineNumb')">
        <!-- <mat-error *ngIf="!form.controls.commonFactorOBit.value  && form.controls.commonFactor.errors?.incorrect">{{getError('commonFactor')}}</mat-error> -->
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          SAD Line Number
        </mat-label>
        <input matInput type="number" formControlName="sadLineNumb" (focusin)="updateHelpContext('form-customs-worksheet-line-sadLineNumb')">
        <!-- <mat-error *ngIf="form.controls.custValError.value && !form.controls.custValOBit.value">{{form.controls.custValError.value}}</mat-error> -->
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Quantity
        </mat-label>
        <input matInput type="text" formControlName="hsQuantity" (focusin)="updateHelpContext('form-customs-worksheet-line-hsquantity')">
        <button mat-icon-button type="button" *ngIf="form.controls.hsQuantityOBit.value" matSuffix (click)="undoOverride('hsQuantity')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>
        <mat-hint *ngIf="form.controls.hsQuantityOBit.value">OVERRIDE: {{form.controls.hsQuantityOReason.value}}</mat-hint>
        <button mat-icon-button type="button" *ngIf="!form.controls.hsQuantityOBit.value && form.controls.hsQuantityError.value" matSuffix (click)="overrideDialog('hsQuantity', 'HS Quantity')" matTooltip="Override"><mat-icon>remove_circle</mat-icon></button>
        <mat-error *ngIf="!form.controls.hsQuantityOBit.value  && form.controls.hsQuantityError.value">{{form.controls.hsQuantityError.value}}</mat-error>
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Foreign Inv Value
        </mat-label>
        <input matInput type="number" formControlName="foreignInv" (focusin)="updateHelpContext('form-customs-worksheet-line-foreigninv')">
        <button mat-icon-button type="button" *ngIf="form.controls.foreignInvOBit.value" matSuffix (click)="undoOverride('foreignInv')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>
        <mat-hint *ngIf="form.controls.foreignInvOBit.value">OVERRIDE: {{form.controls.foreignInvOReason.value}}</mat-hint>
        <button mat-icon-button type="button" *ngIf="!form.controls.foreignInvOBit.value && form.controls.foreignInvError.value" matSuffix (click)="overrideDialog('foreignInv', 'foreignInv')" matTooltip="Override"><mat-icon>remove_circle</mat-icon></button>
        <mat-error *ngIf="!form.controls.foreignInvOBit.value  && form.controls.foreignInvError.value">{{getError('foreign Inv')}}</mat-error>
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-6">
      <mat-form-field appearance="fill" >
        <mat-label>
          Duty
        </mat-label>
        <input matInput type="number" formControlName="duty" (focusin)="updateHelpContext('form-customs-worksheet-line-duty')">
        <button mat-icon-button type="button" *ngIf="form.controls.dutyOBit.value" matSuffix (click)="undoOverride('duty')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>
        <mat-hint *ngIf="form.controls.dutyOBit.value">OVERRIDE: {{form.controls.dutyOReason.value}}</mat-hint>
        <button *ngIf="form.controls.dutyError.value && !form.controls.dutyOBit.value" mat-icon-button type="button" matSuffix (click)="overrideDialog('duty', 'Duty')" matTooltip="Override"><mat-icon>remove_circle</mat-icon></button>
        <mat-error *ngIf="form.controls.dutyError.value && !form.controls.dutyOBit.value">{{form.controls.dutyError.value}}</mat-error>
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-4">
      <mat-form-field appearance="fill" >
        <mat-label>
          Supply Unit
        </mat-label>
        <input matInput formControlName="supplyUnit" (focusin)="updateHelpContext('form-customs-worksheet-line-supplyUnit')">
        <button mat-icon-button type="button" *ngIf="form.controls.supplyUnitOBit.value" matSuffix (click)="undoOverride('supplyUnit')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>
        <mat-hint *ngIf="form.controls.supplyUnitOBit.value">OVERRIDE: {{form.controls.supplyUnitOReason.value}}</mat-hint>
        <button *ngIf="form.controls.supplyUnitError.value && !form.controls.supplyUnitOBit.value" mat-icon-button type="button" matSuffix (click)="overrideDialog('supplyUnit', 'Supply Unit')" matTooltip="Override"><mat-icon>remove_circle</mat-icon></button>
        <mat-error *ngIf="form.controls.supplyUnitError.value && !form.controls.supplyUnitOBit.value">{{form.controls.supplyUnitError.value}}</mat-error>
      </mat-form-field>
      <br><br>
    </div>
    <div class="col-8">
      <!-- Override -->
      <ls-autocomplete-units-of-measure [transstatus]="transstatus" [status]="status" [(control)]="form.controls.unitOfMeasureID" [helpSlug]="'form-cws-line-uom'"></ls-autocomplete-units-of-measure>
      <br><br>
    </div>
    <div class="col-12" >
      <ls-autocomplete-currency [transstatus]="transstatus" [status]="status" [(control)]="form.controls.currencyID" [helpSlug]="'form-customs-worksheet-line-currency'"></ls-autocomplete-currency>
      <br><br>
    </div>
    <div class="col-12" >
      <ls-autocomplete-coo [transstatus]="transstatus" [status]="status" [(control)]="form.controls.cooID" [helpSlug]="'form-customs-worksheet-line-coo'"></ls-autocomplete-coo>
      <br><br>
    </div>
    <div class="col-12" >
      <ls-autocomplete-tariffs [transstatus]="transstatus" [status]="status" [(control)]="form.controls.tariffID" [helpSlug]="'form-customs-worksheet-line-tariff-description'"></ls-autocomplete-tariffs>
      <br><br>
    </div>
    <div class="col-12">
      <mat-form-field appearance="fill" >
        <mat-label>
          Invoice No
        </mat-label>
        <input matInput formControlName="invoiceNo" (focusin)="updateHelpContext('form-customs-worksheet-line-invoiceno')">
        <button mat-icon-button type="button" *ngIf="form.controls.invoiceNoOBit.value" matSuffix (click)="undoOverride('invoiceNo')" matTooltip="Remove Override"><mat-icon>clear</mat-icon></button>
        <mat-hint *ngIf="form.controls.invoiceNoOBit.value">OVERRIDE: {{form.controls.invoiceNoOReason.value}}</mat-hint>
        <button mat-icon-button type="button" *ngIf="!form.controls.invoiceNoOBit.value && form.controls.invoiceNoError.value" matSuffix (click)="overrideDialog('invoiceNo', 'Invoice No')" matTooltip="Override"><mat-icon>remove_circle</mat-icon></button>
        <mat-error *ngIf="!form.controls.invoiceNoOBit.value  && form.controls.invoiceNoError.value">{{form.controls.invoiceNoError.value}}</mat-error>
      </mat-form-field>
      <br><br>
    </div>
  </div>
  <br><br><br><br><br>
</form>
<loader *ngIf="loader"></loader>
