<div class="shadow tile ls-tile-{{ currentTheme }}">
  <div class="ls-card-body">
    <div class="float-right">
      <ng-container *ngIf="showLoader">
        <app-loader></app-loader>
      </ng-container>
    </div>
    <app-table
      *ngIf="this.alternateitems"
      [dataset]="this.alternateitems"
      [headings]="this.tableHeadings"
      [recordsPerPage]="this.showingRecords"
      [rowStart]="this.rowStart"
      [rowEnd]="this.rowEnd"
      [rowCount]="this.rowCount"
      [orderBy]="this.orderBy"
      [orderByDirection]="this.orderDirection"
      [tableHeader]="this.tableHeader"
      (selectedRecord)="selectedRecord($event)"
      (orderChange)="orderChange($event)"
      (pageChange)="pageChange($event)"
      (showingRecordsEvent)="recordsPerPageChange($event)"
      (searchEvent)="searchEvent($event)"
      (backButtonEvent)="backToItems()">
    </app-table>
  </div>
</div>

<app-notification></app-notification>
<app-modal-component></app-modal-component>
<app-menu
  [contextShow]="this.contextMenu"
  [x]="this.contextMenuX"
  [y]="this.contextMenuY"
  (resetContext)="this.selectedRow = -1; this.contextMenu = false">
  <app-context-menu-items-group (removeItemGroup)="removeItemGroup($event)"></app-context-menu-items-group>
</app-menu>

