<div #popCont class="contextmenu" [ngStyle]="{'left.px': x, 'top.px': y}" style="cursor: pointer">
  <div class="card">
    <div class=" popBodyNav">
      <a (click)="Edit()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Edit</span></a>
      <a (click)="companyInfo()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Info</span></a>
      <a (click)="companyAddresses()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Addresses</span></a>
     <!-- <a (click)="companyContacts()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Contacts</span></a> -->
      <a (click)="companyServices()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Services</span></a>
      <a (click)="companyItems()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Items</span></a>
      <a (click)="ServiceClaims()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Service Claims</span></a>
      <a (click)="companyPermits()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Permits</span></a>
      <a (click)="companyBOMs()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">BOM's</span></a>
      <a (click)="viewTransactions()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Transactions</span></a>
      <a (click)="captureInfo()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Capture Information</span></a>
      <a (click)="oemList()" class="nav-link ls-text-{{ currentTheme }}"><span class="menu-title">Manage OEMs</span></a>
    </div>
  </div>
</div>
